[2019-10-18 18:55] Thenerdstation commented on #312
Yes `add_subnetwork` and `merge_subnetworks` are no longer needed.

`get_final_node` is also no longer needed, as the contractors return only a `Node` now.

`switch_backend` could still be added. Just have it accept an `Iterable[BaseNode]`.

[2019-10-18 19:11] MichaelMarien commented on #312
We were throwing errors when a TensorNetwork was created in a backend that is not available. Do we want this now when a node is created?

[2019-10-18 19:32] Thenerdstation commented on #312
Yes.

[2019-10-18 19:44] MichaelMarien commented on #312
Ok, almost through it, just need to fix the bucket contractor thingy.

[2019-10-18 20:03] Thenerdstation commented on #312
:+1:

[2019-10-19 11:01] MichaelMarien commented on #303
I don't mind looking at this if it's not urgent. Probably won't have time before December.

[2019-10-20 04:37] jsalsman opened #334 "General classifier and HMM code for tensor networks"
@sleichen @Thenerdstation thank you both for your fantastic work; I was so glad to meet you at your afternoon talk on Monday October 7, 2019. I have made no progress to speak of on my attempt at a tensor contraction-based gradient descent classifier, but I did find this:

https://github.com/glivan/tensor_networks_for_probabilistic_modeling

which is for: https://arxiv.org/pdf/1907.03741.pdf

They

[2019-10-20 17:13] jsalsman commented on #334
@sleichen @Thenerdstation so, if you use the above .fit() on a vector X = [v1 ... vn] can v1 be the dependent variable into which you are trying to fit? If so, how do you ask for the v1 for a [v2 .. vn]? This is essentially the same question I got to on the code I was attempting for you:

`def gradient_decent(av=np.array([1,1,1,1,1,1,1,1,1,1], dtype=np.float32),
                    bv=np.array([1,

[2019-10-21 02:25] jsalsman commented on #334
Oh, here, they use the classifier interface from the pomegranate library they adapt: https://pomegranate.readthedocs.io/en/latest/NaiveBayes.html

@Thenerdstation the question remains, can we easily port this to use TN? I'm guessing it's at least one if not two orders of magnitude easier for you and/or your team's resources, so I'm punting unless mistaken about that, and very glad to have found th

[2019-10-22 05:47] Thenerdstation opened #339 "Add `with tn.DefaultBackend("backend_name"):` support"
Currently, the only way to set a backend for a `Node` is either manually set it for each node or globally with `set_defualt_backend`. It would be nice to have a context manager instead, as it would be cleaner.

[2019-10-22 21:52] Aamir1551 commented on #293
Draft link for the second article: https://medium.com/@aamirsoni1551/penroses-graphical-notation-fe4c2f24cf3b

Are there any improvements required before publishing?
Thanks

[2019-10-23 10:29] Aamir1551 commented on #293
Link to the second published article:
https://medium.com/@aamirsoni1551/penroses-graphical-notation-fe4c2f24cf3b

[2019-10-23 13:01] mchav commented on #339
Will work on this.

[2019-10-23 16:02] Thenerdstation commented on #339
Great! Go for it

[2019-10-23 20:09] Thenerdstation opened #343 "Implement block sparsity support"
Block sparsity is needed for many physics applications.

[2019-10-23 21:01] mganahl commented on #343
you can  assign me to this

[2019-10-24 02:03] mchav commented on #339
Discussed this offline and I'm not sure a context manager would be the way to do this. Especially since by design they are typically meant to manage resources. In this case we want to capture common state which is what a context manager does but only as a bi-product of handling a resource.

I think we should instead have a context object that holds any "global" state specific to node creation.

[2019-10-24 20:08] Thenerdstation opened #344 "Add `tn.copy_node`"
The `tn.copy` operation is a little API heavy for just copying a single node. For example, the shortest code you can write to copy a single node looks like:

[code]

The `[0][a]` can be kinda messy, so it would be nice to have just a `tn.copy_node` operation to make this more obvious.

[2019-10-24 20:16] MichaelMarien commented on #344
Perhaps `tn.copy_node` is not the best naming convention, given we have a `CopyNode`class?

[2019-10-24 20:20] Thenerdstation commented on #344
oh shoot good point.

[2019-10-24 20:20] Thenerdstation commented on #344
I am open to suggestions. I agree we shouldn't use this name.

[2019-10-25 03:44] ayush2804 commented on #344
Can I work on this issue?

[2019-10-25 03:46] Thenerdstation commented on #344
Go for it.

[2019-10-25 04:58] ayush2804 commented on #344
ok@Thenerdstation

[2019-10-25 16:54] Thenerdstation opened #345 "We have a logo!"
Check it out!

<img width="889" alt="tensorNetworkLogoweb" src="https://user-images.githubusercontent.com/8702042/67589472-5a1d0e80-f70d-11e9-8812-64647814ae96.png">

[2019-10-25 16:55] mganahl commented on #345
awesome!!!

[2019-10-25 17:01] #345 closed

[2019-10-25 19:57] #312 closed

[2019-10-25 20:00] MichaelMarien commented on #325
#312 is closed, @darkMatter00 go for it!

[2019-10-25 20:02] Thenerdstation commented on #325
Yes go for it.

[2019-10-25 20:28] #291 closed

[2019-10-25 23:07] amilsted opened #349 "Backends have fixed dtypes"
Why is it that, currently, backends have a dtype field? Judging by how it is used in `convert_to_tensor()`, it seems to be forced on all tensors if it is set (not `None`), with exceptions raised if, e.g. I try to create a tensor from real valued inputs (`float64`) when the dtype is complex (`complex128`).

This surprised me - I could imagine it being the "default" dtype for new tensors, but I didn

[2019-10-25 23:13] amilsted opened #350 "Making a vector from a list of scalars: Add stack()?"
I want to take a list of scalar values and make a vector of it using backend operations. This seems to be tricky at the moment! My initial attempt was:
[code]
This fails, since I cannot concatenate zero-dimensional arrays.

Perhaps we should have a backend.stack()?

[2019-10-25 23:46] Thenerdstation commented on #350
Yes, backend.concat is ONLY for shape calculations (we really should change the name).

I'd prefer to change backend.concat to backend.shape_concat.

[2019-10-25 23:47] Thenerdstation commented on #349
This was left over from the `TensorNetwork` to ensure that all of the Tensors had the same dtype in the network, as mixing dtypes caused issues in some cases. I'm willing to change it though.

[2019-10-26 18:30] mganahl commented on #349
Yes, I think `Node.dtype` should just return `tensor.dtype`, and we should remove `dtype` completely from the backends.

The backend in `Node` is initialized with `dtype` field is set to `None`. Later on, the backend object deduces its `dtype` from `tensor.dtype` at the end of initialization of `Node`. The whole process is a bit convoluted, so I'd welcome a simplification.

[2019-10-27 07:06] Thenerdstation commented on #349
Yeah, I think it'll be easier to remove `dtype` from the backend entirely and just check dtypes when nodes are connected

[2019-10-29 16:45] Thenerdstation opened #353 "Add better __repr__ for Node class"
We don't have a good repr for the `Node` class yet.

[2019-10-29 17:49] beinganonymous commented on #353
@Thenerdstation How do you want the representation to be ?

[2019-10-29 17:57] Thenerdstation commented on #353
Good question! I think we should discuss it on here.

Ideally we should print these things: the node's name, it's underlying tensor value, its edges and how it's connected to other Nodes.

I'm open to hearing ideas about how it should be formatted

[2019-10-29 21:00] jypark0 opened #354 "Other decomposition methods (CP, Tucker)"
It would be great to have other general tensor decomposition methods besides SVD and QR, such as CP/tensor rank or Tucker. Thank you!

[2019-10-30 00:40] Thenerdstation commented on #339
In situations like the one above where classes that use/extend the library, having an easy way to make sure all nodes created have the same backend (vs pass `self.backend.name` to each created `Node`) would be preferable.

[2019-10-30 01:16] mchav commented on #339
Agreed. But I think:

[code]

Is more idiomatic than:

[code]

For a couple of reasons.

* Context managers are usually used to [manage resources](https://book.pythontips.com/en/latest/context_managers.html) and this situation has no resource that needs to be managed or is in contention.
* The design seems brittle. For example suppose a new parameter, similar to backend, was added to the node clas

[2019-10-30 18:54] Thenerdstation opened #355 "rename backend shape methods"
Some shape methods like `prod`, `concat`, and `shape` are exclusively used for shape calculations, but the naming is confusing. We should change these.

Suggested changes:

`prod` -> `shape_prod`
`concat` -> `shape_concat`
`shape` -> `shape_tensor` (as to differentiate it from `shape_tuple`)

[2019-10-30 18:56] Thenerdstation opened #356 "Allow a user to build and use their own backend."
We should make `BaseBackend` accessible directly through the `tn` module and we should allow `Node(backend=...)` and `tn.set_default_backend(...)` to both accept string names of the backends as well as custom backend classes.

[2019-10-30 22:58] #328 closed

[2019-10-30 22:59] #233 closed

[2019-10-31 00:32] Thenerdstation commented on #296
#333 fixed this.

[2019-10-31 00:32] #296 closed

[2019-10-31 00:32] Thenerdstation commented on #279
#333 fixed this.

[2019-10-31 00:32] #279 closed

[2019-10-31 00:33] Thenerdstation commented on #205
#352 largely did this.

[2019-10-31 00:33] #205 closed

[2019-10-31 00:36] Thenerdstation commented on #196
#330 fixed this.

[2019-10-31 00:36] #196 closed

[2019-10-31 00:36] Thenerdstation commented on #31
Closing as this is out of our scope.

[2019-10-31 00:36] #31 closed

[2019-10-31 00:41] Thenerdstation commented on #329
#332 fixed this.

[2019-10-31 00:41] #329 closed

[2019-10-31 00:42] Thenerdstation commented on #334
Thank you for your inputs!

Closing this now as I'm not sure there is much we can add.

[2019-10-31 00:47] Thenerdstation commented on #349
@mganahl wanna take lead on this?

[2019-10-31 01:50] jsalsman commented on #334
@Thenerdstation I was going to try to do this at the Developer Sprint in San Mateo.
It's MIT licensed -- https://github.com/glivan/tensor_networks_for_probabilistic_modeling/blob/master/LICENSE -- do you have additional code review requirements?

[2019-10-31 01:56] Thenerdstation commented on #334
Nothing specific other than standard Google code review.

[2019-10-31 02:29] jsalsman commented on #334
Please assign it to me and I will write up copious notes and copy over the minimal parts to do a native bayes classified, hopefully well before the sprints next Wednesday and Thursday, in an ordinary pull request, and if you like it you can add the HMM parts later on. The simple classifier should be easy given the work the Germans have already done in their very similar library.

[2019-10-31 03:53] mganahl commented on #349
cando!

[2019-10-31 21:14] drigio commented on #353
Hey @beinganonymous @Thenerdstation mind if I look into this? :)

[2019-10-31 21:23] beinganonymous commented on #353
Sure go ahead I was going to ask to reassign this to someone else anyways. @drigio

[2019-10-31 21:23] Thenerdstation commented on #353
Go for it!

[2019-10-31 21:37] drigio commented on #353
Thanks!
[code]
@Thenerdstation How about such a format? What are your thoughts?

[2019-11-04 08:17] Patil2099 commented on #355
@Thenerdstation Can I work on this issue?

[2019-11-04 20:29] mganahl opened #363 "add switch_backend to BaseMPS"

[2019-11-04 21:01] #349 closed

[2019-11-04 21:53] Thenerdstation commented on #355
Sure, go for it.

But be aware, it's a big change and all of the tests have to pass before we pull it in.

[2019-11-05 00:47] #315 closed

[2019-11-05 00:49] Thenerdstation commented on #353
Looks pretty nice!

Here is what I would change:

1. For the edges, be sure to include the axis numbers/names
2. Perhaps make this multiple lines?

Thanks for taking time in looking into this!

[2019-11-05 01:05] amilsted opened #366 "RFC: QuantumOperator"
So I spent a little time [sketching](https://github.com/amilsted/TensorNetwork/blob/quantum/tensornetwork/quantum/quantum.py) some abstractions for quantum states and operators.

The intention is for this sort of thing to work:
[code]
...and so on.

It would be natural to also have `FiniteMPS.as_quantum_state()`, which would return a `QuantumKet` for the MPS network.

Thoughts?

By the way, for a

[2019-11-05 17:52] Thenerdstation commented on #366
I really like this!

Why do you need edges that are not connected to any nodes? Seems like you only use it for `QuantumIdentity`, which to me seems like you can just do `np.eye(...)` instead

[2019-11-05 19:01] amilsted commented on #366
Yes, this was for `QuantumIdentity`. I wanted to avoid explicitly building identity tensors (contracting with an explicit identity tensor adds a factor of the index dimension to the contraction cost!) and, since an edge is already an identity tensor, I was hoping just to have the same unconnected Edges in both `in_edges` and `out_edges`. Alternatively, we could have a dummy "identity tensor" Node

[2019-11-05 19:40] Thenerdstation opened #367 "Add FiniteMPS to docs/"
Add it to docs so people can use it more easily.

[2019-11-05 19:41] Thenerdstation commented on #367
@mganahl I'm assigning this to you if you don't mind.

[2019-11-06 00:55] amilsted commented on #366
@Thenerdstation @mganahl @MichaelMarien I am really wondering whether this should be "tensor-network" linear algebra abstraction rather than "quantum". Should I rename "Quantum" -> "TN" (TensorNetwork), "Operator" -> "Matrix"? Quantum sure is trendy, but the rename might make this more broadly accessible?

[2019-11-06 15:40] mganahl commented on #367
no problem

[2019-11-06 18:50] #331 closed

[2019-11-06 20:25] mganahl commented on #366
I'm in favor of the "TN" and "Operator" names, but I don't have a strong opinion.

[2019-11-06 21:00] Thenerdstation commented on #366
I have a weak prefence to "Quantum", but let's talk about it during our meeting this week

[2019-11-06 21:37] Thenerdstation commented on #191
Our `tn.copy` method supports sub graph copying, so this should largely mitigate this issue I believe. @Bonnevie does this work for most of your use cases?

[2019-11-06 21:41] Thenerdstation commented on #248
Hmm. So I've been thinking about this and I think I might know the issue.

So in JAX, we convert numpy arrays to jax's numpy arrays via a `jax.jit` call on an identity function (see https://github.com/google/TensorNetwork/blob/f62cc5269dfc09662ae9ced7325ba8787b0a2c27/tensornetwork/backends/jax/jax_backend.py#L38).

I have a bad feeling this is the issue.

[2019-11-06 21:45] fangzhangmnm opened #372 "Enable contractor contraction on disconnected graphs"
When we are using tensor network to represent a tensor in the quantum physics, there is no rule that the network must be connected. for example, we can represent an exterior product from two non-connected nodes.

[2019-11-06 21:52] Thenerdstation commented on #372
Thanks for your issue!

How would you want the final result returned? We can either

1. Outer product the final set of tensors together or
2. Return the nodes in a set.

Option 1 would be the easiest to implement on our side. Option 2 might be difficult for the user to use, since the nodes are in a set and can be hard to distinguish.

[2019-11-06 21:53] Thenerdstation commented on #372
Well actually now that I think about it both would be amount equal in difficult to implement. I still prefer 1 as that is what I assume you actually want.

[2019-11-06 21:57] fangzhangmnm commented on #372
1 is what I wanted in my current project. 2 might be helpful when there is a memory bottleneck.  However, if optimization is needed, one should explicitly split the graph, so i feel 2 is not very useful.

I just found there is a "tensornetwork.outer_product_final_nodes" method which might turn 2 to 1.
Thank you very much

[2019-11-06 22:01] Thenerdstation commented on #372
We should be able to do this automatically for you though. I can do this pretty easily, as all we have to do is contract each disconnected subnetwork and then just outerproduct the results.

I can add this in the next release.

[2019-11-07 00:17] Thenerdstation commented on #372
So I wrote something I thought would fix it but I'm hitting a crash in the opt_einsum library. It's likely my fault, so I'll follow up on this next week.

[2019-11-07 20:50] Thenerdstation commented on #366
Actually I changed my mind. I think we can just get rid of the word "quantum" in all of these and just use their secondary names exclusively. So `QuantumKet` -> `Ket`, `QuantumOperator` -> `Operator`. I think that would be best.

[2019-11-07 22:50] amilsted commented on #366
At the moment I've settled on [QuOperator etc.](https://github.com/amilsted/TensorNetwork/blob/quantum/tensornetwork/quantum/quantum.py). I also added some blurb to justify:

have a preferred tensor-product factorization. Tensor networks are a natural
way to represent vectors and operators (matrices) involving these spaces. Hence
we provide some simple abstractions to ease linear algebra operation

[2019-11-07 22:51] amilsted commented on #366
I am currently deciding how best to treat scalars (need to keep some reference nodes, since there are no dangling edges). After that, I'll submit a PR!

[2019-11-07 22:59] amilsted commented on #372
I would also like to have this, and prefer option 1.

We should also probably have a function that identifies and returns all disconnected subnetworks from a given set of nodes.

[2019-11-07 23:56] Thenerdstation commented on #372
I can add both

[2019-11-08 00:44] Thenerdstation commented on #372
Turns out it was way easier than I thought it would be.

[2019-11-08 14:58] drigio commented on #353
I don't have an idea about how to display the axis numbers. By far what I've achieved is :
[code]
Also would be good if you'd point me how to fetch the axis names from the edges!
Apologies for the late responses.

[2019-11-08 19:25] #372 closed

[2019-11-08 19:49] rutujasurve commented on #190
Hi,
I would like to contribute to this issue.

[2019-11-08 19:50] Thenerdstation commented on #190
Great! Go for it.

[2019-11-08 21:02] Thenerdstation commented on #372
All contractors should support disconnected graphs now. This will be included in the next release cycle.

[2019-11-08 21:30] rutujasurve commented on #190
Thanks a lot, could you assign me the same?
I am going through Lorentzian broadening and MXNet. Will keep updating with my findings. Any leads wrt previous experiments (how they were run) / results apart from[ torchsvd code](https://github.com/wangleiphy/TRG/blob/master/torchsvd.py) would be very helpful.

[2019-11-08 22:03] Thenerdstation commented on #190
Assigned it to you. As for experiments, we don't have any in particular you can run, unless @sidek has something.

[2019-11-08 22:24] Thenerdstation commented on #353
I think this should be good for now. Thanks for building this! I look forward to the PR.

[2019-11-08 22:28] Thenerdstation commented on #353
Maybe my only change would be to change
[code]

to
[code]
since `nodea[0] ^ nodeb[0]` is a pretty common way to connect nodes together in this library.

[2019-11-09 07:49] MichaelMarien commented on #366
Thanks @amilsted, this looks like a great abstraction! No real opinion on the naming, as long as it doesn't scare away people / make them think these classes are only useful for quantum physicists!

[2019-11-09 08:06] MichaelMarien commented on #276
What's the status here? It seems better now, but still slow. I don't mind taking a look, I have some time for an issue like this.

[2019-11-09 08:10] MichaelMarien commented on #363
I'd like to take a look, good opportunity to get acquainted with latest development on MPS class.

[2019-11-09 08:14] Thenerdstation commented on #276
Yeah go for it.

Not much pregress on our side. It's never been too slow to warrent through investigation for us.

[2019-11-09 09:27] MichaelMarien commented on #276
Ok! Indeed, it's not blocking at all, I'm interested more out of curiosity about PyType's inner workings than about quicker builds = )

[2019-11-12 00:13] #367 closed

[2019-11-13 14:17] mganahl opened #383 "add eigh and eig for Node"
`eigh` is already implemented in the backends in this PR #380.
Would be nice to have it for the `Node` class.

Once #380 is is pulled in `eig` is essentially  copy-pasting the code from `eigh`

[2019-11-13 18:49] Thenerdstation commented on #383
Don't copy and paste code. Refactor it instead.

[2019-11-13 19:15] #353 closed

[2019-11-14 14:54] mganahl opened #387 "ncon should take a BaseBackend object"
Since we are now supporting passing `BaseBackend` to `Node` constructors, we should also
allow it in `ncon`

[2019-11-14 15:42] mganahl opened #388 "add non symmetric sparse eigensolvers (Arnoldi method) for all backends"
Currently only `NumPyBackend` supports sparse eigen-decompositions ("eigs") for non-symmetric
operators. This would be very convenient to have for infinite MPS, but unfortunately, neither jax, tensorflow nor pytorch have any support for this. A suboptimal workaround is to use the power method, but this can be very slow to converge.

[2019-11-15 17:59] mganahl opened #390 "matrix product operators"
We definitely need an MPO class for MPS simulations like DMRG, ...
I would suggest a structure similar to the MPS case, i.e.
* BaseMPO
* FiniteMPO(BaseMPO)
* InfiniteMPO(BaseMPO)

We also need convenience functions to build e.g. MPOs for
local Hamiltonians. I would suggest something along the line
[code]
any input welcome!

[2019-11-15 19:06] rutujasurve commented on #190
@sidek @Bonnevie It would be great to hear your inputs on implementing Lorentzian broadening and about a good starting point in the code base where we would introduce the change?
Do we intend on developing wrappers for TensorFlow, jax and PyTorch backends?

[2019-11-20 14:42] mganahl opened #393 "quantum operators"
This is related to #379
For backend independent initialization of e.g. MPOs we need abstract quantum operators like
e.g. spin (Sx, Sy, Sz) or fermionic/bosonic ladder operators.

The initialization for MPOs I have in mind is
[code]

[2019-11-20 16:31] mganahl commented on #343
@Thenerdstation @amilsted @viathor @MichaelMarien
I think we should have a serious discussion about how we are planning to implement this. I am working towards implementing DMRG, TDVP and a few other 1d tensor network algorithms into the library. Ideally I would like to build it such that only minimal changes are required once we support symmetric tensors. For this we have to first settle on how w

[2019-11-20 19:32] Thenerdstation commented on #393
Looks nice!

Not sure what `finalize` should do though.

[2019-11-20 20:00] amilsted commented on #390
Yes, this would be great! Do you already have external code to build MPOs like this?

Also desirable: Automatic decomposition of multi-site operators into MPO components (via SVD).

[2019-11-20 20:14] mganahl commented on #390
I don't, but I'm thinking about how to build this. It's pretty straightforward if you just do it numerically, i.e. sum up individual MPOs and then run a compression algorithm on it (see https://arxiv.org/abs/1611.02498 for a recent review). Since they are simply finite state automata I think some results from computer science could be used to build the MPO algebraically, which could have certain a

[2019-11-20 20:16] mganahl commented on #393
MPOs are not unique, and there are simple but suboptimal ways of building them. One can compress them losslessly and pretty efficiently, but only once all the terms in the MPO are know. That's what `finalize` would be doing

[2019-11-21 02:50] Thenerdstation commented on #387
Yes. Should be easy to fix right? I think we just need to update the typing

[2019-11-21 11:33] mganahl commented on #387
that's right, I think it should be woring already

[2019-11-22 15:53] sebgrijalva commented on #293
Hello!

I'd like to contribute too with the creation of tutorials.  What is the status of this issue?

Can you also comment about the "examples" folder? Does it contain  code that we can readily use for learning? In principle I would be creating Colabs and .rst files.

Thanks!

[2019-11-22 20:12] Aamir1551 commented on #293
Hi,

That would be awesome. I am currently working on writing a tutorial on medium that explains how tensor networks work in general to how this particular library can be used to accomplish a certain task.

Colabs and .rst files would be awesome and of huge benefit.
Regarding the "examples" folder I am unsure. For that you could email chase at chaseriley@google.com

Thanks for your support!

[2019-11-22 20:18] Thenerdstation commented on #293
Yes! Basically all of what Aamir said

[2019-11-23 05:36] kshithijiyer commented on #356
Can I pick up this issue and work on it?

[2019-11-23 06:49] Thenerdstation commented on #356
I think this was already done with #364

[2019-11-23 06:49] #356 closed

[2019-11-23 14:34] zyh1204 opened #395 "ValueError: Edge 'Dangling_0' is not a dangling edge. This edge points to nodes: '__unnamed_node__' and '__unnamed_node__'"
I wrote a code about a 3-order tensor contraction, but it goes wrong, Please help.
`
a = tn.Node(np.array([[[1, 2], [3, 4]], [[1, 2], [3, 4]]]))`
`edge1 = a[0] ^ a[1] ^ a[2]`
`res = tn.contract(edge)`

The mistake happens on the second line, any sugestions?

[2019-11-23 16:35] MichaelMarien commented on #395
Hi, can you explain in more detail what you want to achieve? The error you see is thrown because `a[0] ^ a[1]` connects two of the 3 axis of the tensor `a`. The connected edge in between is not dangling anymore (no loose ends) and cannot be further connected to the third axis of the tensor, `a[2]`, which is the only dangling one remaining.

[2019-11-23 18:32] Thenerdstation commented on #395
Correct. `a[0] ^ a[1]` creates a new non-dangling edge, so when you add `^ a[2]` on this line, it breaks with this error.

Though having edges like this isn't unheard of, it's just in this library we prefer to use `tn.CopyNode` instead. What you want looks like this.

[code]

Though this does bring up a good point. Should we allow these auxiliary type edges? It would likely require another massive

[2019-11-23 19:02] MichaelMarien commented on #395
Ok, now I see what the original intent was. Don't feel a big need to support this directly (without use of copy node) tbh.

[2019-11-23 20:07] mganahl commented on #395
I'd also say no. This kind of contraction appears not so frequently.

[2019-11-25 14:26] mganahl opened #397 "extend pytorch, tensorflow and jax backends"
currently our default  numpy backend is the most developed backend. For example,
the `InfiniteMPS`  class only really works with this backend. We need to implement
the missing functions into the other backends as well. The numpy backend can serve as the
"template" API for these methods.

[2019-11-25 14:27] mganahl commented on #387
has anyone taken the lead on this?

[2019-11-25 15:41] MichaelMarien commented on #397
I'll take up pytorch. Does the `BaseBackend` still contain the full API?

[2019-11-25 15:43] mganahl commented on #397
Yes it does. thanks!

[2019-11-25 23:42] amilsted commented on #395
Just pointing out that, as error messages go, this is a pretty confusing 😄

[2019-11-25 23:55] Thenerdstation commented on #395
Well adding names to the node would help. We could potentially add a "The node was defined here" debugging string like TF did, but from what I remember that caused op creation to be really slow

[2019-11-26 00:07] amilsted commented on #395
I guess it's really the "Edge 'Dangling_0' is not a dangling edge" that gets me. Perhaps we shouldn't name edges "dangling" by default.

[2019-11-26 00:49] Thenerdstation commented on #395
Oh yeah that's a good point. We should fix that...

[2019-11-26 19:29] #363 closed

[2019-12-01 19:32] mganahl opened #398 "random_uniform initialization for backends"

[2019-12-02 22:54] jsalsman commented on #334
fit(): https://github.com/glivan/tensor_networks_for_probabilistic_modeling/blob/master/tensornetworks/MPSClass.py#L305

https://pomegranate.readthedocs.io/en/latest/NaiveBayes.html#prediction
needs predict*()s from factoring; is that split_node() SVD?
https://github.com/google/TensorNetwork/blob/master/tensornetwork/network_operations.py#L202

Reviewing https://www.nature.com/articles/s41534-018-

[2019-12-02 22:56] Thenerdstation commented on #334
Yes, split node does SVD. What it does is it makes 2 tensors, One with value U * sqrt(S) and another Vhat * sqrt(S).

If you want a node with just the singular values, do `split_node_full_svd`

[2019-12-03 20:50] Thenerdstation opened #400 "Einsum support?"
Should we extend our API to support einsum equations? It could potentially make connecting nodes much less verbose. However, I question whether anyone would want to use `tn.einsum` over say `np.einsum`. Perhaps we could support only doing the left side of the equation?

[2019-12-03 22:34] Thenerdstation opened #401 "SuperEdge"
So I've received multiple requests to allow an edge to connect more than 2 nodes at a time. This relates to #89 #395 and some in-person discussions.

I purpose to add a new `SuperEdge` class that does exactly this. This would simply be a nice wrapper around the `Edge` and `CopyNode` classes.

All other operations will work the same. (We may still throw an error for `a[0] ^ b[0] ^ c[0]`, I haven't

[2019-12-04 11:23] jsalsman commented on #334
Great, that will work with the algorithm in Section 3.1.1 of http://files.grouplens.org/papers/webKDD00.pdf

I want to study the sparse case before making any serious implementation decisions https://www.researchgate.net/profile/Dawit_Tadesse2/publication/322854540_A_method_for_selecting_the_relevant_dimensions_for_high-dimensional_classification_in_singular_vector_spaces/links/5a7c658baca272669a2

[2019-12-04 12:31] MichaelMarien commented on #397
@mganahl, am I missing something or are the only missing functions `eigsh_lanczos`and `eigs`?

[2019-12-05 07:52] jsalsman commented on #334
Trying to allow for privacy at least down the road http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.448.8246&rep=rep1&type=pdf

[2019-12-06 22:38] glivan commented on #334
Hi @jsalsman , Ivan here. I don't know exactly what you are trying to do, but if you have any questions related to what we do in our paper or how to implement it feel free to ask.
@Thenerdstation : will there be any of the people involved in TensorNetwork at NeurIPS in Vancouver next week? I will be presenting our paper there, and I am happy to chat about tensor networks and your library.

[2019-12-06 23:20] jsalsman commented on #334
@glivan thanks, Ivan! I want to implement the predict_log_proba() method as per https://pomegranate.readthedocs.io/en/latest/api.html#compositional-methods
Do you have that yet? There is C for it at https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/svm/src/libsvm/svm.cpp#L2888

I'm also interested in porting the fit() method to Google's new  https://arxiv.org/pdf/1611.09347.pdf star

[2019-12-06 23:36] Thenerdstation commented on #334
Yes! My team will be at neurips. Infact, we'll be holding a workshop on the library on Sunday.

[2019-12-08 02:55] jsalsman commented on #334
Happy to proceed with Principal Component Analysis-based classification which per p. 4 of arxiv:1611.09347 can be done without QRAM.

I am considering some documentation claiming that predict_proba() uses cross-validation on predict(), at least for scikit-learn's SVMs. Since I want to produce a probability distribution function instead of a probability, which is a pair instead of a scalar, and bec

[2019-12-08 03:10] jsalsman commented on #334
In any case, please see https://acadgild.com/blog/logistic-regression-with-pca-algorithm

and https://www.cs.cmu.edu/~ggordon/10601/recitations/rec07/rec07.pdf by ggordon dot cs at gmail dot com https://www.youtube.com/playlist?list=PL7y-1rk2cCsAqRtWoZ95z-GMcecVG5mzA

[2019-12-10 20:09] FollowKenny commented on #398
Hello,

I’d like to help on this one. If I understand correctly (considering the amount of information provided :) ), the goal is to add a method rand_uniform to each backend classes ?

[2019-12-10 21:42] jsalsman commented on #334
I've decided to use the "quest recommendation game" as an example application for writing the initial test: https://www.aaai.org/ocs/index.php/AIIDE/AIIDE18/paper/viewFile/18124/17229

See also https://link.springer.com/article/10.1007/s13218-019-00620-2

[2019-12-11 05:40] sunbc0120 opened #409 "Incomplete Tutorial Colab Notebook"
In the tutorial notebook of "Tensor Network Tutorial" > Section 2 > Avoid Trace edges, it says "One of the methods that".

I suspect it gonna introduce `contract_between`?

[2019-12-11 06:43] shubham15gupta09 commented on #110
I would like to contribute here .
How can i edit it
please help me as i am new to these things

[2019-12-11 11:35] byronho24 commented on #293
Hi!

I'd also like to contribute to this issue. I would like to contribute a tutorial on implementing some simple MPS algorithms (DMRG and/or TEBD) since I feel like MPS tutorials are still lacking and I have a little bit of expertise on the area (just finished a semester-long research project on it, but am a beginner to the TensorNetwork library). Is there already progress by others on this? If n

[2019-12-11 15:34] mganahl commented on #398
that's right, all backend (`BaseBackend, NumPyBackend, TensorFlowBackend, PyTorchBackend, JaxBackend, ShellBackend`) should implement it (or raise a `NotImplementedError`)!
The implementation should largely parallel `randn`. Thanks for your help!!

[2019-12-11 17:48] Thenerdstation commented on #409
Good catch! Yes, I will fix that. Thanks for bringing this up!

[2019-12-11 17:49] Thenerdstation commented on #293
That'd be great! Email me if you need any help. chaseriley@google.com

[2019-12-11 19:58] Thenerdstation commented on #409
Should be fixed now. Thanks again!

[2019-12-11 19:58] #409 closed

[2019-12-12 01:16] amilsted commented on #400
Yeah, it might be nice for someone to copy and paste an einsum expression and build the explicit tensor network from it (like one can currently do with `ncon_network()`). That way they can easily e.g. generate a picture of their network, or use it as a component of a larger network, etc.

[2019-12-12 01:20] amilsted commented on #344
Since we have more than one type of `BaseNode` right now, should we maybe have `BaseNode.copy()` implementations for the subclasses? Then `tn.copy()` and `tn.copy_node()` can just call `node.copy()`, irrespective of the subclass.

[2019-12-12 06:25] FollowKenny commented on #401
Shall I tackle this one or are you already on it ?

[2019-12-12 06:31] MichaelMarien commented on #401
I'm really not so sure this is the correct way to go? It feels we are overburdening the API - the number of different connect/contract functions is getting bigger and bigger - just to add another way of doing something that is already possible.

[2019-12-12 06:33] MichaelMarien commented on #344
Yes!

[2019-12-13 00:56] Thenerdstation commented on #344
good idea!

[2019-12-14 19:16] sunbc0120 opened #414 "Understanding the Neural Network Equivalent Tensor Network"
Thanks for the great work.

Would you mind to help answer the following question?

https://stackoverflow.com/questions/59332797/understand-a-neural-network-equivalent-tensor-network

[2019-12-14 22:12] Thenerdstation commented on #414
Hey! Thanks for bringing this up. Didn't realize we started getting stackoverflow questions. Cool!

I'm going to try to answer that question in depth right now.

[2019-12-14 22:12] #414 closed

[2019-12-16 22:10] Thenerdstation commented on #414
Hm, seems like my writeup is going to be too big for a single stack overflow answer. I've decided to write a blog post instead, so give me another day or two to write that up.

Thanks for being patient!

[2019-12-20 05:29] sunbc0120 commented on #414
A blog post would be soooooo helpful! Please take your time!

Also extremely looking forward to the reference:
`TensorNetwork on TensorFlow: An Application to Machine Learning (2019), in progress`
Please announce once it's available.

Thanks so much for your kind effort and happy new year in advance!

[2020-01-08 08:18] jsalsman commented on #334
@glivan out of an abundance of caution, I am suggesting this should be assigned to you, to whomever you or Chase prefers, or me.

[2020-01-12 00:39] orialb opened #419 "Error in the numpy backend `svd_decomposition` when `max_singular_vals` is larger than actual bond dimension"
Hi,
Currently the following code will throw an error:
[code]

The reason is that `np.linalg.svd` returns the full `U, V^\dagger` matrices by default (unlike pytorch and TF which return the reduced SVD by default). Hence when only `max_singular_values` is specified and it is larger than `min(rank(U),rank(V^\dagger))`, `svd_decompostion` will try to reshape one of the matrices to the wrong shape (U

[2020-01-12 11:38] orialb commented on #419
fixed by https://github.com/google/TensorNetwork/pull/420

[2020-01-12 11:38] #419 closed

[2020-01-13 18:12] #398 closed

[2020-01-16 13:34] gefux opened #422 "More flexible choice of which singuar values to keep?"
Because this is my first issue, a little "hello" message:

Would we like a `relative: Optional[bool] = False` parameter in split_node() and split_node_full_svd() to make max_truncation_err relative to the biggest singular value?

Or maybe, even more general would be callable parameter that takes the list of singular values and returns a slice of which one to keep like:
`keep_sv: Optional[Callable[

[2020-01-16 16:32] MichaelMarien commented on #422
Hi and welcome!

Not sure about the need for a generic callable, but the relative criterium is definitely something I used before!

[2020-01-16 19:35] jacksonwb commented on #203
Hey been looking at this project for a while, wanted to contribute. Seems like if you wanted to only throw an exception on lookup of a ambiguous axis name, instead of on creation of a node with ambiguous axis name, one could add an 'set_unsafe_axes_name' method to the base node with which to add axes_names to newly created nodes in contract_between and then throw an exception in the get_axis_numbe

[2020-01-16 19:36] jacksonwb commented on #203
Also, would you want to try to retain axes names on an outer product call?

[2020-01-16 20:12] Thenerdstation commented on #203
Yeah I think that seems ok by me! And yes please include this with `outer_product`

[2020-01-16 20:18] anak4569 commented on #260
@Thenerdstation I'm interested in working on this issue; can you provide some more context on the arguments/intended behavior?

[2020-01-16 20:47] Thenerdstation commented on #260
Certainly!

So sometimes you may want to contract your tensornetwork in parts. (For example, the "tensor cuts" they did in the [quantum supremacy benchmark ](https://arxiv.org/abs/1905.00444)), so to do that you'll want to take a "slice" of an edge.

For a basic example, let's look at a basic matmul case.

[code]

So in this case, `edge.dimension == 1000`. However, let's say we want to contract th

[2020-01-17 08:10] IllgamhoDuck opened #423 "What to submit for a issue?"
https://github.com/google/TensorNetwork/blob/8a4f8eb4b0a4a3e57022f63877ae903ef42cfe4c/tensornetwork/network_components.py#L314-L315

I'm trying to use the tensor network and testing it right now.
I just found that this line of code doesn't have protection.

So if I do ..
[code]
Type error occured not when I assign the name and occured when I try to print it out.
Because I sended the node instance

[2020-01-17 08:25] Thenerdstation commented on #423
Yeah, you could add that check. It would be in the `__str__` definition of the Nodes class. Since it's pretty straight forward, would you be interested in trying to do a PR for this?

[2020-01-17 08:49] IllgamhoDuck commented on #423
@Thenerdstation Yes for sure. It's just one line of code so not really hard. Anyway, I'm digging on the codebase so for further I'll try to look at the protections and etc. I'm currently looking at the https://github.com/google/TensorNetwork/issues/292(algebraic operations for BaseNode).

[2020-01-17 22:27] jacksonwb commented on #203
Great, I'm adding this behavior to `contract_between`, `outer_product`, and `contract`. Do we also want to preserve remaining axis names after a call to `_contract_trace`?

[2020-01-17 22:52] anak4569 commented on #260
Question about the motivation for slice_edge: how would you coordinate a contraction using this method on multiple machines? Specifically, do we want the original `a` to change shape (which means you could lose access to the original tensor and make coordinating the contraction more difficult without (potentially?) expensive copying) or do we just want the edge's internal reference to be changed?

[2020-01-17 23:29] Thenerdstation opened #427 "Pytorch 1.4.0 breaks our build"
Needs to be investigated.

[2020-01-18 01:33] jacksonwb commented on #203
It also appears that `_flatten_trace_edges` reshapes the node tensor, but does not regenerate the `axis_names` list leaving a mismatching number of names. This differs from `flatten_edges`. I assume this is not intentional?

[2020-01-18 01:49] Thenerdstation commented on #203
Yes, please include support for all of the functions you listed including `_contract_trace`.

And yes that is a bug. A PR for that would also be awesome! (they can be separate PRs).

[2020-01-18 07:33] IllgamhoDuck commented on #427
I'll try to look up for this

[2020-01-19 09:24] IllgamhoDuck commented on #292
@Thenerdstation How is this issue going on? I checked the PR of this issue but seems not merged yet. Seems __add__, __sub__ is made and __mul__, __div__ yet can I work on this issue?

[2020-01-20 09:42] kosehy commented on #355
@Thenerdstation How's the issue going on? I checked the PR about this issue and it is still not merged.
Can I continue this work? I have progress on this issue, and I passed Travis ci.

[2020-01-20 09:46] olgOk commented on #293
Hello!

I'd like to contribute to this issue as well. I have created SAT Solver tutorial in [Google Colab](https://colab.research.google.com/drive/1T9pAcs2e7Bp_dz4VhWXzvOACKjGpuhbL) and would like to hear your feedback to improve it!

Thanks!

[2020-01-20 19:34] #423 closed

[2020-01-21 17:43] #355 closed

[2020-01-21 19:34] MichaelMarien opened #443 "Unsafe "None" checking"
Throughout the library, a lot of initialisation check if an input is provided and compare it to the default value `None`. However usually this code looks like (example):

[code]

Values like `False,[], 0`,... actually pass this test. A better way of testing is `if backend is not None`.

[2020-01-21 19:39] MichaelMarien commented on #325
I'm working on network_components now as it is only at 65%. Can easily add the coverage as I have it locally already. @Thenerdstation do you want a threshold for coverage breaking the build?

[2020-01-21 19:41] Thenerdstation commented on #325
Really? It's that low? That is really surprising. Especially since last time I checked we were at nearly 95%

And yes, we should have a delta coverage of 100% while we continue to improve existing coverage

[2020-01-21 19:55] MichaelMarien commented on #325
Yeah, I was just running the dedicated test in network_components_free_test for speed. If run all tests, it's 93%

[2020-01-21 19:59] jacksonwb commented on #344
Were you thinking BaseNode.copy() is an abstract method and then implement on Node and CopyNode classes? And then a call to this would always result in a new node with all dangling edges correct?

[2020-01-21 21:35] amilsted commented on #344
Yes to all of that!

[2020-01-21 22:40] Thenerdstation commented on #344
+1

[2020-01-22 20:44] MichaelMarien commented on #325
@Thenerdstation how do you feel about testing protected methods? I know probably best practice in OO programming is to only test public methods. However, we have quite some protected helper functions in network_components that contain rather complicated logic. In this case I usually prefer to test them directly also as I think it increases coverage that way. Wdyt?

[2020-01-22 21:34] Thenerdstation commented on #393
I think this would be nice to have just in general.

We should build a list of operators that we would likely want.

Examples:

X
Y
Z
T
H
CNOT
Toffile
Sx
Sy
Sz.

Any others?

[2020-01-22 22:09] Thenerdstation commented on #325
I'm ok with testing protected methods.

[2020-01-22 22:55] Thenerdstation opened #445 "Add coverage check"
Add coverage to presubmit to hold us accountable.

[2020-01-22 22:55] Thenerdstation commented on #387
No, but this should be pretty easy for a contributor to do.

[2020-01-22 22:55] #366 closed

[2020-01-22 22:56] Thenerdstation commented on #258
tensornetworkgui.github.io

[2020-01-22 22:56] #258 closed

[2020-01-23 08:46] AdrianFRadulescu commented on #109
Could you give a more detailed example please?

[2020-01-23 08:51] AdrianFRadulescu commented on #109
The current version does not seem to support net = tensornetwork.TensorNetwork(),
so how can I visualize the network from a set of nodes I created?

[2020-01-23 20:00] #292 closed

[2020-01-23 23:54] iiskakov opened #446 "Fix graphviz"
Looks like this might be a bug:
![Screen Shot 2020-01-23 at 15 53 00](https://user-images.githubusercontent.com/45936496/73034027-9dfcde00-3df8-11ea-9954-02713ab0b498.png)

[2020-01-24 23:09] Thenerdstation commented on #446
Yeah that's bad.

That function is pretty small, so a fix would be pretty straight forward for someone new.

[2020-01-27 16:36] jin14 commented on #387
Hi I would like to work on this issue. If I understand this issue correctly, the function parameters for ncon and ncon_network should be updated to accept both Text and BaseBackend object?

[2020-01-29 01:18] rafaelbalanquet commented on #446
Hello! I would possibly be interested (along with an amateur team). Is there any chance we can get more information about this issue? Thanks!

[2020-01-30 05:58] Travmatth opened #455 "`auto` calls `branch` with incorrect number of parameters when n >= 5 and n < 7"
https://github.com/google/TensorNetwork/blob/003fdc789afa006e08f12818ad76c5f31828aa69/tensornetwork/contractors/opt_einsum_paths/path_contractors.py#L243

The `branch` method accepts 5 parameters, but here is called with 4. This results in the `ignore_edge_order` parameter being passed into `branch` as `nbranch` and an inability to set `ignore_edge_order` when `n >=5 and n < 7`

[2020-01-30 06:03] Thenerdstation commented on #455
Seems like a quick fix. Wanna do a PR?

[2020-01-30 06:03] Travmatth commented on #455
Yup, doing now

[2020-02-02 09:50] jsalsman commented on #334
@sleichen @Thenerdstation @glivan I hope you are all well. I am going to resume work on this since it's been 25 days and none of you have said anything.

I want to apologize for suggesting overly narrow confidence intervals in the deleted postscript, and have switched to one sigma and included a 2-D example here:
https://colab.research.google.com/drive/1sS3FK9q3rOIhIfNaohYhojNlssZWVWQX

Ivan do yo

[2020-02-03 16:31] #455 closed

[2020-02-03 20:21] jsalsman commented on #334
@MrChrisJohnson, as the author of http://stanford.edu/~rezab/nips2014workshop/submits/logmat.pdf, have you been using any tensor libraries to perform logistic regression for recommendation engines?

[2020-02-03 20:52] sebgrijalva commented on #293
Hello @byronho24  and @olgOk  !

I've been building a basic tutorial on MPS and memory scaling as well, and I see you guys have other projects too. I'm planning on writing more tutorials in the future. Would you like to get in touch to read each other's work and also maybe discuss working on additional tutorials together?

Cheers.

[2020-02-03 21:03] MichaelMarien commented on #427
hi @IllgamhoDuck , not to stress you out, but will you get a chance to look at this in the near future? Would like to fix this myself otherwise, as otherwise these kind of things tend to get worse :).

[2020-02-03 21:16] sebgrijalva commented on #293
Oh, BTW, here's the [tutorial](https://colab.research.google.com/drive/1FwtP650s5Hb4KyeKozlcHnOmn3kuK5o6) I've been working on, although I feel I want to expand on a couple of things and would also like some feedback to see if the structure makes sense

[2020-02-04 01:08] Thenerdstation commented on #344
Closing as we now have a `node.copy()` method.

[2020-02-04 01:08] #344 closed

[2020-02-04 01:09] Thenerdstation opened #463 "Add tn.replicate_nodes"
This would be a simple wrapper around `tn.copy()`.

This new API would only accept a list of nodes and will return a list of copied nodes.

[2020-02-04 04:32] IllgamhoDuck commented on #427
Hi @MichaelMarien! Sure I would love to dig on it :) I'll try to look at this problem thanks for asking!

[2020-02-05 00:01] Thenerdstation commented on #390
Closing as these exist now.

[2020-02-05 00:01] #390 closed

[2020-02-05 00:01] #443 closed

[2020-02-05 00:02] Thenerdstation commented on #339
#434

[2020-02-05 00:02] #339 closed

[2020-02-05 00:02] #383 closed

[2020-02-05 00:02] #212 closed

[2020-02-05 00:03] #34 closed

[2020-02-05 00:03] #70 closed

[2020-02-05 00:04] #71 closed

[2020-02-05 00:04] Thenerdstation commented on #248
Is this still the case?

[2020-02-05 00:07] Thenerdstation commented on #334
I'm taking the executive decision to lock this thread as I see no goal state or reason to keep this open.

[2020-02-05 00:07] #334 closed

[2020-02-07 22:05] Thenerdstation commented on #414
We'll be dropping a post on the TF blog very soon. Thanks for being patient!

[2020-02-13 05:33] amilsted commented on #390
They do?

[2020-02-13 06:54] #427 closed

[2020-02-16 19:40] limapedro opened #468 "How to compute MLP with different input and output shapes"
Hi, I've been trying to get a layer with different input and output shapes, let's say an input shape 1024 with 256 as the output shape, in the colab page, it shows how to create a MLP layer with 1024, reshaped as 32x32 Tensor Network, but the output is also 1024 as the computation and a new reshape call, thanks in advance, this is a great project.

[2020-02-16 19:45] Thenerdstation commented on #468
Thanks for the question! So to get the output shape you have size 256, you'll want your two "output" legs to have shape 8 and 16. As a rule, the product of the output legs gives you your new output size.

[2020-02-16 19:46] #468 closed

[2020-02-16 19:49] limapedro commented on #293
I'd like to look in more details about how to implement custom Keras layers, since the performance boost is great enough, is there any sources on how to build Keras layers other than the mnist examples? Other more interesting layers such be Conv1d, Conv2D and LSTMs, Thanks in advance.

[2020-02-16 19:51] Thenerdstation commented on #293
Building custom keras layers other than ones that implement tensor networks are outside the scope of this repo. I'd recommend asking on the keras repo.

https://github.com/keras-team/keras

[2020-02-16 19:55] limapedro commented on #293
@Thenerdstation Thanks for the reply, one think that I saw in the mnist example is the the TNLayer receives an input of 1024 and, reshapes that to 32x32 and outputs to 1024 again, how to have different inputs and output shapes?

[2020-02-18 22:24] gefux commented on #422
Closing, because I believe the `relative` option is sufficient (and now implemented). If anyone is keen on a more general svd cutoff, feel free to reopen.

[2020-02-18 22:24] #422 closed

[2020-02-18 22:29] Thenerdstation commented on #422
:+1:

[2020-02-18 22:36] Thenerdstation commented on #422
Is this a blocker for you? If you need it on the pip I can push a new verison today, other I'll wait until our blocksparse work is done in ~3-4 weeks.

[2020-02-19 10:25] gefux commented on #422
It sort of is, but ~4 weeks is totally fine. Thank you very much for asking! :)

[2020-02-27 13:41] dkreeft commented on #463
@Thenerdstation could you elaborate a bit more on what has to be done?

[2020-02-27 18:02] Thenerdstation commented on #463
Basically this.
[code]

+ Typing, unit testing, documentation.

[2020-02-28 16:21] dkreeft commented on #463
Thank you, I am willing to try to implement this feature. @Thenerdstation could you assign this issue to me?

[2020-02-28 17:39] Thenerdstation commented on #463
I don't assign issues to external users anymore, but you're welcome to do it!

[2020-03-04 19:23] Xsurgeon opened #478 "I am working to implement tensorlayer on pytorch but I am not sure about tf.vectorized_map"
`class TNLayer(torch.nn.Module):
    """
    This is will define TNlayer

    """
    def __init__(self):
        super(TNLayer,self).__init__()
        a_var    = torch.tensor(np.arange(128).reshape(8,8,2).astype('float'), requires_grad=True)
        b_var    = torch.tensor(np.arange(128).reshape(8,8,2).astype('float'), requires_grad=True)
        bias_var =  torch.zeros((8,8),dtype=torch.double)

[2020-03-04 19:41] Thenerdstation commented on #478
The easiest thing to do in this case is to just treat the batch dimension as an extra leg on the input node. Then the

[code]

Because this requires moving a lot of data, without compiling the computation graph I don't expect this to be significantly faster on pytorch.

[2020-03-04 19:42] Thenerdstation commented on #478
For more complicated tensor networks you'll likely need some form of vmap/vectorized_map. All the more reason to try learning JAX. :)

[2020-03-09 17:29] rdilip opened #481 "Four node contraction gives inconsistent results"
I have a series of four tensors (two matrix product operators) that I want to contract in a slightly non standard way. The index conventions and contraction I want to perform is shown in the attached image.

![mpo_conventions](https://user-images.githubusercontent.com/9993319/76238190-ca957980-622f-11ea-9430-ddf8c5926366.jpg)

However, I get inconsistent results between iterations when comparing t

[2020-03-09 17:35] rdilip commented on #393
I'm new to this library, but I think it would be helpful to have common bosonic operators as well? Namely B, Bd, N, NN?

I have a decent amount of this code written and would be happy to work on this if someone else is not already, but I have not contributed much to large projects before and would need some pointers on the preferred way to write tests, formatting, etc.?

[2020-03-09 17:48] Thenerdstation commented on #481
`get_all_dangling` returns a `set`, so actually no there is no order guarantee at all.

https://tensornetwork.readthedocs.io/en/latest/tensornetwork.html#tensornetwork.get_all_dangling

[2020-03-09 17:53] rdilip commented on #481
I'm a bit puzzled by this, since I tried replacing the loop adding to edge_list with the line `edge_list = [mpoL[0][0], mpoL[0][2], mpoL[1][0], mpoR[0][1], mpoR[1][1], mpoR[1][3]]`, and still get the same results. If the problem were the ordering being inconsistent, would this not fix the issue?

[2020-03-09 17:53] Thenerdstation commented on #481
You can make your own `get_all_dangling` that would guarantee an order though.

[code]

[2020-03-09 17:57] rdilip commented on #481
Yes, that fixes it. Thanks. Out of curiosity, why are the dangling edges returned as a set, and not in (say) the order they're in the list of all edges?

[2020-03-09 18:00] Thenerdstation commented on #481
Because the only constraint we set on the input of the function is that it is `iterable`. I don't think we'll change this API but I'm not against adding a `get_dangling_edges_ordered` which would just be the above code.

[2020-03-09 18:04] #481 closed

[2020-03-09 18:07] Thenerdstation opened #482 "Implement get_all_dangling_ordered"
Seems like new users get confused by `get_all_dangling` returning a `set` instead of a `list`. We can mitigate this by creating a `get_all_dangling_ordered` function.

[2020-03-10 15:41] rdilip opened #483 "Support for reshaping tensors"
I'm wondering what the preferred method of reshaping a tensor is? The method I've been using thus far has been
[code]
It seems like there should be a way already built-in, but I have not been able to find anything in the documentation.

[2020-03-10 15:44] Thenerdstation commented on #483
What's your goal?

[2020-03-10 15:52] rdilip commented on #483
I have a generic method that acts on MPOs, where each MPO is represented as a list of L rank 4 nodes. From a different method, I've constructed an MPO where the bottom-most tensor is rank 3, and I wanted to reshape that with a trivial leg to feed it back into my method that acts on MPOs. Of course, I could just catch this particular case in my first method or take an outer product with a trivial v

[2020-03-10 15:58] Thenerdstation commented on #483
Aw I see. For now your method would work but it would be nice to add some sort of reshaping feature.

We have an issue open for #150 which would get you close to what you want. Full reshapes however could get messy once nodes are connected to each other so I'm not sure we will support that (especially since your method works well enough).

[2020-03-10 16:08] rdilip commented on #483
Thanks!

[2020-03-10 16:08] #483 closed

[2020-03-20 13:36] mganahl opened #487 "tn.set_default_backend should raise exception"
`tn.set_default_backend(backend_name)` should raise if `backend_name` is not a valid backend.

[2020-03-20 19:19] Thenerdstation commented on #487
Yes it should!

[2020-03-20 21:34] #487 closed

[2020-03-22 13:29] larceci89 opened #490 "Inconsistency when using mathematical operations on copies of tensors"
In the setting I specify below, I found inconsistent results when using
1 ---  node.tensor = node.tensor / num
2 ---  node.tensor /= num
which I suppose should give the same result, for some number num.

In the code below, I define a list of two nodes and give it in input to two almost identical subroutines, whose only difference is on how they perform the division by 1000 on one tensor.
I expect

[2020-03-22 15:37] Thenerdstation commented on #490
I believe the issue is around our `set_tensor` operation. Let me take a look.

[2020-03-22 15:58] Thenerdstation commented on #490
Aw, yes I see the issue now. This is an issue with numpy arrays be mutable.

So what is happening when you do `tn.copy(nodes)` is that all of the structure of the nodes is replicated and the _references_ to the original arrays is used for the `node.tensor`. There we a few reasons for this.

1. You need the reference to the original node for gradient calculations. It's pretty common to copy-then-co

[2020-03-22 16:00] Thenerdstation opened #491 "Create backend.replicate method"
See #490.

Our design currently assumes all of the tensors in a Node are immutable. This is not true for numpy arrays and causes confusion.

[2020-03-22 16:01] Thenerdstation commented on #490
And as you can see, this issue doesn't happen if you use JAX instead.

[code]

Outputs:
[code]

[2020-03-24 18:54] larceci89 commented on #490
Ah I see, it was a subtle issue indeed! Thank you for the reply! Then I will switch to the jax backend to reduce the probability of finding other similar issues.

[2020-03-24 18:54] #490 closed

[2020-03-25 01:35] mganahl opened #494 "split_node_... routines crash during the second call"
The following code crashes
[code]
with
`ValueError: Edge 'Dangling_0' did not contain node '__unnamed_node__' on axis 0. node1: '__unnamed_node__', axis1: 0, node2: 'None', axis2: None`

The same is true for `split_node_qr` and `split_node_rq`. `split_node` is working though. Seems like a bug.

[2020-03-25 01:38] Thenerdstation commented on #494
This is expected behavior. The edges get reset on `node1` after the split call.

[2020-03-25 01:45] mganahl commented on #494
but why is it then crashing? The input to `split_node_full_svd` in the second line is just a regular `Node`, i.e. `node` with three normal, dangling `Edge`s.

[2020-03-25 01:48] mganahl commented on #494
In any case, the behaviour is inconsistent since `split_node` works fine. I'll check what's going on.

[2020-03-25 01:50] Thenerdstation commented on #494
Oh I see. Hm yeah that's strange. Let me look into it.

[2020-03-25 02:21] mganahl commented on #494
found it. I had forgotten to call `node.fresh_edges` at the end out the routines. I'll make a fix

[2020-03-25 03:47] #494 closed

[2020-03-26 11:40] sebgrijalva opened #498 "Memory size of class MPS"
Hello, I hope this is the correct place to ask this, if not please tell me the more proper route:

I'm trying to understand the memory size of the MPS objects , so I wrote the following script, using the pympler package (similar results are obtained by repeatedly using `sys.getsizeof()`):

[code]
Basically for each dimension I sweep over increasing ranks to find out how will the memory size scale.

[2020-03-26 13:32] mganahl commented on #498
Thanks for your question! Are you interested in the memory size of the complete `FiniteMPS` object (including memory used up by the infrastructure), or just in the memory requirements of the MPS tensors? The latter is typically the dominant contribution. I am not familiar with `pympler`, but there is simple way of obtaining byte-size of `np.ndarray`. If you are interested in the memory size of the

[2020-03-26 15:18] sebgrijalva commented on #498
Yes, thanks a lot! This is exactly what I was looking for.

[2020-03-26 15:18] #498 closed

[2020-04-02 00:02] mganahl opened #515 "MPS classes are not yet compatible with symmetric backend"
the MPS classes rely on initializing new tensors from shapes of existing tensors, using `Node.shape`. This is not working for symmetric tensors. We need to add a `sparse_shape` attribute to `Node`, which returns an `Index` object for the case of the symmetric backend, and a plain integer for all others

[2020-04-02 00:13] Thenerdstation commented on #515
Good idea.

[2020-04-02 17:31] mganahl opened #518 "tn.connect should check if tensor-legs are compatible for symmetric backend"
For block-sparse tensors, an identical dense shape of two legs is not sufficient for their contraction. Flows and charges have to match as well. `tn.connect` is currently not checking this. An error is eventually raised upon contraction, but we could detect it earlier already when connecting two legs

[2020-04-02 17:43] mganahl opened #519 "split_node_... mutates its input"
`split_node_full_svd(node, [node[0], node[2]], [node[1]])` mutates the shape of `node`.

[2020-04-02 17:46] mganahl commented on #519
I would prefer `reorder_edges` to return a copy instead of mutating the object. This could break a lot of code though. What's your opinion @Thenerdstation?

[2020-04-02 17:51] Thenerdstation commented on #519
Well, you can't exactly make a copy since those edges are for that node.

What would be the recourse here? Split_node refreshes the edges anyway.

[2020-04-02 17:54] Thenerdstation commented on #519
I think a better option would be to return a reshaped underlying tensor instead of reordering the edges on the node itself. We could add a method that's similar to `reorder_edges` that returns a tensor instead of the node and leaves the node untouched.

[2020-04-02 17:56] mganahl commented on #519
yes that would work

[2020-04-02 17:56] Thenerdstation commented on #518
Yeah, we could add a `is_connectable` method to the backends. So `BaseBackend` would always return `True`/check the dimensions, and then your could do specific checks for the symmetric backend.

[2020-04-03 21:09] Thenerdstation commented on #515
This is fixed now right?

[2020-04-04 02:28] mganahl commented on #515
No, not yet still need to fix the MPS

[2020-04-04 02:38] mganahl commented on #515
that's actually a bit more work than I realized. For all mps classed to work properly we need to implement `eigs` into the symmetric backend. Should be relaitvely easy thoug.

[2020-04-04 02:38] mganahl opened #526 "eigs for symmetric backend"
The symmetiric backend currently lacks eigs. We should implement it

[2020-04-05 20:23] rckitson commented on #463
Hi @Thenerdstation this issue seems closed now with the method at `tensornetwork/network_operations.py:Line 157`

[2020-04-05 20:41] Thenerdstation commented on #463
Yes you are correct. Thank you!

[2020-04-05 20:41] #463 closed

[2020-04-09 02:54] #110 closed

[2020-04-11 22:06] co9olguy opened #527 "measure_two_body_correlator causing UnboundLocal Error"
See below for a MWE. From inspecting the source code, I think the issue is due to the fact that the variable ``ls`` is only created if there are valid ``left_sites``, but it is implicitly assumed to exist later on in the function body.

The docstring is a big ambiguous, so I hope I'm passing the arguments as intended.
[code]

[2020-04-12 00:09] Thenerdstation commented on #527
@mganahl can you take a look into this?

[2020-04-12 02:27] mganahl commented on #527
thanks @co9olguy for posting the issue. I'll have a look!

[2020-04-12 03:14] jiawen11 opened #529 "Where is the code of "TensorNetwork for Machine Learning" for MNIST/FASHION MNIST?"
Hi,

I could not find the code of "TensorNetwork for Machine Learning" for MNIST/FASHION MNIST as example for Machine Learning. May I know where I can find the code in as the paper shows?

Thanks!

[2020-04-12 03:15] mganahl commented on #527
This is a bug. I submitted a PR to dfix it,and also improve the docstring. Thanks for pointing this out!

[2020-04-12 03:25] mganahl commented on #529
Thanks for asking! We have removed the code in release 0.1.1. If you download release 0.1.0 you can find it in experiments/MPS_classifier.

[2020-04-12 03:39] jiawen11 commented on #529
Thank you for your quick reply, Martin!

One more question, I could not find any performance results (throughput, e.g., images per second) of employing TensorNetwork (TN) on ML with MNIST in neither the paper or online resources. Did you compare the performance difference between TN on ML and mainstreaming ML framework (e.g., TensorFlow) for image classification with CNN on MNIST/FASHION MNIST? If

[2020-04-12 03:50] mganahl commented on #529
Unfortunately I don't know if there are such results. Maybe @stavros11  can help, he was the main contributor to this project.

[2020-04-12 19:19] #527 closed

[2020-04-13 10:14] stavros11 commented on #529
Thank you for asking (and thanks to Martin for mentioning me).

As Martin said the code was removed from this repository in a previous release, however it is still available in [a seperate repository](https://github.com/Thenerdstation/TensorNetsForML). As noted in the README, there were breaking changes in TensorNetwork after we did this project and therefore the code will most likely not work wit

[2020-04-13 13:24] co9olguy commented on #527
Thanks @mganahl @Thenerdstation for the quick fix! :smiley:

[2020-04-13 17:27] Thenerdstation commented on #529
Thanks Stavros! I'll leave this issue open since we've been asked about this before.

[2020-04-13 22:22] jiawen11 commented on #529
Hi Stavros,

Thank you so much for your detailed reply! It's very helpful!

And thanks to Martin to invite Stavros to answer this question.

Thanks!

[2020-04-14 09:00] refraction-ray opened #530 "signature of node is always default as -1"
I am wondering if this is the expected behavior for creating nodes since signature should be somewhat the unique id for the nodes. By default, all nodes created by tn.Node has signature -1, and this will have impact on several other utilities at least on `tn.to_graphviz` which depends on signature to draw different nodes.

[code]
The above snippet shows diagram with only one node instead of two du

[2020-04-14 09:02] refraction-ray commented on #530
This issue is also the reason for https://github.com/google/TensorNetwork/issues/446

[2020-04-14 15:47] mganahl commented on #530
thanks for the post! I'll have a look into it

[2020-04-14 16:54] Thenerdstation commented on #530
Yeah signature was a long forgetting attribute that was intended for a feature that was never built. Really we should just get rid of every use of `signature` and just use `id(node)` instead for graphviz.

[2020-04-14 21:11] #446 closed

[2020-04-14 21:11] #530 closed

[2020-04-15 02:44] mganahl opened #536 "make block-sparse tensors faster"
for small rank tensors with small bond dimensions, block-sparse tensor contractions are currently not very fast. We should change this. Possible options:
* port code to cython
* use dense encoding for small rank, small-D tensors
* add block-wise encoding for small-rank, small-D tensors

[2020-04-15 14:20] mganahl commented on #343
closing this issue because we have added the support

[2020-04-15 14:20] #343 closed

[2020-04-15 14:22] mganahl opened #538 "non-zero charge divergence for block-sparse tensors"

[2020-04-15 19:57] Thenerdstation commented on #529
Let's keep it open for others with the same question.

[2020-04-15 23:00] Thenerdstation opened #540 "Code examples for symmetric backend"
The main tutorial of block sparse tensor networks currently has no code examples. We should add them.

[2020-04-16 00:59] mganahl commented on #540
This seems to be an issue with the sphinx build. If I build the doc on my laptop the code examples are there. Which build command are we actually using?

[2020-04-17 01:25] Thenerdstation commented on #540
Fixed by #542

[2020-04-17 01:25] #540 closed

[2020-04-17 01:28] Thenerdstation commented on #536
So based on our internal conversation, we're going with adding a blockwise encoding scheme in addition to our current elementwise scheme. This should be better for few legged tensors like MPS systems.

[2020-04-17 18:29] jemisjoky commented on #294
Supporting batch contractions with a pytorch backend would be really useful too!

[2020-04-18 05:10] refraction-ray opened #543 "Plans on further extending ops in backend"
For now, ops in basebackend seem to be enough to cover basic ops in tensor network within this package.

However, for downstream developers who build packages on top of TensorNetwork and also want to maintain the multiple backend feature of TensorNetwork , the ops in current backend setup may  be not enough.  For example, sin, cos, lg, expm, various matrix decomps might be necessary for applicatio

[2020-04-18 07:40] Thenerdstation commented on #543
Additional ops are being added on a need basis on our end, but we could accept PRs to extend the functions if some downstream application needs it and it's not too obscure.

Trying to unify all ML libraries is very out of scope of this library.

And yes we should fix those bad doc strings... PRs are welcome!

[2020-04-19 11:15] refraction-ray commented on #543
In my setup, I even included some infrastructure of jax like `vmap`, `jit`, `grad` as ops for universal backend, for example the following is the corresponding interface for tf backend.
https://github.com/refraction-ray/tensorcircuit/blob/b416e205c584976d8540bed0f7195cbd763d7172/tensorcircuit/backends.py#L143-L173 .

In this way, we could write code with jit and AD while keeping multiple backends

[2020-04-19 19:42] Thenerdstation commented on #543
I think these are a little out of scope with this project. I was ok with adding `cos`, `sin` etc because it's pretty common to want to generate Tensors based on these attribute, but things like `jit` and `grad` are too specific to just Jax and Tensorflow (how would this relate to a numpy backend?).

I applaud you efforts of building a unified ML framework, but that would probably be best for a dif

[2020-04-19 19:42] #543 closed

[2020-04-20 05:47] jaeyoo opened #545 "tn.split_node() doesn't work with TF 2.x"
The following code works with TF 1.15, but shows errors with TF 2.x

**Code**
[code]

**Error**
[code]

Could you give me any help please?

[2020-04-20 12:34] refraction-ray commented on #545
I can run your code demo successfully with no error, with tensornetwork HEAD and tensorflow 2.1

[2020-04-20 12:51] mganahl commented on #545
thanks for the post, I'll have a look!

[2020-04-20 19:25] Thenerdstation commented on #545
What is the version we currently test with in our Travis build? Ideal we should always aim to support the latest version of tensorflow, as trying to support all of TFs releases just isn't going to happen....

[2020-04-20 19:26] mganahl commented on #545
we're testing tensorflow 2.0.0 currently

[2020-04-20 19:27] Thenerdstation commented on #545
And I ran it with the 2.0.0a build and the above code also worked fine for me.

[2020-04-20 20:08] mganahl commented on #545
It also works for me using tensorflow 2.1.0. Can you print out the tensorflow version as well?

[2020-04-21 08:15] jaeyoo commented on #545
@Thenerdstation @mganahl @refraction-ray Sorry folks, I realized that I am using different versions. There is no error at all. Thank you for cross-checks! 👍

[2020-04-21 08:15] #545 closed

[2020-04-22 13:22] gaceladri opened #547 "[Question] Compatibility with tf lite for embedded devices TensorNetwork?"
I am looking for incorporate your Keras example as a Layer in my Keras model. I am thinking if it is compatible with tf.lite and methods like model quantization and so on. Are you aware about this? Do you know if it could work?

[2020-04-22 16:51] Thenerdstation commented on #547
So our tensorflow backend basically only calls `matmul`, so it *should* just work, but quantization can be finicky and we've never tried it.

[2020-04-22 18:35] gaceladri commented on #547
Thank you for your answer @Thenerdstation . I will try to quantize it to 8/4 bits with tf lite in the next week or so.

[2020-04-22 22:07] Thenerdstation opened #548 "Eigensolving TN operators"
We should build a method to allow users to find the top eigenvector of a linear operator defined by a tensor network.

My API proposal is as such

[code]
Where `tensor.shape == [edge.dimension for edge in in_edges]` and `tensor` is the actual `tensor` and NOT a `Node`.

You can easily find the necessary nodes via `tn.reachable`, and to prevent smashing the given tensornetwork, we can safely copy a

[2020-04-22 22:09] Thenerdstation opened #549 "Environments"
We should develop a way to easily/cheaply calculate all of the environments of a tensor network without any dangling edges.

[2020-04-25 14:52] #547 closed

[2020-04-27 17:06] zaqqwerty opened #550 "Some doc links to github yield error"
The "Edit on GitHub" links in the top right of some doc pages yield 404 errors when followed, for example [tn.Node](https://tensornetwork.readthedocs.io/en/latest/stubs/tensornetwork.Node.html) and [tn.contractors.optimal](https://tensornetwork.readthedocs.io/en/latest/stubs/tensornetwork.contractors.optimal.html#tensornetwork.contractors.optimal).

The links at the top of list pages work, for exa

[2020-04-27 20:32] Thenerdstation commented on #550
Huh, weird. The Edit on Github link is auto generated, so I'd have to investigate how that is setup.

[2020-04-29 05:57] refraction-ray opened #552 "Can we handle connections among more than two edges?"
Something like "im,jm,km->ijk", or in TN graph
[code]

This is a legal and reasonable einsum expression,  is such thing possible in current setups with TensorNetwork?

[2020-04-29 06:58] Thenerdstation commented on #552
Yes but indirectly. It's called a `CopyNode`.

[code]

[2020-04-29 06:59] Thenerdstation commented on #552
But this is I believe the 3rd time time someone had requested this. We really should consider supporting these hyper edges.

[2020-04-29 07:22] refraction-ray commented on #552
Thanks, I will have a look at CopyNode approach.

It would be great if such connection can be supported in a more natural way. But I think the main issue here is the lack of good documentations and tutorials. For example, there is no explanation on CopyNode even in docstrings. Currently one has to read the source to figure out what is going on for nearly everything. We need more documentations to

[2020-04-29 08:13] Thenerdstation commented on #552
That we very much do. The main issue is that this package is still very new and many of the APIs we have are still changing (we haven't felt comfortable to release a 1.0 yet).

Though you're right, the basic tutorial we have isn't nearly enough for things that are stable. I'll update with some better tutorials tomorrow night.

[2020-04-29 14:38] refraction-ray opened #553 "conflict between pickle and thus multiprocessing with backend module assignment"
In the current implementations of backends, we have the following thing:
[code]

Note numpy is a module, and of course such backend is included as one attr of `tn.Node`.

The effect of such design is you will fail when you try:

[code]
the error is `can't pickle module objects` which is induced ultimately by `numpy` attr in backend class. This is due to the lack of ability to pickle modules in pyt

[2020-04-29 16:46] Thenerdstation commented on #553
I believe we did it this way because we want to make sure we always support users who don't have all of the supported backends installed. If you just have a plain `import tensorflow` at the top instead of in side the class, you'll immediately crash upon importing TN if you do not have TF installed.

[2020-04-29 16:47] Thenerdstation commented on #553
If you have a workaround that solves both your issue and the import issue mentioned above, we'd gladly accept a PR!

[2020-04-29 17:23] Thenerdstation commented on #553
Aw yes it's all coming back to me as for why we did this. Checkout the discussion on https://github.com/google/TensorNetwork/pull/241#discussion_r322351287

Its a weird issue with how our build system works internally. If some files in a module aren't imported when the module itself is imported, then those files won't be included in the file `.par` package and you'll hit those runtime errors seen

[2020-04-29 17:43] mganahl commented on #553
We could try to  assign imported modules to global variables like so:
[code]
This could be potentially confusing though because `jax` will be at global scope even though the user never imported it.

[2020-04-29 17:56] mganahl commented on #553
that would fix the pickle issue

[2020-04-29 17:57] mganahl commented on #553
actually, wasn't it set up this way in the first place?

[2020-04-29 18:17] Thenerdstation commented on #553
No we definitely never had a global, but this might work.

My main concern is that the `JaxBackend` inherits the `NumpyBackend`, but we just override the numpy operations via the `self.np`. I'm not sure the global here would behave correctly in that situation.

[2020-04-29 18:18] Thenerdstation commented on #553
(I'm also not against just biting the bullet and separating these two backends.)

[2020-04-29 18:21] mganahl commented on #553
I also think we would need to abandon inheritance of `NumPyBackend` in `JaxBackend` , though
this would be really a minor change (mostly search and replace)

[2020-04-29 18:23] MichaelMarien commented on #553
Are we sure we cannot fix the build such that the PR in #241 works? Feels like that is the nicest way to separate the concerns. @Thenerdstation do you remember a minimal breaking example that addresses the core issue? Would be interested to give it a try?

[2020-04-29 18:30] MichaelMarien commented on #552
If the request keeps coming up, I guess I was wrong about not wanting #401 , is that one still our preferred option?

[2020-04-29 18:31] Thenerdstation commented on #553
Well no I can't easily change the Google build system. :)

If I remember correctly, the issue stemmed from trying to import the `decompositions` file, but those no longer import their backend libraries (they get them passed in via the `self.np`/`self.tf`).

Honestly, this my be the one time I allow `global` in the codebase. I think a variation of martin's solution is the right one.

[2020-04-29 18:37] MichaelMarien commented on #553
Well, clearly I have no clue about the Google build system, but I'm gonna go ahead and assuming it's quite good :). Then, I feel like there is a clean way it allows us to do what we want. Problem is there's no easy way to test/experiment with it for me I guess? Must admit I really don't like the global thing, but if it deblocks the OP, it's worth the effort.

[2020-04-29 18:41] Thenerdstation commented on #552
No it really isn't. In fact there are many cases where doing the contraction like above is more expensive than just contracting the CopyNode like a regular node.

The reason we haven't done this is because I made a mistake really early in development, and now all of the code has a REALLY strong dependence on the edges being normal edges (and not hyper edges). You can see this in the code base with

[2020-04-29 18:46] Thenerdstation commented on #553
agreed. And globals are OK in this instance since imports at the top are just implicitly globals anyway. Modules are also immutable structures, so they are basically considered constants.

I'm a bit swamped at the moment, so would either @mganahl or @MichaelMarien be interested in heading this?

[2020-04-29 18:47] MichaelMarien commented on #553
Is there any way we could test whether what we do breaks the Google system?

[2020-04-29 18:49] Thenerdstation commented on #553
I can test it easily once you have a PR.

But basically as long as the only dynamic importing we do is external libraries (scipy, jax, numpy, tensorflow, etc), you should be good to go

[2020-04-29 18:53] Thenerdstation commented on #553
Also michael it's good to hear from you! Glad you're still interested in the library. :)

[2020-04-29 18:56] MichaelMarien commented on #553
Trying to keep up with just understand @mganahl 's PR avalanche has kept me from actually contributing :D

[2020-04-29 19:00] Thenerdstation commented on #553
Yeah he does a lot now haha.

So was that a yes on the PR?

[2020-04-29 19:07] MichaelMarien commented on #553
I'll take a look on Friday

[2020-04-29 19:10] Thenerdstation commented on #553
Nah it's ok then. I'll just do it tonight while I'm writing tutorials.

[2020-04-29 19:14] MichaelMarien commented on #552
That not a mistake man, that's good old YAGNI.

Do you think we're just adding technical debt by not addressing it now in the best way possible? Even if it is a lot of work to change it, it's never gonna be less work than now. If we decide that it's a top priority, plan it well and divide work over 2-3 of us, it might not be that bad and give us a lot more flexibility?

[2020-04-29 19:35] Thenerdstation commented on #552
Yeah you're right, we should fix it now.

The biggest thing is we need to do is remove the attributes `axis1`, `axis2`, `node1`, `node2` on the `Edge` class and replace them with lists `axes` and `nodes`. We also will need to add a `batched_tensordot` operation on all of the backends. Beyond that, the rest is just patching for all of the methods to accommodate this change.

To make the transition

[2020-04-29 23:50] refraction-ray commented on #553
I am still confused essentially which part will fail in google internal build system, otherwise I might have some ideas on the refactoring of backend design. I am not very into the global thing and actually I don't know what will fail when global keywords nonexist.

[2020-04-30 05:44] Thenerdstation commented on #552
Some tutorials have been added around copying/contracting and a simple tutorial around building a TN for quantum circuits. Still not enough, but it's a little better.

I think ultimately we should remove `CopyNode` in favor of hyper edges, though I'm not sure about the timeline.

[2020-04-30 18:49] mganahl opened #561 "switch to using a single instantiation of backend objects"
We're currently using a new backend object every time we create e.g. a `Node`.
To facilitate implementation of DMRG into backends like jax or tensorflow we should
switch to instantiating only one object per backend, and then keep reusing it .

[2020-04-30 18:51] mganahl commented on #561
I'm already using this experimentally. Could submit a PR quickly

[2020-04-30 19:09] Thenerdstation commented on #561
+1 sgtm. All of the nodes should share the same backend object

[2020-05-01 00:46] #561 closed

[2020-05-01 01:42] mganahl opened #567 "consistent formatting"
For some reason, yapf on my platform (MacOS Catalina 10.15.3) produces formatting that is inconsistent with other contributor's formats (I use py-yapf on emacs).

Example:  `slice` will get formatted on my laptop like this
[code]

while in the code base it's
[code]

[2020-05-01 06:35] MichaelMarien commented on #567
@mganahl , @Thenerdstation what about introducing an opinionated formatter like black?

[2020-05-01 07:16] MichaelMarien commented on #567
Black would not allow a 2-space indent I believe, might need to look for an alternative tool.

[2020-05-01 17:25] mganahl commented on #567
did yapf change the name of its "chromium" style? I reinstalled yapf and it gives me a key error

[2020-05-01 17:28] mganahl commented on #567
they actually did

[2020-05-01 17:31] mganahl commented on #567
@Thenerdstation would you mind to reinstall yapf and check how the above snippets gets formatted on your laptop? Maybe its just a matter of yapf versions. Thanks!

[2020-05-01 17:43] MichaelMarien commented on #567
Whoops didn't realise we're using yapf :D

[2020-05-01 17:48] mganahl commented on #567
lol, no problem! Maybe we should just yapf the whole repo once to get a consistent style

[2020-05-01 18:45] MichaelMarien commented on #567
Might be worth mentioning this in the contributing guidelines and ask people to do this before making a PR?

[2020-05-01 18:57] Thenerdstation commented on #567
Speaking of which, we should revamp the README now too.

[2020-05-01 18:58] Thenerdstation opened #573 "Revamp readme"
We should restructure the readme and make it look more professional.

Fork from conv #567

How should we structure it?

[2020-05-04 19:58] Thenerdstation commented on #567
Closing since #572 is already merged.

[2020-05-04 19:58] #567 closed

[2020-05-04 21:42] mganahl commented on #553
Has this been resolved?

[2020-05-04 21:43] Thenerdstation commented on #553
Yes as of the latest release that I literally just pushed lol. https://github.com/google/TensorNetwork/releases/tag/0.3.1

[2020-05-04 21:44] #553 closed

[2020-05-05 15:12] mganahl opened #582 "rename svd_decomposition to sv_decomposition"
I feel we should rename `svd_decomposition` to `sv_decomposition` since the former
has a redundant "decomposition" in it.

[2020-05-05 21:06] #387 closed

[2020-05-05 23:10] Thenerdstation commented on #548
With the new lanczos algorithm written up, this is actually a very viable function now.

[2020-05-07 16:14] mganahl commented on #548
I agree we should make sparse solvers directly accessible for users, not only via the backend object. I see two potential problems with the API above.

First, linear operators come with different properties (hermitian, symmetric, positive definite, ....), and the choice of which algorithm to use has to take that into account. Instead of having a single function `eigensolution`, I'd rather have dif

[2020-05-07 17:16] Thenerdstation commented on #548
That's a really good point. Yeah, lets change the api the be `eigensolve_hermitian`, `eigensolve_symmetric`, etc.

The problem I see with having a user provide their own `matvec` function is that graphs are mutable, so the second time the matvec function is called, there would be lots of errors. By having the user provide the `edges` instead, we can copy the graph via `tn.reachable(edges)` and `tn

[2020-05-07 17:19] Thenerdstation commented on #548
`nodes` would also be an optional argument. If `nodes` is not passed, we'll default to whatever `list(tn.reachable(input_edges + output_edges))` returns

[2020-05-07 17:31] gaceladri opened #584 "How to add a dimension to tf.keras.layers.Layer"
Hello,

My mind is struggling trying to add a new dimension when doing the matmul using TensorNetwork.

I mean, instead of having as input a 2d tensor (batch, features), having a 3d (batch, seq_len, features)

I am using your example in colab with some minor modifications:

[code]

But I'm struggling trying to do this without breaking something

[2020-05-07 17:38] Thenerdstation commented on #584
What do you mean by "Add a dimension"? Do you mean something like (Batch, Seq, Feature) input instead of (Batch, Feature)?

[2020-05-07 17:45] gaceladri commented on #584
That is! @Thenerdstation

[2020-05-07 17:50] Thenerdstation commented on #584
Oh that's pretty easy to work around. Just reshape the `inputs` to combine the batch/seq dimensions together and then break them out again.

[code]

Something like that is what we do.

[2020-05-07 17:51] Thenerdstation commented on #584
Another work around is to use 2 `tf.vectorized_map` calls.

[2020-05-07 17:52] gaceladri commented on #584
Doing the second, surely I will break something xD

[2020-05-07 17:52] Thenerdstation commented on #584
A third work around is to not use `tf.vectorized_map` and just treat the batch and seq axes as just dangling legs and use `node.reorder_edge` to make sure they end up in the right place.

[2020-05-07 17:52] Thenerdstation commented on #584
I've had to do this a lot...

[2020-05-07 17:52] gaceladri commented on #584
In terms of speed would be almost the same? the first workaround

[2020-05-07 17:54] Thenerdstation commented on #584
Depends on the backend. But reshapes are mostly cheap/free except on TPUs so there shouldn't be much issue.

[2020-05-07 18:39] gaceladri commented on #584
It worked! thanks a lot for your fast responses @Thenerdstation . All the best!

[2020-05-07 18:39] #584 closed

[2020-05-07 19:04] mganahl opened #586 "tensorflow 2.2.0 breaks our build"
It seems that tensorflow 2.2.0 breaks our build, at least it does so on my platform.
We should also bump versions of jax and jaxlib in requirements_travix.txt, there was a bug
in jax.numpy.qr on macOS that got only recently fixed.

[2020-05-07 19:13] Thenerdstation commented on #586
Wow TF breaks their API a lot.

I though our Travis build uses >= for the Jax versions. Does it not?

[2020-05-07 19:17] mganahl commented on #586
you're right travis uses >=.

It's weird, the API for tf.random.uniform didn't actually change, but I still get a linter complaing

[2020-05-07 20:46] #586 closed

[2020-05-09 15:42] gevenbly commented on #548
Hey guys, I am not so familiar with the details and workings of the tensornetwork library yet, but I thought I could offer some general suggestions.

In practice, one often needs to solve eigenvectors of a linear operator defined by a weighted sum of several different networks (or maybe things even more complicated), so I think that it is essential to allow the user to define their own `matvec`  f

[2020-05-10 02:30] mganahl opened #590 "eigs and eigsh_lanczos are inconsistent"
`eigsh_lanczos`  can operator on arbitrary rank tensors, but `eigs` currently only works for
vectorized inputs. We need to fix this

[2020-05-10 05:29] Thenerdstation commented on #548
Hm, in that case it might be nice to actually just have these in JAX proper. Arbitrary `matvec` functions seems somewhat out of scope for this library, where as putting `eigsh` into JAX would be helpful for many more users.

[2020-05-11 01:50] mganahl commented on #548
It would indeed be, as would `eigs`.

I actually think that arbitrary `matvec` has to absolutely be within the scope of this library. Sparse solvers are needed in so many tensor network algorithms that not having them would be an absolute no-go (I can say with confidence that I would just not use the library in that case). As @gevenbly has pointed out, not all `matvec`s can be easily written as a

[2020-05-11 02:08] mganahl commented on #548
In fact, there are even easier workarounds than using the JAX pytree, and those also work with tensorflow

[2020-05-11 02:13] Thenerdstation commented on #548
Let's just completely ignore tensorflow for this use case, as I'm not convinced scientists will ever use the TF backend, especially since we highly encourage using JAX when you want to use hardware accelerators anyway. TF and PyTorch are mainly supported for ML use cases, which likely would never need `eigs`.

I'm not sure that's the best idea. The first problem is what do you do when these nodes

[2020-05-11 03:12] mganahl commented on #548
This should clearly raise an error, since all previously defined connections will be erased during the first call to `matvec`.

If we require input nodes to be unconnected I don't see a problem with the closures. In that case, `Nodes` can essentially be regarded as equivalent to jax-arrays. Unless the user has decided to do some really shady things with references to `Node.tensor`, I don't see how

[2020-05-11 06:23] Thenerdstation commented on #548
Alright, you've convinced me.

Let's do the `matvec` functions with tensors being passed in.

Let's make the API look like this?

[code]

And then the `matvec` functions should follow the API spec of
[code]

My annoyance with this API is that `matvec` has to be define with tensors, even if they don't use them.

[2020-05-11 12:50] mganahl commented on #548
Sounds good. The current backends expect `matvec(tensors, vector)`, but I'll fix this to conform to the above.

I agree,  having `Node`s would be the natural choice. This is a matter of making this work with JAX, I'll have a look at this.

[2020-05-11 13:45] mganahl commented on #548
Is there a reason for not using
[code]
and call `matvec(vector, *args)` inside eigsh?

[2020-05-11 15:11] gevenbly commented on #548
The format you suggest:
`def matvec(vector, n1, n2, ,...):`
is the common one I have seen before (e.g. also inbuilt with MATLAB eigs and whatnot).

In general the arguments `n1,n2,...` could be of any type, not just a set of tensors. It is common for `matvec` functions to need other scalar parameters, or to accept custom objects (e.g. for specifying contraction order)

[2020-05-11 15:51] Thenerdstation commented on #548
Yes `def f(matvec, *args)` sounds good to me too.

[2020-05-11 16:06] mganahl commented on #548
@gevenbly that could become very tricky. The problem is that this will likely lead to issues with JAX. We are currently wrapping `matvec` into `jax.tree_util.Partial` so that it can be passed to a jitted eigsh solver. We need to jit the eigensolver to get good performance, and we only want to jit it once (or a very small number of times).
Currently, we wrap `matvec` into `tree_util.Partial` (anoth

[2020-05-11 16:08] Thenerdstation commented on #548
Well my advice was going to be to use `static_argnums`. Why doesn't that work currently? I'm still confused as to why you need `Partial` instead of just normal `jit`.

[2020-05-11 16:22] Thenerdstation commented on #548
Another option is to just tell users to be more functional. There's no reason `matvec` can't be the result of a partial.

[code]
Jax has made me love this functional approach, so I wanna stick with it.

[2020-05-11 16:23] Thenerdstation commented on #548
Doing it that way also makes it more clear to the user when the function is getting recompiled. It's just whenever you give it a new function definition.

[2020-05-11 16:27] mganahl commented on #548
I actually like that approach

[2020-05-11 16:36] mganahl commented on #548
Looks to be a very clean and easy solution. So we make it very clear in the doc that the `matvec` passed to `eigsh` can only accept tensor objects, and give a small example how partials can be used to accomplish more complex behaviour (with loud warnings about recompilation for the case of JAX).

[2020-05-11 17:00] Thenerdstation commented on #548
Yes, these all sound good to me.

[2020-05-11 18:13] mganahl commented on #548
With a bit of internal juggling we can have `eigsh` accept `matvec`s that take and return `Node` objects.
[code]

[2020-05-11 18:17] mganahl commented on #548
function caching again to avoid JAX overhead

[2020-05-11 18:19] Thenerdstation commented on #548
I mean, do we really need it to return `Nodes`?

[2020-05-11 18:34] mganahl commented on #548
no, tensors would also be fine. I think right now the API is a bit ambiguous as to when
using `Node` vs when using tensors. A user can use`Node` as containers for the different tensor types throughout the whole simulation. Code written this way would be automatically backend independent. Or the user can use tensor objects, and wrap them into `Node` whenever he needs to, and extract tensors back af

[2020-05-11 18:36] Thenerdstation commented on #548
Lets just stick with tensors for now. If there is a strong want for passing in `Nodes` we'll add it in as it doesn't seem too hard to do.

[2020-05-11 18:37] mganahl commented on #548
👍

[2020-05-11 21:47] mganahl opened #596 "clean up BlockSparseTensor code"
the code should consistently use either np.ndarrays or classes like BaseCharge. Currently its mixed

this includes index.py, charge.py, utils.py, blocksparsetensor.py

[2020-05-12 05:39] Thenerdstation opened #597 "Keras layers currently import tensorflow."
We can't push a release until the TF dependency is removed, otherwise users fresh installing will crash with missing import errors.

I think the compromise is to force users using the keras layers to import them like `from tensornetwork import tn_layers`.

Perhaps we should also move them under an `experimental` directory?

[2020-05-12 07:26] Thenerdstation commented on #597
Actually I just tested it an it's fine. No changes needed

[2020-05-12 07:26] #597 closed

[2020-05-12 15:42] Thenerdstation commented on #590
I believe this is fixed now?

[2020-05-12 16:19] mganahl commented on #590
yes that's fixed, I'll clsoe it

[2020-05-12 16:19] #590 closed

[2020-05-12 16:43] Thenerdstation commented on #248
Post `jit`s this isn't the case anymore right?

[2020-05-12 16:44] mganahl commented on #248
yes, that's actually also fixed :)

[2020-05-12 16:44] #248 closed

[2020-05-12 16:44] #478 closed

[2020-05-12 16:45] Thenerdstation commented on #397
Closing as the `eigs` are supported in all but TF.

[2020-05-12 16:45] #397 closed

[2020-05-12 18:24] Thenerdstation opened #599 "Rename BaseBackend and BaseNode to AbstractBackend and AbstractNode"
See title

[2020-05-13 21:47] Thenerdstation opened #603 "Outer product for operators"
#602 brought up an interesting point of defining operators based on the outerproduct of several smaller tensors. The issue is the normally an operator has its "input axes" defined as the first N axis, and the "output axes" are the last N axes. When dot producting tensors together, the input and output axes are weaved together, forcing a user to do a nasty `reshape` or `reorder_edges` before the te

[2020-05-14 04:03] gevenbly commented on #603
The function you are describing sounds like a version of the numpy `kron` (kronecker tensor product) but for nodes (which also produces the edge order that's expected for operator tensors). The name of the new method could be chosen to reflect this.

[2020-05-14 04:18] Thenerdstation commented on #603
Good idea. I like that much better.

[2020-05-14 05:41] gevenbly opened #605 "Order of eigenvalues in blocksparse eigh"
Currently the blocksparse `eigh` returns eigenvalues sorted by symmetry charge sector, then by eigenvalue size within each sector. I think it would be more consistent with the numpy version of `eigh` to return eigenvalues sorted by size alone (numpy `eigh` gives eigenvalues in increasing order by default). Having sorted eigenvalues is also more convenient in a lot of common operations (e.g. when t

[2020-05-14 15:48] sr33dhar commented on #603
So here again, is the idea to use kron and then reshape?
Thank you

[2020-05-14 16:07] Thenerdstation commented on #603
The idea is that kron would do the reshape for you automatically

[2020-05-14 16:54] Thenerdstation commented on #603
Maybe something like `tn.operator_kron` would be a better name since `kron` doesn't do the reshaping magic.

[2020-05-14 21:18] sr33dhar commented on #603
I see. Thank you.

I understand the idea of expressing 2 qubit gates as tensor products, (or the sum of tensor products for entangling gates), but I am having trouble understanding how tensor products and reshaping can give equivalent results.

Is the idea just seeing if it works, and since it does, accepting it?

[2020-05-14 21:22] Thenerdstation commented on #603
I guess its actually transposing and not reshaping.

You can see this for yourself pretty easily just with numpy.

[code]

[2020-05-14 22:02] gevenbly commented on #603
Hi Chase,
the kron function is widely used in the physics community as the standard method for defining lattice Hamiltonians (not only by people interested in tensor networks, but for many other kinds of numerical physics). For instance, the standard way to construct the Heisenberg model is:
`hloc = (np.kron(sX,sX) + np.kron(sY,sY) + np.kron(sZ,sZ)).reshape(2,2,2,2)`
So, if _tensornetwork_ adopted

[2020-05-14 22:30] Thenerdstation commented on #603
Sure! So should I change it to only accept 2 inputs then? Also, how should we handle the legs? Right now i keep then separated but `kron` effectively flattens them

[2020-05-14 23:27] gevenbly commented on #603
Having an arbitrary number of inputs is very useful, as is keeping the legs separate (i.e. returning a tensor rather than a matrix). In my previous numpy code I would typically write a wrapper for kron, called something along the lines of `tkron`, that would incorporate these useful features. The function should also be able to handle the case where one or more of the inputs is a tensor, i.e. the

[2020-05-14 23:35] gevenbly commented on #603
I suppose that it could also accept an optional argument which determined whether to do the reshape or not (both cases are useful sometimes)

[2020-05-14 23:43] Thenerdstation commented on #603
The non-reshaped version is already supported by `tn.outer_product`, so no need for a flag.

[2020-05-14 23:48] Thenerdstation commented on #603
Glen if you could also take a look at #606 your comments would be appreciated.

[2020-05-15 00:24] gevenbly commented on #603
kron and outer_product typically have a different order on the final indices though. The kron of a 2-site operator `T_ijkl`  with a 1-site operator `R_mn` will produce a 3-site operator `Q_ijmkln`, which is the desired index order for the tensor product of operators. In my understanding, doing this with outer_product would require a separate `transpose` of the output to produce the desired order.

[2020-05-15 00:25] Thenerdstation commented on #603
Correct.

[2020-05-15 00:26] Thenerdstation commented on #603
Oh my bad I miss read reshape and transpose.

[2020-05-15 00:27] Thenerdstation commented on #603
I think we'll keep `kron` to not support flattening the edges/reshaping the tensor to a matrix. If a user wants it we can always add it later.

[2020-05-15 02:05] Thenerdstation opened #607 "Review names and functionality of all methods."
The library is getting more mature, so we should review the names and functionalities of all existing methods and change them if they're bad. It would be a breaking change, but its best to rip the band aid off now before we become embedded in some production system and its too late.

For example, `tn.outer_product_final_nodes` is a terrible name, and has redundant functionality to `tn.outer_produc

[2020-05-15 02:08] mganahl commented on #607
👍 good point!

[2020-05-15 03:11] #603 closed

[2020-05-15 16:19] mganahl commented on #605
That would be easy to add, and indeed be useful. The same applies to `svd` and `eig`. I will have a look into it

[2020-05-15 16:19] mganahl opened #609 "sorted singular values for block-sparse svd"

[2020-05-15 16:19] mganahl opened #610 "sorted eigenvalues for block-sparse eig"

[2020-05-15 16:50] gevenbly commented on #605
I started to try to implement this myself. For the API, I think it would be sensible to follow eigsh and have an optional argument `which` that sets the order that the eigenvalues are given, which the usual options `'LA'`, `'SA'`, `'LM'`, `'SM'` as well as an additional option `'CH'` for ordering by symmetry charge.

I have some thoughts on some additional features that could be useful:
(1) It cou

[2020-05-15 17:02] mganahl commented on #605
Sounds good. Would it make sense to have ther `'CH'` option as addition the `which` flag such that eigenvalues within each sector could be ordered according to `which`?

[2020-05-15 17:04] mganahl commented on #605
If you are working on `eigh` already, would you mind doing `eig` as well? That would essentially be a copy paste thing

[2020-05-15 17:05] mganahl commented on #605
Actually, I'll be happy to do it (one has to write the tests well ...)

[2020-05-15 17:28] Thenerdstation commented on #605
Hold up lets pump the breaks on this for a second. Are you doing `node.backend.eigs` outside of the library? I think its unreasonable to expect users to every call the backend object, so we should think about how to access this from the `tn` module instead.

[2020-05-15 17:33] mganahl commented on #605
I think @gevenbly is referring to `tn.block_sparse.linalg.eigh`, the function that implements actual diagonalization for symmetric tensors. It makes sense to add this functionality there and for now keep the interface with `SymmetricBackend` unchanged for now, and later on propagate the functionality up towards the end user.

[2020-05-15 17:35] Thenerdstation commented on #605
Aw ok perfect. Ignore my comment then.

[2020-05-21 12:43] gevenbly opened #613 "Flat flows and flat charges in blocksparse"
Hi @mganahl, I believe there are some issues with `.flows` `._flows` and `.flat_flows` in blocksparse. Consider the following example:

[code]
Then when I examine `T1` the following is returned:
[code]
So `T1._flows` and `T1.flat_flows` are exactly the same (similarly for the charges); they both give the flows before the lazy transposition and reshape. Is this intended behavior? It seems that it s

[2020-05-21 12:50] mganahl commented on #613
thanks @gevenbly! This is indeed intended behaviour, though it should be changed. I don't recall the exact problem, but both properties were used to ensure backwards compatibility with earlier code versions. At this point though they have become redundant, so we should remove them.
My suggestion is to remove them completely. Would you like instead to support the above described behaviour?

[2020-05-21 13:12] gevenbly opened #614 "Unintended lazy transposition in blocksparse"
Hi @mganahl , I have encountered some weird behavior with the transposition in blocksparse. Consider the following code:
[code]
If I check the orders then the following is returned:
[code]
As expected, this indicates that `hamT` is subject to a lazy transposition (and `ham` is not). However if I now do:
[code]
Then when I recheck the order I now get:
[code]
So, in when adding the two tensors toget

[2020-05-21 13:18] gevenbly commented on #613
Supporting the behavior I describe above would be very useful, as the `flat_flows` and `flat_charges` are something that I would otherwise have to build myself each time I needed them (which is quite often).

[2020-05-21 13:19] mganahl commented on #613
sounds good, I will change it so that it has the desired behaviour.

[2020-05-21 13:58] gevenbly opened #615 "Blocksparse not evaluating scalar products properly"
Hi @mganahl , I am having issues when trying to contract networks that evaluate to a scalar. For example defining:
[code]
then evaluating `ncon([T0,T0],[[1,2],[2,1]])` produces an error. It this specific instance, I can instead evaluate the network as `c = trace(T0 @ T0)`, however `c` is returned as some kind of weird rank-0 blocksparse tensor rather than a scalar as expected. Evaluating `c.todens

[2020-05-21 14:16] gevenbly opened #616 "Blocksparse REPL problems"
Hi @mganahl , there appears to be some issues with the REPL w.r.t the Index class. For instance if I define:
[code]
Then if I either evaluate `i0` in the REPL or try to `print(i0)` the return is simply `2`. So it appears that the REPL is set to return `i0.dim` when called, but I found this to be very confusing (I thought that I had made a mistake somewhere, and that `i0` was assigned to the intege

[2020-05-21 19:35] mganahl commented on #614
Thanks @gevenbly! That is my bad. I'll fix this such that `hamT` is transposed in memory instead of `ham`

[2020-05-21 20:01] mganahl commented on #614
@gevenbly there is the case though where both of the two operands have been lazily transposed. I think it is not desired in this case that both operands get transposed since one transposition is enough. I think in this we should pick one of the two and transpose only this one.

[2020-05-21 20:35] gevenbly commented on #614
Thats a good point; I agree that in the addition of two lazily transposed tensors (with different orders) that only one explicit transpose should be done. Although doing both would probably not be so bad, as all lazily transposed tensors usually get evaluated at some point.  Thanks!

[2020-05-21 21:10] mganahl opened #618 "tensornetwork/tn_keras/test_layer.py fails"
I noticed that on my machine the test
test_train[512-DenseExpander]
fails with
[code]
this could be a precision issue (it consitently fails though on my machine). @bpenchas did you write the test? If so it would be great if you could have a quick look? thanks!

[2020-05-21 21:34] Thenerdstation commented on #618
Looks like it might be the case of a bad seed.

I think the tests in the keras layers aren't deterministic. I also hit issues where two tests accidentally write to the same file. We should really take the time and upgrade them.

[2020-05-21 21:44] mganahl opened #620 "build fails"
it seems the latest jax release causes simple_mera tests to fail

[2020-05-21 22:38] Thenerdstation commented on #620
Well, we can't either fix the code or just delete the simple Mera code.

Thoughts? I'm open to discussion.

For now, can we lock the Jax version?

[2020-05-22 01:28] #620 closed

[2020-05-24 22:27] Thenerdstation commented on #618
I think this should be fixed now. Can you test it on your end?

[2020-05-26 02:49] #614 closed

[2020-05-27 02:18] Thenerdstation opened #625 "Add linter error for backslash usage."
We need to add a linter error for the usage of `\` when breaking a line. Prefer to always use `()` instead.

[2020-05-27 12:14] mganahl opened #628 "allow center_position=None in FiniteMPS"

[2020-05-27 22:27] #73 closed

[2020-05-27 22:27] #75 closed

[2020-05-27 22:27] #86 closed

[2020-05-27 22:28] Thenerdstation commented on #109
Sorry for the late response!

To visialize the graph in the latest API, you can simple do
[code]

[2020-05-27 22:28] #109 closed

[2020-05-27 22:29] Thenerdstation commented on #191
`tn.replicate_nodes` and `tn.copy` should be good enough for this.

[2020-05-27 22:29] #191 closed

[2020-05-27 22:29] #232 closed

[2020-05-27 22:30] Thenerdstation commented on #261
I think ultimately the solution to this is to just implement hyper edges. That is being tracked in #401

[2020-05-27 22:30] #261 closed

[2020-05-27 22:30] Thenerdstation commented on #238
Do we still want to do this?

[2020-05-27 22:31] Thenerdstation commented on #303
I believe this is done.

[2020-05-27 22:31] #303 closed

[2020-05-27 22:32] Thenerdstation commented on #515
Is this done?

[2020-05-28 01:21] mganahl commented on #515
No, this needs to fixed still

[2020-05-28 01:21] mganahl commented on #238
Hmm, I don't think it's a priority. We can close it.

[2020-05-28 01:21] #238 closed

[2020-05-28 21:44] MichaelMarien commented on #599
I can do this.

[2020-05-29 18:50] #613 closed

[2020-05-30 20:44] #618 closed

[2020-06-01 14:20] mganahl commented on #615
Hey @gevenbly, regarding your second point, for me`ncon` is returning an unsized object for contraction of a closed network. Could you give an example of when it returns a length-1 array?

tahnks!

[2020-06-01 14:21] mganahl commented on #615
In general  I think it's better to have `ncon` return a `Tensor` object rather than a python number, also for closed networks.

[2020-06-01 14:44] mganahl commented on #616
@gevenbly I'll add this quickly

[2020-06-01 15:16] gevenbly commented on #615
Hi @mganahl , if I set `a = np.random.rand(10,10)` and then evaluate `b = ncon([a,a],[[1,2],[2,1]])` then the type of `b` is a numpy array, but you are correct in that it is an unsized object rather than a length-1 array.

Is there a reason why you want ncon to return a 0-rank tensor for closed networks? (or, more generally, why 0-rank `Tensor` objects should even exist?) I do not see the benefits

[2020-06-01 15:34] mganahl commented on #615
Currently, we're sticking with the conventions of `tensordot`, which returns a rank-0 array. I am hesitant to force backend tensors into python scalars because I'm not sure how this will interact with e.g. jitting in jax. I'll have a look into it.

[2020-06-01 16:03] gevenbly commented on #615
The `tensordot` convention is not so bad, since the unsized arrays behave identically to scalars and are automatically converted by to scalars under common operations (e.g. +,-,*,/). Although, switching from my numpy `ncon` to the tensornetwork numpy `ncon` did cause some of my codes to crash, where I was using things like `fprintf` which expected a scalar input. If you are keeping 0-rank blockspa

[2020-06-01 16:09] gevenbly commented on #615
Also, if keeping the 0-rank blocksparse arrays, then I think it could be useful to add a `.item()` method to blocksparse, which would enable the code to be consistent between numpy and blocksparse, e.g. if `A` results from the ncon contraction of a closed network, then `A.item()` is always a scalar regardless of backend. This could also resolve any objections that I previously had.

[2020-06-01 16:12] mganahl commented on #615
I absolutely agree that `*/+-` have to be supported seamlessly.  I'll add support for those operations to the `BlockSparseTensor`. I'm have actually already added `item()`, I just need to submit a PR

[2020-06-01 16:13] mganahl commented on #615
The problem though is that soem backend tensors do not have `item()` available (e.g. tensorflow).

[2020-06-01 17:56] mganahl commented on #615
@gevenbly  what's your opinion charges for scalar `BlockSparseTensor`s? Right now `tensordot` returns a `BlockSparseTensor` of rank 0 for the case of an inner product. This tensor has no charges and thus also no charge information. I think it's inconsistent but I'm OK with letting it go for now.

[2020-06-01 18:44] gevenbly commented on #615
I think that it has to be this way. For the case of blocksparse tensors there is a significant difference between having a rank-0 tensor and having a rank-N tensor with index dims equal to 1 (whereas there is no significant difference for numpy arrays). I would think that trying to put charge or flow information on a rank-0 blocksparse tensor would lead to inconsistent behavior (which is one of th

[2020-06-01 18:48] mganahl commented on #615
sounds good. In this case let's leave it as it is for now to have consistent behaviour between the backends, and I'll add operational support for `+-*/` for the case of a rank-0 `BlockSparseTensor`.

[2020-06-01 19:24] #615 closed

[2020-06-01 19:28] gevenbly commented on #615
okay, sounds good. It case you have not done so already, could you also please fix the `to_dense()` method to work correctly with the rank-0 blocksparse tensors. This is not super important, but would be nice to have for consistency. Thanks.

[2020-06-01 19:32] mganahl commented on #615
thanks for reminding me, I'll fix it.

[2020-06-01 19:38] mganahl commented on #615
was already fixed in a previous PR and should work now

[2020-06-01 19:56] alewis commented on #552
It's maybe worth pointing out that although np.einsum lets your write it, "im,jm,km->ijk" is actually ill-formed Einstein notation. While since our "tensors" have no metric it's probably harmless, the desired operation would in fact be written by explicitly including a rank-3 identity tensor, with which `CopyNode` seems closer in spirit.

[2020-06-01 20:05] mganahl commented on #552
what is our current strategy regarding `CopyNode` like contractions?

In general, such things could be handled using batched contractions followed by summation. The former would be very nice to have as well for `ncon`.

[2020-06-01 20:07] mganahl opened #640 "batching support for ncon"
batched contractions are important for several machine learning like applications. `ncon` should support this as well

[2020-06-01 20:09] alewis commented on #552
Even though reading it fills me with pain, supporting this notation in ncon is probably simplifying enough to be worthwhile.

[2020-06-01 21:47] Thenerdstation commented on #640
I think this will depend on #401 work.

[2020-06-01 21:56] Thenerdstation commented on #552
The main problem is that copy tensors are fairly inefficient (See #261).

Really, I think the answer is to just add support for hyper edges #401.

[2020-06-02 14:40] mganahl commented on #552
yes, the current `CopyNode` behaviour is unsatisfactory, and I believe we should remove it completely.

From a conceptual viewpoint such things would be very easy to implement once we have a tensordot function that allows batching.

I have now encountered such cases already several times in my own research, and would find it very convenient to have it. In my case, I would favour an `ncon` which su

[2020-06-02 15:26] alewis commented on #552
I'm a little nervous about encouraging users to draw invalid tensor
networks. It seems to me that, at least conceptually, if this behaviour is
supported it should be documented and explained as implicitly introducing a
Kronecker delta "tensor" at the junction (e.g. the fusing is accomplished
in the conceptual tensor network by a node instead of an edge; this doesn't
however speak to whether or not

[2020-06-02 15:35] alewis commented on #582
Is there a problem with `svd`?

[2020-06-02 15:54] mganahl commented on #552
That's right, and I'm not suggesting to do it right away, but we should keep it on the agenda. If this is ever going to be a thing for machine learning then batched contractions are a must.
A frequent case is where one has a tensor network where each tensor has a batch index:
[code]
and one wants to contract over `D1, D2, D3` and sum over `batchsize`. Typically this is done
using `np.matmul` (or `

[2020-06-02 15:56] mganahl commented on #582
find with me too

[2020-06-02 16:24] alewis commented on #552
I see. Well that makes sense to me, and the meaning seems clear enough. I
do like making the user repeat themself with "batchindex" to prove the y
didn't just make a mistake. Is this the same thing as a "hyper-edge"?

On Tue, Jun 2, 2020 at 11:54 AM Martin Ganahl <notifications@github.com>
wrote:

[2020-06-02 16:39] mganahl commented on #552
The hyper edge would connect to multiple tensors and do the batch summation.
The `ncon` API seems more convenient . Consider this case
[code]
One could in this case connect `A` and `C` with a hyper edge, but not contract it.
While there is no fundamental problem with it, I don't quite like that the API defines an object that it doesn't really use in the end.

[2020-06-02 18:10] Thenerdstation commented on #582
I vote `truncatable_svd`

[2020-06-02 18:11] Thenerdstation commented on #552
There would be not need to specify a batchindex, and negative number that appears more than once would be treated as a batch index.

Of course, you may choose to include for error catch, but you don't NEED to have it.

[2020-06-02 18:16] Thenerdstation commented on #552
@alewis, your comment on how do you contract A_ab, B_bc and C_bd with b being a hyper edge looks like this:

First, you do a batched outerproduct of A and B together to get

D_bac = A_ab @ B_bc

Next, you do a normal tensordot operation of D and C

Result_acd = D_bac @ C_bd

Rule of thumb: If an index is on more than 2 nodes of the network at that instance of contraction, you treat that index as a

[2020-06-02 18:19] alewis commented on #552
Indeed, it is redundant apart from error catch. I think physicists vs deep
learning types are likely to have opposite instincts wrt to whether or not
this behaviour is sufficiently natural to require said catch, so it's not
clear to me which is best.

On Tue, Jun 2, 2020 at 2:12 PM Chase Roberts <notifications@github.com>
wrote:

[2020-06-02 18:19] mganahl commented on #552
For batch-contracted indices one still needs to specify it. For uncontracted ones one could leave it, but this would lead to confusing behaviour if the user accidentally puts two identical negative numbers when he meant to use two different ones.

[2020-06-02 18:22] Thenerdstation commented on #552
Wouldn't a batch-contracted index just be a negative number that appears 3 times? Or am I misunderstanding this?

Can you give an example martin.

[2020-06-02 18:22] mganahl commented on #552
actually you're right, one could leave it

[2020-06-02 18:23] Thenerdstation commented on #552
Ultimately, ncon has now come full circle to just `np.einsum`. :)

[2020-06-02 18:24] Thenerdstation commented on #552
Though ncon gives you direct control of the contraction order, so that's still useful.

[2020-06-02 18:34] alewis commented on #582
It is true that the built in ability to truncate does mean we depart somewhat from what numpy does, but per the v1.0 push to make the syntax NumPy like where possible and since tensor network SVDs are almost always truncated, it would strike me that simply `svd` is more natural, unless we plan to reserve that name for something else (which would seem strange to me).

[2020-06-02 19:43] #616 closed

[2020-06-02 20:14] alewis opened #642 "Array class"
It seems there is widespread agreement that, in the longer term, `Node` is eventually to be replaced by or supplemented with some sort of "I can't believe it's not an array!" class `Tensor` that is less stateful. Users would then by default interact with `Tensor` rather than with `Node` directly.

In the shorter term, to motivate adoption by existing physicist practitioners who will primarily inte

[2020-06-02 23:59] alewis commented on #642
I have a rough (incomplete) example of what I have in mind in the `array` branch of my fork of the library.

[2020-06-03 00:02] alewis commented on #642
In `tensornetwork/linalg.array.py`, oops

[2020-06-03 22:28] Thenerdstation commented on #642
I took a look, I'm not sure I see the value in this. In what situations does this array class help?

[2020-06-04 21:26] mganahl opened #650 "ncon is not as fast as it could be"
I rewrote `ncon` to use directly the backend methods `tensordot`, `transpose`, `reshape` and some others, and it turns out that it is much faster than our current `tn.ncon`
[code]

[2020-06-04 21:45] Thenerdstation commented on #650
Nice! I'm curious why that is the case. Is it the python overhead or is it better contraction methods?

[2020-06-05 00:29] mganahl commented on #650
Not sure. I'm using tensordot to contract tensors, and I'm doing nothing fancy. The difference seems to depend on the order of the contracted indices.

[2020-06-07 11:31] AidanGG commented on #628
Would allow for computing `left_envs` and `right_envs` unconditionally for non-canonical `FiniteMPS`s.

[2020-06-07 11:37] AidanGG opened #656 "Have FiniteMPS.{left, right}_envs use BaseMPS.apply_transfer_operator"
I might be missing something, but I believe the contractions in `FiniteMPS.left_envs` is identical to `BaseMPS.left_transfer_operator`. I suggest the alteration to make use of the latter's JITting.

[2020-06-08 00:21] gevenbly commented on #650
Hey guys, for comparison I tested the `tn.ncon` with numpy backend against my own version of numpy `ncon` and found similar results to Martin (with the `tn.ncon` taking 4-5 times longer for the example considered above). I also tested my MATLAB version of `ncon` and found it to have identical performance to my numpy version in this example (which is not surprising since the tensors in the example

[2020-06-08 01:26] Thenerdstation commented on #650
That's really strange, especially since all ncon should be doing is calling tensordot...

[2020-06-08 01:32] Thenerdstation commented on #650
In Glen's code, the tensors are also really small and there's only 1 multiplication happening. I think it's likely just a ton of python overhead.

[2020-06-08 02:05] gevenbly commented on #650
Whoops, I forgot to specify but I set `D = 800` in my example (so the tensor dimensions are the same as in Martins example, the only difference is a permutation is involved). So these are a 800-by-800-by-12 tensor and a 10-by-800-by-800 tensor, which are large enough such that the relative overhead is minimal.

[2020-06-08 02:21] mganahl commented on #650
I noticed that the variance of the runtime of `tn.ncon` is really high. Some runs are as fast as a simple `ncon` call, but about half of them are really slow.

[2020-06-08 02:31] mganahl commented on #650
This happens actually for all other backends as well, with the expection of the tensorflow backend (I didn't test symmetric backend).

[2020-06-08 02:43] mganahl commented on #650
The high variance seems to suggest that it could be related to python overhead, in which case though we should definitely switch to the other version.

[2020-06-08 02:46] Thenerdstation commented on #650
No arguments on my end.

[2020-06-08 02:51] mganahl commented on #650
I'll prepare a PR. It will still be worth finding out what's causing this. If it's some python overhead in the Node or Edge classes we might want to fix it.

[2020-06-08 02:51] mganahl commented on #650
@Thenerdstation congrats btw on you last paper! looks very nice!

[2020-06-08 02:54] Thenerdstation commented on #650
Thanks haha. Jensen did basically all of the work, but I had the idea 😎.

[2020-06-08 19:43] #550 closed

[2020-06-09 01:03] refraction-ray commented on #650
I think I have found some hints on this issue.
[code]
and of course they are the same
[code]

somehow TN utilize the slow axes arguments in tensordot. But this in general is not an issue from TensorNetwork or python overhead here. It is just weird to see the performance difference in ``numpy.tensordot`` with barely the same thing. I guess the possible reason is in the slower case, a transpose is e

[2020-06-09 01:22] refraction-ray commented on #650
And for the high variance part,
[code]
this thing actually gives the tensordot axes as ``[[1,2], [0,1]]`` and ``[[2,1], [1,0]]`` stochastically... for each run, the tensordot axes can be different.

[2020-06-09 02:35] Thenerdstation commented on #650
Aw, that makes a ton of sense.

Do we know what order is consistently faster? We could probably add an optimization of it in `contract_between`.

[2020-06-09 03:03] refraction-ray commented on #650
I am not an expert on this so I am not very sure. But I find this problem persists in opt_einsum and numpy with einsum str instead of ncon interface.

[code]

I will open an issue in opt_einsum, the authors there are experts on this.

[2020-06-09 07:38] gevenbly commented on #650
Okay, so its seems that the performance difference between the ncon's here relates to how much tensor permutation is done. Hey @mganahl, this lend itself to an easy way to improve the new numpy version of ncon.  If we consider the examples discussed previously:

[code]

then I find the second line takes ncon several times longer than the first, even though they represent the same contraction. Howe

[2020-06-09 17:28] gevenbly commented on #650
In a practical calculation (contracting a binary MERA) changing the ncon to ensure that for each call to `tensordot` that one of the `axes` is always in ascending order, as described above, results in about a 10% speedup. This seems definitely worthwhile to do!

[2020-06-09 18:08] Thenerdstation commented on #650
yeah, seems pretty easy also. We'd need to change this section to account for the better order.

https://github.com/google/TensorNetwork/blob/72360d6b0ec91b2b5b7e0c04fcc1641908def50b/tensornetwork/network_components.py#L1983

@gevenbly, do you wanna give it a try? It could be a nice first PR to the library. :)

[2020-06-09 18:33] Thenerdstation commented on #650
@refraction-ray you're also welcome to give it a crack.

[2020-06-09 20:40] gevenbly commented on #650
@Thenerdstation, I think that Martin is already preparing a PR for the ncon, so we should wait for this. As far as I understand, ensuring this could be just a 1-line fix to ensure that tensordot always has a sequential order for axes, i.e. if we replace:
[code]
with instead:
[code]
then it should do the trick.

[2020-06-11 19:44] gevenbly commented on #549
Hey @mganahl, given that ncon is currently being overhauled, maybe it is a good time to add this functionality? This is a very nice quality-of-life improvement that greatly simplifies the implementation of many tn algorithms. In my previous libraries I have added an optional `which_env` argument to ncon to specify an environment to return from a closed network. So if we had a closed tensor network

[2020-06-11 20:18] gevenbly opened #663 "contractors.optimal is very slow"
I was testing the `contractors.optimal` routine for a medium sized network containing 12 tensors (related to a 1D MERA algorithm) and found it to be painfully slow, taking 5hrs+ to produce the optimal order whereas other established algorithms (such as that of arXiv:1304.6112) can produce a guaranteed optimal contraction order for the same network in 0.1secs.

While the other routines such as `con

[2020-06-11 20:38] Thenerdstation commented on #663
Alternatively, these functions could be added to `opt_einsum` and incorporated into our library.

[2020-06-11 22:20] gevenbly commented on #663
We could try this option, although I think it would be preferable to have our own internal version, such that it could be configured and modified as we like. In general, the best heuristics for finding optimal or near-optimal contraction orders can depend on the type of network one is solving; if we had a custom solver then it could be tuned to the specific types of network that users of tensornet

[2020-06-11 22:28] Thenerdstation commented on #663
Agreed, I think that sounds like a good idea.

Instead of nuking our use of `opt_einsum`, I'm more in favor of just extending the algorithms we have. Which one we finally call "optimal" I'll leave open for debate.

[2020-06-13 15:08] cqc-alec opened #670 "Quantum circuit simulation tutorial not working"
I am trying to follow the "Multiple Qubits" section of the tutorial, but cannot get the code to run. There are a few obvious errors. I inserted the missing definitions of `H` and `CNOT`, fixed the syntax error in the definition of `state_nodes` (missing closing parenthesis), and changed the definition of `qubits` (which refers to an undefined variable `nodes`) to `qubits = [node[0] for node in sta

[2020-06-13 17:20] cqc-alec commented on #670
I realized that I was using an incorrect definition of `CNOT`, naively thinking it should be the usual 4x4 unitary representation when in fact it should be a 2x2x2x2 array. So I did get it working in the end!

[2020-06-13 17:47] Thenerdstation commented on #670
Thanks!

Would you like to make a PR of the typos?

[2020-06-13 18:25] cqc-alec commented on #670
Yes, will do.

[2020-06-14 14:06] #670 closed

[2020-06-15 15:26] #599 closed

[2020-06-15 19:34] gevenbly commented on #663
Hi @Thenerdstation , I have written some new solvers to find optimal (or near-optimal) contraction orders. Some benchmark results confirm my initial complaint that `opt_einsum` is wildly inefficient. In the case of some test networks of `N` tensors, `opt_einsum` called from the `contractors.branch`, which searches for a good (though not necessarily optimal) contraction has solving time :

- N=10 r

[2020-06-15 20:36] Thenerdstation commented on #663
This sounds good to me. One of the awesome advantages of making the `ncon` API not depend upon `Node`s is that we can now use it within the `contractors`, so I don't see any issues with it.

[2020-06-16 17:21] Thenerdstation commented on #663
I would highly encourage you to submit a PR of the work you have for this. We can discuss/change the API at that time, though from your current setup it looks like I would mostly agree with the construction +- some name changing.

[2020-06-23 19:29] mganahl commented on #640
@gevenbly @Thenerdstation @alewis I have generalized `ncon` to support batched contractions, and I'd like to get your input regarding the interface. Currently `ncon` accepts a list of a list of labels (either `int` or `str`) for the argument `network_structure`. Any label prepended with a minus sign or a hyphen '-' is considered an output label, all other labels are contracted labels. `ncon` curre

[2020-06-23 19:34] #650 closed

[2020-06-23 19:46] gevenbly commented on #640
@mganahl Could you please provide an example (or use case) of a batched contraction? Otherwise I am not precisely sure what is meant by this.

[2020-06-23 19:55] mganahl commented on #640
Here is an example:
[code]
This one is more complicated:
[code]
In machine learning settings such contractions appear e.g. when summing over training samples.

[2020-06-23 20:15] gevenbly commented on #640
@mganahl Thanks for the examples. I would be more in favor of the approach of having the batch indices defined implicitly as -ve indices that appear more than once, rather than through a separate `batch_indices` input (although both ways of doing things have their own advantages).

[2020-06-23 20:17] alewis commented on #640
I agree with Glen, although I know I was arguing the reverse a while back. On reflection it seems weird and clunky having an extra argument that literally has no effect except error checking, especially since einsum already sets a precedent.

[2020-06-23 20:20] alewis commented on #640
The motivation for restricting Einstein notation to allow only pairs of contracted indices is so that one can easily read off whether an expression will transform as a tensor with respect to coordinate transformations when a metric is available. Since we obviously do not care about this there is no reason for the restriction.

[2020-06-23 20:23] alewis commented on #640
I also think treating batching as a weird edge case given how ubiquitous it is in machine learning sends the wrong message about what sort of users we care about. Anyway it seems we all agree.

[2020-06-23 20:28] Thenerdstation commented on #640
Agree with Adam and Glen. I think just having multiple uses of the '-x' will that that is required.

[2020-06-23 20:38] mganahl commented on #640
great, in this case I'll make `batch_labels` an optional argument to enable better error checking

[2020-06-23 20:41] mganahl commented on #640
be aware though of the following neccessary changes:
1. `ncon` will no longer throw an error if a negative label appears more than once
2. `ncon` will no longer throw an error if a positive label appears not exactly twice

[2020-06-23 20:53] mganahl commented on #640
In that case it doesn't make sense to have `bach_labels` as an argument at all

[2020-06-23 21:29] Thenerdstation commented on #640
SGTM

[2020-06-23 21:36] gevenbly commented on #640
@mganahl I am curious how the new `ncon` handles the batched contractions internally? You say that it is faster than `einsum`? Is the ncon just doing a loop over all batch instances or something smarter than this?

[2020-06-24 01:42] mganahl commented on #640
@gevenbly `ncon` is using `matmul` and `sum` operations. `matmul` exists in numpy,  jax and tensorflow where it can do batched matrix multiplications (for pytorch, we're using `torch.einsum` to emulate `matmul` behaviour).
It's not quite clear to me what the different versions of `einsum` are doing internally, but at least for numpy there are performance differences between using `np.matmul` and `

[2020-06-24 02:48] mganahl opened #679 "contraction path optimization for batch contractions"
Once we have batch support for `ncon` we need to have that as well

[2020-06-24 14:19] gevenbly commented on #640
Thanks for the explanation. In my previous ML codes I was using a `kron` based method to deal with batch indices (as to avoid having to loop over the batch indices explicitly), but it sees like python `matmul` is smart enough to do these batch contractions efficiently on its own.
It should be fairly easy to generalized the path solver to allow for batch indices (probably by using a second adjacenc

[2020-06-24 14:54] mganahl commented on #640
@gevenbly can you quickly tell me how you did it with kron? It might be useful to benchmark the two ways

[2020-06-24 15:43] gevenbly commented on #640
@mganahl Sure. A typical contraction that I would do for a ML problem is (where `d` is the samples in the batch and `chi` is a tn bond dim):
[code]
My solution (in MATLAB) to do this was using `kron` to avoid having an `for` loops, but an equivalent way to do the same thing is with numpy broadcasting and element-wise multiplications:
[code]
In my own benchmarks, the broadcasting method takes the s

[2020-06-25 14:33] mganahl opened #685 "zeros_like, ones_like, empty_like for BlockSparseTensor and symmetric backend"
This is useful for initializing new BlockSparseTensor objects from existing ones with compatible shapes, charges and flows

[2020-06-25 14:37] mganahl opened #686 "fix __repr__ of Index class"
Currently this returns only the dense shape. It should return dense shape, charges and flow information.

[2020-06-25 16:40] mganahl commented on #685
@gevenbly, as you pointed out earlier, this could potentially free us of the `Index` class. One case I'd like to cover though is where one needs to initialize a `BlockSparseTensor` from the shapes of two or more other `BlockSparseTensor`s. This happens for example in sparse solver initialization for DMRG if one has no access to the current MPS tensor, or when initializing `eigs` for finding reduce

[2020-06-25 17:54] gevenbly commented on #685
While we are here, I would also suggest it could be very useful to include a `rand_like` or `random_like` function (even though I don't believe this exists for numpy?).
I am not against the extensions to `one_like` that you suggest above, although I do not think that it is necessary. To initialize a blocksparse tensor, one is required to provide the `charge` and `flow` information; if one wants to

[2020-06-25 18:01] mganahl commented on #685
yes, `rand_like` or `random_like` is a good addition.

The aim is to provide an interface for initializing tensors that is the same for all backends, i.e. to avoid having to explicitly access charge or flow information of `BlockSparseTensor`. In some situations, one could want to initialize new tensors deep within a tensor-network algorithm, not only at initialization time. This API is aimed at co

[2020-06-25 19:13] gevenbly commented on #685
Sure, but it is already the case that blocksparse backend necessarily behaves differently to other backends when it comes to tensor initialization (such that there could inevitably be many places deep within code where tensor initializations need to be changed). The extension to `ones_like` you suggest could mitigate the need for some of the changes between code written for the numpy and blockspar

[2020-06-26 14:06] alewis opened #692 "Diag considered harmful"
While writing linalg operations I face the question of how to handle the various numpy functions concerning matrix/tensor diagonals. The three in question are:

- `diagonal(data, offset, axis1, axis2)`, which extracts the `offset`'th diagonal from the matrix slice of `data` specified by the axis arguments.

- `diagflat(data, k)`, which flattens `data` and places it in the `k`'th diagonal of a new

[2020-06-26 14:49] mganahl commented on #692
SGTM, `diagonal` and `diagflat` are sufficient.

[2020-06-26 15:07] gevenbly commented on #692
@alewis I understand your reasoning entirely, although I personally quite like `diag` as is convenient for operations on diagonal matrices. For instance, if I have a diagonal matrix `S` of singular values then I will often have to construct the inverse:
[code]
Having a single function `diag` that both extracts and then recasts the diagonal elements is easier to work with (and there are several oth

[2020-06-29 02:14] shreeju commented on #686
https://github.com/google/TensorNetwork/pull/696

[2020-06-29 20:11] mganahl opened #698 "two-side DMRG"
We currently only support vanilla single-site DMRG. We have to extend this to two side DMRG, preferably with subspace expansion methods to improve convergence for symmetric MPS

[2020-06-30 21:08] alewis commented on #698
This would seem to me to fall into the "examples" box. Or no?

[2020-06-30 21:14] alewis opened #702 "PEPS"
The major remaining v1.0 roadblock is a functioning PEPS example that runs acceptably on CPU NumPy and Jax. Let us get this done and discuss the issue here.

Some time ago @glevenbly sent me the attached tensor network diagrams, which represent independent steps of a PEPS implementation. If you guys would like, once vuMPS is in I could start on writing these up. Then we could discuss stringing the

[2020-07-01 13:55] mganahl commented on #702
Sounds goo. How far are we with VUMPS? Should I start looking into the GMRES implementation for jax, or are you doing it?

[2020-07-01 16:51] alewis commented on #702
I'm doing it. vuMPS is done but I want to write it in terms of tn.Tensor,
which I'm almost ready to do

On Wed, Jul 1, 2020, 09:56 Martin Ganahl <notifications@github.com> wrote:

[2020-07-03 13:38] SamuelMarks commented on #529
Great to see this issue, I was about to add a new one with the same question.

With that in mind, you mention that this hasn't been updated for the latest version of TensorNetwork.

Are you planning to update it? - If you want me to update it, can you give a checklist of what would be necessary?

Thanks

[2020-07-03 17:14] alewis opened #708 "Integer dtypes, dtypes in general"
It seems to me that we should support integer and perhaps boolean operations as much as possible due to their ubiquity in machine learning applications. Currently I think most of the backend functions actually do support integer math where it makes sense to do so (I have tested this in the experimental_ncon branch), but since there is no such testing in the backend this behaviour is undefined. Not

[2020-07-03 17:18] alewis opened #709 "LGMRES"
We should add an implementation of the LGMRES sparse linear solver, which outperforms GMRES in most cases, especially for nearly symmetric operators.

[2020-07-03 17:24] alewis opened #710 "CGM"
We should add an implementation of the CGM linear solver, which is provably optimal for symmetric systems.

NumPy and Jax both have implementations of this already, although I don't think the Jax version plays along with Jit as nicely as our Krylov stuff does. Thus an easy first step would be to write interfaces to these.

[2020-07-03 22:16] alewis opened #711 "Numpy decompositions tests"
The tests in backends/numpy/decomposition_tests.py only test one dtype and pivot axis. Probably this should not be so.

[2020-07-03 22:24] alewis opened #712 "Numpy calls in non-numpy backends"
A few functions in various backends seem to call the numpy equivalent for some reason - an example is sum. Is this intended? I am changing it in my current edit.

[2020-07-03 22:35] Thenerdstation commented on #712
All of the `shape` functions do for certain backends. I believe sum was an oversite.

[2020-07-03 22:39] alewis commented on #712
Ok, I'll fix sum and leave the ones that operate on shapes alone.

[2020-07-03 23:33] mganahl commented on #712
Thanks Adam, yes the jax-backend erroneously calls np.sum, this should be jnp.sum

[2020-07-15 20:40] mganahl opened #728 "add non_negative_diagonal to block-sparse qr and rq functions"

[2020-07-15 22:48] jcmgray commented on #663
Thought I'd just pop up and say that that the ``optimal`` and ``branch`` algorithms are indeed outdated and not really recommended from ``opt_einsum`` for more than a few tensors (at least by me - and I wrote them!). Instead you might want to compare to the [``dynamic_programming`` optimizer](https://optimized-einsum.readthedocs.io/en/stable/dp_path.html) (``optimize='dp'``) which is essentially s

[2020-07-16 00:21] gevenbly commented on #663
@jcmgray Thanks for letting us know; indeed the `optimize=dp` option does perform much better for the types of network that we commonly encounter. (Incidentally, the authors of the DP paper that you reference are all research collaborators)

[2020-07-16 00:32] refraction-ray opened #729 "TN_Keras.ipynb in both tensornetwork/tn_keras and tensornetwork/tn_keras/colabs"
The former one is a duplicate and should be removed

[2020-07-16 01:08] jcmgray commented on #663
@gevenbly Indeed yeah it's a nice algorithm, and the implementation in ``opt_einsum`` I think is very nice too ([which I can't take credit for](https://github.com/dgasmith/opt_einsum/pull/102)). I just wanted to point out:

1. it pretty much makes ``'optimal'`` and ``branch-*`` algorithms redundant (just takes effort to smoothly factor these things out)
2. my instinct is that it would be hard to d

[2020-07-16 01:16] Thenerdstation commented on #663
In that case, should we have `optimal` call this DP method instead? I see no reason why we shouldn't.

[2020-07-16 01:34] jcmgray commented on #663
My suggestion would be to replace any calls to ``optimal`` and ``branch-all`` by it for sure. I'd like to eventually point ``opt_einsum.paths.optimal`` to it as well and clarify the docs a bit.

``'dp'`` is also used by default (for up to 16 tensors I think) by the ``'auto-hq'`` method, which may incorporate other improvements as time goes by.

[2020-07-17 16:35] alewis opened #734 "vuMPS"
I'm now just one or two merges away from being able to start committing the example vuMPS code to the experimental_ncon branch, from which point on the latter will be a self-contained prototype.

The example would, however, be one to a few thousand lines of pretty nontrivial code that doesn't really divide into logically independent fragments. I'm not sure how to break it up into digestible PRs.

[2020-07-17 17:17] mganahl commented on #734
SGTM.

[2020-07-21 01:04] mganahl opened #742 "benchmark eigs for JAX backend"
We should check how eigs performs on CPU and GPU as compared to ARPACK

[2020-07-21 01:05] mganahl commented on #712
@alewis is this fixed?

[2020-07-21 01:05] mganahl commented on #711
is this fixed @alewis?

[2020-07-21 01:06] #686 closed

[2020-07-21 01:06] mganahl commented on #663
@gevenbly are you OK with closing this?

[2020-07-21 01:07] #640 closed

[2020-07-21 01:07] #582 closed

[2020-07-21 01:07] #628 closed

[2020-07-21 01:21] gevenbly commented on #663
Sure, no problem.

[2020-07-21 01:21] #663 closed

[2020-07-21 01:35] Thenerdstation commented on #742
Great idea! If you write a benchmark I can run it on a V100 like last time.

[2020-07-21 11:58] mganahl opened #743 "add dynamic programming contractor of opt_einsum"
We should update this asap

[2020-07-21 11:59] mganahl opened #744 "update contraction tutorials"
We now also have Glen's contractor. We should add a tutorial for that

[2020-07-21 12:02] mganahl opened #745 "add documentation for caching of block-sparse tensor data"

[2020-07-21 14:52] alewis commented on #712
Yeah, should be fine to close.

[2020-07-21 14:52] #712 closed

[2020-07-21 14:52] alewis commented on #711
This one I haven't touched yet. I wanted to clarify what dtypes we needed to focus on.

[2020-07-21 18:06] Thenerdstation commented on #743
Yes we should.

Should we just change the `contractors.optimal` to use `optimize='dp'`? Or should we add a `tn.contractors.dp` method? I'm ok with either, with slight preference to the former.

[2020-07-21 18:07] Thenerdstation commented on #744
I would actually love to add a wrapper around glen's code that automatically optimizes the contraction order. Maybe `tn.ncon_optimized(...)`?

[2020-07-21 18:08] Thenerdstation commented on #744
Tooling is all there, this would just be an API addition.

[2020-07-21 18:08] Thenerdstation commented on #729
yes it should.

[2020-07-21 18:09] Thenerdstation commented on #729
Done

[2020-07-21 18:09] #729 closed

[2020-07-21 18:27] mganahl commented on #743
I think the first choice is better, since it seems that 'dp' is destined to become the new standard in this case anyway at some point.

[2020-07-21 18:27] mganahl commented on #742
cando, I';; prepare a benchmark and send it to you!

[2020-07-21 19:23] #325 closed

[2020-07-21 19:24] #445 closed

[2020-07-22 21:19] #743 closed

[2020-07-29 10:26] mganahl opened #751 "add sampling to MPS"
The MPS class should support sampling and computing logprobs (both finite and infinite).
We should implement this at least for the numpy and JAX backends.

[2020-07-29 12:38] #698 closed

[2020-07-29 15:17] nquesada opened #752 "3- and N-body expectation values for MPS"
Not sure how hard would this be, but it would be nice to have methods to calculate 3- and higher-order body expectation values in a matrix product state.

[2020-07-30 02:44] mganahl commented on #752
Hi @nquesada, thanks for the issue! This would be a relatively straightforward generalization. Do you have any particular application in mind?

[2020-07-30 12:10] mganahl opened #753 "new pytorch release breaks build"
the test `tests/network_components_free_test.py` fails

[2020-07-30 12:12] mganahl opened #754 "new tensorflow release breaks our build"
the test `tn_keras/test_layer.py` fails.

[2020-07-30 15:33] nquesada commented on #752
Hi @mganahl ! It is useful to have higher order correlators to study to what extent a many body state can be described in a Gaussian formalism where higher order correlation functions break into sums of products of two body ones.

If you think this could be a good first issue I would be happy to try to implement it, although likely I will have questions along the way :).

[2020-07-30 18:47] Thenerdstation commented on #754
@bpenchas PTAL

[2020-07-30 20:37] bpenchas commented on #754
Addressed in PR #755 - though the pytorch network_components_free_test error persists.

[2020-07-31 20:24] mganahl opened #758 "__add__, __sub__, __truediv__ ... for Node need to be fixed"
The behaviour of these methods is very unintuitive and unsatisfactory:
[code]

while this works fine in `tensorflow`:
[code]

This is also related to the broken build (#753)

[2020-07-31 21:43] mganahl opened #760 "fix all pytorch tests"
As of lately pytorch has complex number support. This means we have to fix the tests that were skipping pytorch on the ground that complex was not supported.

[2020-07-31 22:05] Thenerdstation commented on #760
Oh that's very exciting!

[2020-08-03 02:35] huangrzh opened #761 "A quantum number object contains set of "quantum numbers""
I think it is good to generalize the concept of quantum numbers. Sometimes we may have two or several independent charges, for example, a Z2 parity and particle number. So I think it would be very helpful to add some functions as Q(Qa, Qb) derived from two or several different and independent quantum numbers.

[2020-08-03 02:53] mganahl commented on #761
thanks @huangrzh for the issue! Is this related to block-sparse tensors, i.e. tensors with a certain symmetry? Our block-sparse backend already allows you to have several independent symmetries. You can for example use the `@` operator to take the direct product of two charge-types
[code]

[2020-08-03 03:07] huangrzh commented on #761
Thanks @mganahl! This is exactly what I expected.

[2020-08-03 03:07] #761 closed

[2020-08-03 14:13] Thenerdstation commented on #761
Is this documented somewhere?

[2020-08-03 14:16] mganahl commented on #761
Not yet. I'll rewrite the documentation and I'll add it then

[2020-08-03 19:15] mganahl opened #762 "gmres for symmetric backend"

[2020-08-03 19:15] mganahl opened #763 "lgmres for symmetric backend"

[2020-08-03 19:15] mganahl opened #764 "lgmres for numpy backend"

[2020-08-03 20:43] mganahl commented on #752
@nquesada a PR is highly welcome! I can help you along the way if neccessary

[2020-08-04 02:39] #753 closed

[2020-08-04 13:18] mganahl opened #766 "add pivot to SymmetricBackend"

[2020-08-05 16:48] alewis commented on #766
Pivot is actually implemented in AbstractBackend - I just wasn't sure whether the operation even really makes sense in the symmetric backend. Could you check AbstractBackend.pivot and see if it looks reasonable for BlockSparse? If so it should be sufficient to just delete the overload in symmetric_backend.py and then write a simple test.

[2020-08-05 17:29] Thenerdstation opened #768 "Nuke Shell backend"
We don't use it.

[2020-08-05 18:33] #754 closed

[2020-08-05 21:44] alewis commented on #768
Yes, this fills me with joy

[2020-08-05 21:44] #692 closed

[2020-08-05 22:01] Thenerdstation commented on #768
I give you permission to do the nuking if you want.

[2020-08-06 19:01] #768 closed

[2020-08-06 19:28] alewis opened #771 "Jax eigsh_lanczos silently gives NaN when num_krylov_vecs > n"

[2020-08-06 19:29] alewis commented on #771
This in particular happens when num_krylov_vecs is not supplied and the function is applied to too small an operator

[2020-08-06 19:40] mganahl commented on #771
I'll have a look

[2020-08-06 20:03] Thenerdstation commented on #771
Indexing outside of the shape of the array will throw NaNs silently in JAX, that's likely the issue.

[2020-08-06 20:05] alewis commented on #771
I'd recommend we put something like num_krylov_vecs = min(num_krylov_vecs, n-1) somewhere far enough down the execution path that n-1 is available.

[2020-08-06 20:23] alewis opened #774 "experimental_ncon is done"
Once PRs #775 and #767 are merged, and the latter merged into experimental_ncon, experimental_ncon will to my mind be complete. We should thus begin thinking about how to merge it into master. The branch is somewhat misleadingly named since the main new thing about it is the tn.Tensor class.

I've written a vuMPS implementation in terms of TensorNetwork via tn.Tensor in https://github.com/alewis/t

[2020-08-06 20:30] mganahl commented on #771
Sounds good, though I‘d like to investigate why the function doesnt stop
once it hits an invariant subspace

On Thu, Aug 6, 2020 at 4:06 PM Adam Lewis <notifications@github.com> wrote:

[2020-08-07 01:25] mganahl commented on #771
@alewis, can you provide me with a minimal example?

[2020-08-07 01:30] mganahl commented on #771
The following example works fine for me:
[code]

[2020-08-07 05:09] Thenerdstation commented on #771
Let me try and solve this one. I haven't had to do a bug fix in a while (Because everything we write is so great!).

[2020-08-07 05:24] Thenerdstation commented on #771
@alewis I tried the code you wrote but the test is passing. Did I miss anything?

[code]

[2020-08-07 05:39] alewis commented on #771
It's possible I misdiagnosed this - I'll try and see what's up tomorrow

On Fri, Aug 7, 2020, 01:25 Chase Roberts <notifications@github.com> wrote:

[2020-08-07 16:07] mganahl commented on #771
Actually, it turns out that `eigs` (or more accurately `_implicitly_restarted_arnoldi`) has a bug that causes it to return `NaN` in certain cases.

[2020-08-07 16:10] alewis commented on #771
I'm still getting it from eigsh_lanczos though - I'm trying to pinpoint exactly when

[2020-08-07 16:11] mganahl commented on #771
can you send me the code?

[2020-08-07 16:11] mganahl commented on #771
or post it here

[2020-08-07 16:14] alewis commented on #771
[code]

[2020-08-07 16:15] alewis commented on #771
Ignore the docstring. Does that code pass for you?

[2020-08-07 16:23] mganahl commented on #771
It doesn't, and I think the reason is that the matrix you are passing is singular

[2020-08-07 16:48] alewis commented on #771
It's actually new information to me that this algorithm is expected to fail for singular matrices. Why does it only fail in Jax?

[2020-08-07 16:50] alewis commented on #771
I just checked and when n = 8, n_kry = n - 1 still gives NaN. So indeed it is probably to do with the matrix and not with the number of Krylov vectors.

[2020-08-07 16:51] alewis commented on #771
What a weird coincidence that implicit Arnoldi had some apparently unrelated bug

[2020-08-07 16:52] mganahl commented on #771
lol, I guess  we're lucky

[2020-08-07 17:08] mganahl commented on #771
I'm not sure actually. Lanczos usually works only well for extremal eigenvalues. If the lowest state is degenerate you get a random vector in the subspace. This needs still to be investigated, I'm just saying that the reason is related to your choice of matrix. Note that as you increase `n`, that matrix becomes crazy singular, so it's probably not the best choice for testing.

[2020-08-07 17:18] alewis commented on #774
I've submitted the first PR adding things to master, #779

[2020-08-07 17:34] alewis commented on #764
It would be super cool if on CPU (or maybe just in NumPy) we could call this code, which is a drop-in replacement to the SciPy version that is apparently 30 times faster: https://github.com/haranjackson/LGMRES. This seems to be possible under the MIT license that it's under, but I'm not sure if it's ok re: Google - we would need to ship the code, and I guess it would need to be compiled.

[2020-08-07 17:36] alewis commented on #764
Upon a closer read the code in question only accepts dense matrices (which is weird because the C++ code is actually in terms of a matvec function). So that pretty much sinks that dream.

[2020-08-07 17:38] mganahl commented on #764
well, we can always write our own extension if we want

[2020-08-09 21:06] manav28 commented on #758
Is this issue solved? While using the terminal, I am getting an error as mentioned but when I run it using a separate python file in the same directory as ```network_components.py```, it runs without issues.

**Terminal**
[code]
**File**
[code]
I didn't see any difference in the ```__add__``` method of the the package I installed using pip and master.

[2020-08-10 01:39] mganahl commented on #758
Hi @manav28 thanks for submitting an issue!
This bug should be fixed, but it has not been released yet. I tried both codes above and they work.
I'm not sure as to why you don't see any differences in the latest release and the current master though.
Have you tried to fetch and pull the repo?

[2020-08-10 01:59] mganahl commented on #766
Hey Adam, yes `pivot` in `AbstractBackend` should actually work for `SymmetricBackend` as well. I think it will be enough then to just remove `NotImplementedError`

[2020-08-10 02:21] alewis commented on #760
It seems that, while PyTorch does indeed have complex numbers now, many operations in practice choke on them. I'm still not totally sure of this though.

[2020-08-10 14:20] mganahl commented on #760
It's still in beta I think. But my guess is that they'll further develop it. Quantum computing and classical simulation of circuits is growing more important, and I guess they want to stay competitive there as well.

[2020-08-10 15:54] alewis commented on #766
Ok, I started doing this but I don't understand how BlockSparse works well enough to write the test as it happens. It's probably good that I learn this at some point at least well enough to do reshapes and so on, but I'm not exactly sure how

[2020-08-10 15:55] manav28 commented on #758
@mganahl False alarm. Something probably went wrong on my local and I got a fresh copy. Now I do see differences. Thanks for the response!

[2020-08-10 15:58] mganahl commented on #766
esstnially, you can copy the code from the `reshape` test in linalg_test.py or blocksparsetensor_test.py

[2020-08-10 15:59] mganahl commented on #766
or symmetric_backend_test.py

[2020-08-10 16:01] mganahl commented on #758
no problem, thanks again for submitting an issue!

[2020-08-10 16:01] #758 closed

[2020-08-10 21:00] Thenerdstation commented on #758
If you use it I can push and new version soon.

[2020-08-10 23:22] manav28 commented on #758
@Thenerdstation No worries. I wanted to contribute on this one. I wanted to verify if it was solved and clarify my question. Thank you for the support.

[2020-08-20 16:24] alewis opened #785 "Add sparse linalg to Jax?"
Hi all,

Per the conversation in https://github.com/google/jax/pull/4025 the Jax devs are interested in supporting at least some of the sparse linalg operations we've spent so much time on. Thus we may have more impact by migrating some of our eigs/eigsh/gmres code into Jax directly.

[2020-08-21 22:25] Thenerdstation opened #786 "Should we get rid of our type checker?"
It makes the build really slow and I'm not sure it's caught any problems.

[2020-08-24 13:26] mganahl opened #787 "add exp, sin, cos and sign to SymmetricBackend"

[2020-08-24 16:32] alewis commented on #786
The build is ridiculously slow, but I'm wondering if the reason it hasn't caught any problems is because it has forced us to be more disciplined about typing in the first place. Physicist contributors in particular are likely to have trouble with that kind of thing if we don't have the guiderails.

[2020-08-24 16:36] alewis opened #788 "Explicit support for Symmetric from tn.Tensor."
Currently Tensor does not explicitly support the Symmetric backend. We should think about how to add such support.

- There's an argument to be made that symmetric tensors differ significantly enough from their other counterparts to warrant them forming a separate subclass, so that the charge and flow information is accessible (for instance).

-Initialization is different.

-Many operations should

[2020-08-25 08:59] mganahl opened #791 "latest pylint break build"

[2020-08-25 16:19] Thenerdstation commented on #791
Can you hardcode the versions that pass?

[2020-08-25 21:08] mganahl commented on #791
do you mean hard code into travis requirements?

[2020-08-25 21:38] Thenerdstation commented on #791
Yes

[2020-08-25 21:49] mganahl commented on #791
it actually looks like older versions of pytype also raise a single error on master right now, at least in python3.8 on my machine (the error it raises should actually be raised, so don't know how this got into master ...)
the last pylint version that passes is 2.5.3

[2020-08-25 22:01] mganahl opened #793 "bump tests to python 3.8"

[2020-08-25 22:30] mganahl commented on #791
current pytype is actually passing

[2020-08-26 10:58] olliw94 opened #794 "Feature request: path_finder"
It would be nice to have a path_finder module to calculate an optimal contraction path for a tensornetwork with a specific structure so that this path can be reused for tensornetworks of the same structure.
In this way a lot of computation time can be saved if you want to calculate  tensornetworks of the same structure over and over again and you don't have to compute contraction paths each time a

[2020-08-26 20:35] mganahl opened #795 "import ncon_solver at contractors level"
Currently it's not imported in the `__init__.py`

[2020-08-26 20:42] mganahl commented on #794
Thanks @olliw94 for the request! This would definitely be nice to have. We have for now added a similar feature to `tn.ncon`, our contraction routine for tensors. `tensornetwork.contractors.custom_path_solvers.ncon_solver` allows you to compute the optimal path and reuse it in calls to `ncon`.  Let me know if this helps!

[2020-08-27 10:25] mganahl commented on #791
I think it would make more sense to make the code compatible with latest pytype and pylint versions (see #790), and then add python3.8 support.

[2020-08-27 15:56] #791 closed

[2020-08-27 21:12] mganahl opened #799 "add eye initialization for BlockSparseTensor"

[2020-08-27 21:14] mganahl opened #800 "orthogonalization for tensors"
Initialization of orthogonal tensors with respect to a pivot

[2020-08-28 09:59] mganahl opened #801 "unify call signatures of gmres, eigs and eigsh_lanczos"

[2020-08-28 12:23] mganahl opened #802 "add eigsh (ARPACK) to numpy"

[2020-08-28 12:23] mganahl opened #803 "add eigsh (ARPACK) to block-sparse backend"

[2020-08-28 12:23] mganahl opened #804 "add restarted lanczos to JAX backend"

[2020-08-28 14:05] adityasharma3 commented on #795
Hey,
can I take up this issue?

[2020-08-28 14:25] mganahl commented on #795
Of course, PRs are always welcome!

[2020-08-28 15:29] alewis commented on #804
Explicit restarts is pretty easy - in this case it's probably ok to use a plain old for loop. Is that sufficient do you think?

[2020-08-28 15:30] mganahl commented on #804
I actually had an implicit restart in mind.

[2020-08-28 15:34] alewis commented on #804
Fair enough. But, didn't you do that already? Or was it just Arnoldi?

[2020-08-28 16:05] mganahl commented on #804
just arnoldi. BTW implicit arnoldi needs a reworking as well, it's not yet fully jitted

[2020-08-31 17:58] MikeMerz commented on #787
Hello, I'm new to contributing and would like to apply this,is the issue available?

[2020-08-31 20:50] mganahl commented on #787
Hi @MikeMerz, this is still available. Let me know if you need any help!

[2020-09-01 22:47] #793 closed

[2020-09-02 06:19] KobeChe opened #807 "The number of parameters has been reduced, but the calculation speed has not improved"
[code]
**Why fc_model_TN has fewer parameters than fc_model, but fc_model_TN is not as fast as fc_model**

[2020-09-02 08:43] mganahl commented on #807
Hi @KobeChe, thanks for the issue.  It looks like you are hitting spurious retracing in tensorflow.  The problem seems caused by your implementation of the `call`. We can't really do anything about this, since this is a tensorflow issue. However, I took a quick look, and maybe the following fixes your problem:

Rather than defining `f` and the vectorization call within `call`, you should move both

[2020-09-02 13:01] MikeMerz commented on #787
Hey @mganahl , a couple of question
1) is it possible using numpy on each row and converting it back to tensor? or it's better to change it manually?
2)in the sign function,same as above, using the sign function of numpy? or to do the actual decomposing using different function already written?

[2020-09-02 13:07] mganahl commented on #787
You can use numpy functions. The symmetric backend operates on `BlockSparseTensor`, a custom sparse tensor class. I'm actually having second thoughts about this issue being a good first issue. It's supers short if you know what to do, but you need to know how `BlockSparseTensor` works. Are you OK if I go ahead and do it myself? Sorry about that!

[2020-09-02 13:12] mganahl opened #809 "SymmetricBackend eigs and eigh_lanczos give wrong results"
Bug due to missing memory shuffle of tensor data

[2020-09-02 13:13] mganahl commented on #807
I'll close this because it's not directly related to TensorNetwork

[2020-09-02 13:13] #807 closed

[2020-09-02 13:20] MikeMerz commented on #787
Yes, no problem

[2020-09-02 20:06] #809 closed

[2020-09-03 08:37] mganahl commented on #785
SGTM. I can take on `eigs` again

[2020-09-03 10:14] mganahl opened #812 "default param in GMRES"
the current default for `num_krylov_vectors` is `b.size`. This means one defaults to building the entire vector space, which seems rather unpractical for a sparse solver. @alewis any thoughts?

[2020-09-03 14:30] alewis commented on #812
We can change it to the NumPy default if you like - since the present
implementation halts the Arnoldi process early if convergence is reached
it's less problematic than it may seem, but you're probably right.

On Thu, Sep 3, 2020 at 6:14 AM Martin Ganahl <notifications@github.com>
wrote:

[2020-09-03 14:43] mganahl commented on #812
I haven't tested it extensively, but I was wondering about ill-conditioned problems, where gmres would essentially freeze if the ncv was say 10**6

[2020-09-04 07:59] mganahl opened #813 "fully jitted eigs for JAX backend"
Current implementation is not fully jittable

[2020-09-06 08:48] mganahl opened #814 "repr for Tensor"
We need to add a useful `__repr__` to `Tensor`

[2020-09-06 08:55] mganahl opened #815 "merge ncon versions"
We currently support two different versions of `ncon`, one taht works only for `tn.Tensor` (`tn.linalg.operations.ncon`)
and one that works for backend arrays and `Node` (`tn.ncon_interface.ncon`, also imported at top level as `tn.ncon`).
I propose to have `tn.ncon` work on `Tensor` and `Node` only

[2020-09-07 02:09] YijianZou opened #816 "TensorNetwork.kron does not work correctly"
TensorNetwork.kron is not what kron works in the usual way.
kron(A,B) should be equivalent to ncon([A,B],[[-1,-3],[-2,-4]]) but it does not work out this way.

[2020-09-07 02:36] Thenerdstation commented on #816
Can you give a repo code? You're right those two should be equal.

[2020-09-07 02:50] YijianZou commented on #816
I am not sure whether I understand your question. Are you asking for the source code of kron in the repository or are you asking for an instance that the kron method goes wrong?

[2020-09-07 03:42] Thenerdstation commented on #816
That one

[2020-09-07 03:43] Thenerdstation commented on #816
The main reason I ask is to see how you use kron.

[2020-09-07 03:58] YijianZou commented on #816
import numpy as np
import TensorNetwork as tn
from TensorNetwork.linalg.operations import ncon
X=tn.Tensor(np.array([[0.0,1.0],[1.0,0.0]]))
Id=tn.Tensor(np.eye(3))

XI_kron=kron(X,Id)
XI_ncon=ncon([X,Id],[[-1,-3],[-2,-4]])

print(XI_kron.array.shape)  #This one has shape (2,2,3,3)
print(XI_ncon.array.shape)  #This one has shape (2,3,2,3)

print(XI_kron.array[0,1,:,:])  # I don't know how this resu

[2020-09-07 08:40] mganahl commented on #816
yes, that's a bug. Thanks Yijian!

[2020-09-07 09:35] mganahl opened #817 "Tensor initialization with dtype and pytorch backend breaks"
`Tensor` initialization methods for pytorch currently break for this type of initialization:
[code]
(works for JAX and tensorflow)

[2020-09-07 20:00] #816 closed

[2020-09-07 20:53] Thenerdstation commented on #815
I'd propose only supporting backend arrays and `Tensor`. Supporting `Node` always felt awkward

[2020-09-08 06:44] mganahl commented on #815
SGTM, I'll fix this!

[2020-09-08 20:18] gaxler commented on #814
Shape and type seems like a useful information.
Should we have a string representation of an array as part of Tensor repr?

It seems to me that Tensor class is used with linalg functions, in this case it might be annoying to call Tensor.array to examine array's content.  What do you think?

[2020-09-08 20:29] mganahl commented on #814
I think the repr of the underlying array is fine.

gaxler <notifications@github.com> schrieb am Di. 8. Sep. 2020 um 22:18:

[2020-09-08 20:41] Thenerdstation commented on #814
Agreed. I think we'd be ok to to fall back on however the underlying array does it's `__repr__` + some extra info?

[2020-09-08 20:41] #815 closed

[2020-09-08 20:53] gaxler commented on #814
If we gonna use underlying repr we might get a lot of duplicate info in the repr or inconsistent repr depending on the backend.

e.g. TensorFlow has shape and dtype, pytorch and numpy might have dtype

So maybe just shape + type and leave the rest for Tensor.array?

[2020-09-09 12:28] mganahl opened #822 "improve JAX eigs"
make it jittable
remove some calls to numpy.linalg.eig
better convergence criterion: the current one is poor

[2020-09-09 18:56] gaxler commented on #817
TensorFlow can accept Numpy types, but PyTorch can't. That's the reason this line fails for me.

It works with dtype=torch.float64

[2020-09-09 19:06] mganahl commented on #817
that's right, but it should be consistent

[2020-09-09 19:08] Thenerdstation commented on #817
Eh, sounds more like a pytorch issue than an us issue. I assume you hit this from writing a test?

[2020-09-09 19:11] mganahl commented on #817
that's right. I think it would be more convenient to use np-dtypes throughout for initialization, but I'm happy to leave it as is (though the error message that's thrown is quite cryptic as far as I remember, and should at least be fixed).

[2020-09-09 20:46] gaxler commented on #817
How about initializing a numpy array and creating a tensor with torch.from_numpy?

[2020-09-09 20:54] mganahl commented on #817
initialization of `Tensor` is currently done through backend functions (which I think is a good design). Those really should take dtypes matching the backend. We could add a backend function `convert_to_dtype` that takes a numpy dtype and converts it to the backend dtype; we then call it on the input dtype before passing it to the backend initialization function.

[2020-09-09 21:47] alewis commented on #817
This is indeed the intended behaviour, like it or not (as it was for kron),
but I’m happy to change it. I don’t like silently converting dtypes if the
backend doesn’t though, and would suggest we use Martins solution of an
explicit conversion.

Adam

On Wed, Sep 9, 2020 at 4:54 PM Martin Ganahl <notifications@github.com>
wrote:

[2020-09-09 21:48] alewis commented on #817
If you just want to write tests, the various tests in linalg/tests
demonstrate some workarounds.

On Wed, Sep 9, 2020 at 5:47 PM Adam Lewis <adam.lws@gmail.com> wrote:

[2020-09-14 20:07] mganahl opened #826 "travis build seems stuck"

[2020-09-14 21:47] Thenerdstation commented on #826
Yes it does.

Travis has been incredibly flaky. We should try to switch over to github actions

[2020-09-15 20:28] Thenerdstation opened #828 "Latest JAX breaks build"
Looks like it's mainly problems related to using `jnp` for shape calculations.

[2020-09-15 20:31] mganahl commented on #828
I'll have a look. Cleaning up jax backend right now

[2020-09-15 21:36] #828 closed

[2020-09-16 06:41] #400 closed

[2020-09-16 21:47] #826 closed

[2020-09-16 21:47] #786 closed

[2020-09-20 14:35] AidanGG opened #835 "Support for opt_einsum's intermediate sharing"
I would like to make use of `opt_einsum.shared_intermediates` for caching intermediates across similar but different TN contractions. Here's a trivial example of a ring TN in raw `opt_einsum`:

[code]

Using JAX to inspect the `jaxpr` indicates that the same TN is reused entirely:
[code]

Now doing a similar thing in `tensornetwork`:
[code]

The corresponding output indicates that intermediate reu

[2020-09-22 10:30] #813 closed

[2020-09-22 15:37] #822 closed

[2020-09-23 14:21] alewis commented on #800
Let's maybe meet sometime and write out all the initialization methods we want?

[2020-09-27 19:32] #812 closed

[2020-09-27 19:32] #804 closed

[2020-09-27 19:33] #774 closed

[2020-09-27 19:33] #762 closed

[2020-09-28 00:48] wkostuch commented on #814
Hey, does this still need to be done?  I'm interested in working on it but this would be my first open-source contribution which is a little daunting.

[2020-09-28 07:53] mganahl commented on #814
Hi! This is addressed in PR #823.  You can add @alewis' comments to #823 if you want!

[2020-09-28 12:34] frmetz opened #839 "Jax slow for contractions and jit"
I am trying to reproduce the MNIST classification task with an MPS ansatz and encountered very slow compilation times when using jit. And even without jitting, the MPS contraction seems to be slower for jax than for the numpy or pytorch backends. I am using jax 0.2.0, tensornetwork 0.4.1, but I also tried master (https://github.com/google/TensorNetwork/commit/a27f269ce6b1738bbf2ffd4df7df8422646fb0

[2020-09-28 12:50] alewis opened #840 "Add power to each backend and as a Tensor method in linalg"
We should support the numpy function np.power.

[2020-09-28 12:52] alewis commented on #814
I think we're good for this one (although indeed you could make the small change suggested in #823 as a first step). However, we have many things that would be a great way to dip your toes into contributing. #840 in particular would have you moving around through most of the code, making small changes, and writing tests - having done it you should be pretty much equipped to do anything. I'd be thr

[2020-09-28 12:53] alewis commented on #840
@wkostuch how's this sound? I could help you through it if you want a good way to get started!

[2020-09-28 12:54] alewis opened #841 "Support real and imag at the backend level"

[2020-09-28 12:55] alewis opened #842 "Support ones_like and zeros_like as Tensor initialization methods"

[2020-09-28 12:56] alewis opened #843 "Support initialization of an arbitrary-backend Tensor from a numpy array or nested list"

[2020-09-28 12:58] alewis commented on #835
@Thenerdstation @mganahl Any thoughts on this? It does seem like important functionality, but I'm not sure how our contraction algorithms work well enough to comment directly.

[2020-09-28 14:42] mganahl commented on #839
Thanks @frmetz for the issue! When timing JAX functions, you should always call `.block_until_ready()` on the result of the function prior to measuring runtimes. JAX asynchronously dispatches instructions, and `block_until_ready()` forces the computation to finish before executing the next python statement. Otherwise, you are only measuring dispatch times.

That said, the timings  for `contract` I

[2020-09-28 14:54] Thenerdstation commented on #843
Numpy array should always work given you use `backend.convert_to_tensor`. Nested lists behave differently for each backend so that might be harder.

[2020-09-28 14:55] Thenerdstation commented on #835
Yeah that seems like it would be difficult to add.

Is there any reason you can't just manually reuse nodes? It's not automated, but that should work?

[2020-09-28 15:01] mganahl commented on #839
here is also a slightly changed version of your code where JAX and numpy perform about equal (at least for `num_samples=1`)
[code]

[2020-09-28 19:25] AidanGG commented on #835
What is stopping it from working right now? In my mind, constructing a new node from the same JAX array doesn't copy the underlying array and `tn.contractors.auto` should call into deterministic `opt_einsum` routines unless I'm mistaken?

Either way I'll try it out by reusing the nodes and get back to you.

[2020-09-28 21:30] wkostuch commented on #840
@alewis, this looks good, thanks!  I'd love to have a go at it.

I'm excited to (hopefully) start contributing, and if something comes up I'll be sure to contact you.

[2020-09-28 21:30] wkostuch commented on #814
@alewis I'll go pop over to #840, thanks for the suggestion!

[2020-09-28 21:37] alewis commented on #840
Great! The first step would be to add the function to the abstract backend.

To do this, first fork TensorNetwork, track the google repo as a remote, and start a new branch for your modification (lemme know if you need help with that part).

Within this new branch, go to `tensornetwork/backends/abstract_backend.py`, where various "empty" backend functions are implemented. These implementations jus

[2020-09-29 12:08] MikeMerz commented on #842
Hey, Im new to contributing , mind if I try this one?

[2020-09-29 12:12] alewis commented on #842
Sure, that'd be great!

The Tensor initialization methods are in `tensornetwork/linalg/initialization.py`, which is also where these should go. Tests go in `tensornetwork/linalg/tests`.

[2020-09-29 12:14] alewis opened #844 "Support pinv"
We need `np.linalg.pinv`, in both the backends and on `Tensor`.

[2020-09-29 12:17] alewis commented on #843
Fair enough. Probably just from an array is fine.

[2020-09-29 12:39] alewis opened #845 "Add `item` for Tensor"
Tensor should support the numpy-like function `item`, which converts a size-1 Tensor into a Python scalar.

[2020-09-29 17:36] MikeMerz commented on #842
Just to clarify , the input object has to be array-like(numpy, array, tensornetwork) right?

[2020-09-29 17:46] alewis commented on #842
It's a good question. I think it's probably ok to allow the input object to be any array type, yeah.

In the case that the input object is itself a Tensor, this function should create a new Tensor of zeros (ones) with the same shape, dtype, and backend.

In the case that the input object is a backend array, the user should also specify the backend, and the function should return a new Tensor of ze

[2020-09-30 03:41] wkostuch commented on #840
So a pull request with just the "empty" function (and corresponding test) that raises an error and then go from there after that?

I wrote the code for that, but then when trying to run the tests found out that one of the dependencies doesn't play nice with Windows, so I'm in the midst of setting up a Linux environment to get around that.  Once that's done I'll run the tests and keep on working.

[2020-09-30 06:08] mganahl commented on #842
Hi! Thanks @MikeMerz for contributing! The input array should either be an `np.ndarray` or a backend array. `convert_to_tensor` will do that for you, i.e. convert a `np.ndarray` to a backend array, or throw an error if the input array does not match the backend.

[2020-09-30 12:20] frmetz commented on #839
Thanks @mganahl! This was very helpful. Your code example actually accidentally solved another issue I had :)

Just to be sure that I am understanding it correctly: The for loops that are likely to increase the compilation times in my example are due to loops inside the TensorNetwork functions I call, right? So there is nothing really I can do to further speed up this part of the computation?
Than

[2020-09-30 14:02] MikeMerz commented on #842
Ok , in case convert_to_tensor rasises an exception would you like to raise the same exception or a different informative massage?
By the way , while running my tests, during the pytorch part a Type exception is raised about torch.float32 by convert_to_tensor,any idea why this spesific type causes the excption?

[2020-09-30 14:15] alewis commented on #842
Hi @MikeMerz,

Sorry for the mixed messages - I think the input array (to `ones_like` or `zeros_like`), should also be allowed to be a `Tensor`, in addition to the above.

As for the type exception it's hard to say exactly without seeing the code that causes the error. Could you append a snippet, or ideally link to a Colab that reproduces the error?

[2020-09-30 14:19] alewis commented on #840
Yes that's right, just the empty function at first. In general we try to keep pull requests to 200 lines or shorter, excluding test code, although sometimes this is not possible. That's because all the pull requests are to be peer reviewed, and it's hard for the reviewer to catch things when they are longer than this.

Regarding Windows, if you are using Windows 10 there is a so called "Windows Su

[2020-09-30 16:05] MikeMerz commented on #842
Hi @alewis,
To summarize we'll get:
1)type is np.ndarray - call convert_to_tensor to change to a backend and init with the arrays shape and given backend and type?
2)type is backend - DO NOT call convert_to_tensor and continue as above
3) typse is Tensor - we just init a new one and the same attributes
Did I get it right?
I think the error derives from an err in the above.

[2020-09-30 16:12] alewis commented on #842
Right so we want (in my opinion):

Type is np.ndarray or Tensor should behave as you say.

When I say a backend array I mean the array type of one of the backends; e.g. a numpy array, PyTorch Tensor, etc. The np.ndarray is a special case of this; thus, one should again call convert_to_tensor to change to the specified backend, which might differ from that of the given array.

As for the backend it

[2020-10-01 02:59] wkostuch commented on #840
Makes sense!  I got WSL running, so the empty function and test are now waiting for a review.

[2020-10-01 17:03] ahmedkrmn commented on #841
Hi @alewis,
Any ideas on how to tackle this?

[2020-10-01 17:11] MikeMerz commented on #842
OK, it seems the only question I have left is  that for the backend input, it seems that it doesn't have a shape so a default shape of (1,1,1) would suffice?

[2020-10-01 17:22] alewis commented on #842
The argument named `backend` is not an array, but a specification of the
backend to be operated on. It may be specified in three valid ways:

1. backend = None -> retrieves the default backend, which is set by a
global flag. Check one of the other functions for details of how to handle
this.

2. backend = string -> generates a backend object from this string, and
uses the result.

3. backend = (ba

[2020-10-01 18:28] alewis commented on #842
Well, we'll sort it out in the PR. So yeah go for it!

[2020-10-03 21:49] alewis commented on #840
The next step would be to add the same function, and test(s) of it, to the numpy backend, using the existing functions in numpy_backend.py and the test file as an example. This next needs to be repeated for TensorFlow, PyTorch, and eventually Symmetric, though Symmetric might require some specialized physics knowledge and perhaps would be best left for later.

[2020-10-04 18:44] wkostuch commented on #840
Add the same empty function and tests as before or go ahead and put each backend's version of power in?

[2020-10-05 14:26] alewis opened #848 "Move towards consistent use of the term `Tensor`"
Right now there's a bit of a confusing situation going on where the term `Tensor` refers both to the type of a given backend array (the old use) and to `tn.Tensor` itself. Since this is confusing for new developers I recommend we change the former use to something more descriptive, e.g. "backend array". Using that name (subject to discussion) as a placeholder, I would recommend the following:

1.

[2020-10-05 14:27] alewis commented on #840
Yeah, so this time you'd want to actually add the function. I'd recommend you make each backend a separate PR.

[2020-10-05 14:35] alewis commented on #848
Alright, let's junk the Node thing then.

[2020-10-05 16:04] glitch401 commented on #760
Could I take up this, for my first contribution ?

[2020-10-05 18:28] alewis commented on #760
This actually might be fixed and we just forget to close it - @mganahl ?

[2020-10-05 18:29] alewis commented on #760
In the case that it is, #844 might be a good place to start? We'd be thrilled to have you!

[2020-10-08 13:08] MikeMerz commented on #841
Hey,
Is this issue still still open?

[2020-10-08 13:08] MikeMerz commented on #843
Hey,
Is this issue still still open?

[2020-10-08 14:20] alewis commented on #843
Yep, all yours. I think we aren't going to support nested lists, but it would be good if initialization in an arbitrary backend could be done from a numpy array:

`
A = np.zeros(shape, dtype)
At = tn.Tensor(A, backend="numpy") # produces a tn.Tensor with the numpy backend
At_tf = tn.Tensor(A, backend="tensorflow") # produces a tn.Tensor with the TensorFlow backend
`

[2020-10-08 14:51] alewis commented on #841
Yep, this one is, though I don't know whether @ahmedkrmn is working on it?

[2020-10-10 12:55] ahmedkrmn commented on #841
@MikeMerz, feel free to work on it if you want to.
I've been bus lately so I still haven't' started.

[2020-10-10 16:26] MikeMerz commented on #841
@ahmedkrmn Thanks mate.
Just a though:
1)For numpy and tensorflow backends, it's possible to just to call numpy and tensor's .real and .imag? as the input is of the same type.

[2020-10-10 16:33] alewis commented on #841
Yes, that should work in all cases except PyTorch and Symmetric. For
PyTorch you'll need to do some additional type checking because calling .
real and .imag throws an error for non complex input in that case.

On Sat, Oct 10, 2020, 12:26 MikeMerz <notifications@github.com> wrote:

[2020-10-10 17:22] MikeMerz commented on #841
For PyTorch, is it better to raise an excpetion if the input is not complex or treat it as 0j?

[2020-10-10 18:59] virajone commented on #844
@alewis Hey I'm new to the project and would love to contribute.  Given this seems like a good first issue, can you please provide the scope for this one ?

[2020-10-10 20:11] alewis commented on #841
I think the latter, yeah.

On Sat, Oct 10, 2020, 13:22 MikeMerz <notifications@github.com> wrote:

[2020-10-11 00:28] alewis commented on #844
Sure, happy to have you. The goal would be to add the numpy function `pinv` https://numpy.org/doc/stable/reference/generated/numpy.linalg.pinv.html to the library via each of the various backends. The first step is to go to `tensornetwork/backends/abstract_backend.py` and to add it there, using the other existing functions as guides, and then to the tests in the same folder. Why don't you give tha

[2020-10-11 03:45] Sanchayan-Bhowal commented on #845
May i work on this issue?

[2020-10-11 08:44] virajone commented on #844
@alewis Thanks for the details. Seems fairly straightforward. I will get back to you once I'm done with the first one. Can you assign me the issue in the meantime ?

[2020-10-11 13:01] alewis commented on #845
Sure, sounds great!

[2020-10-11 13:01] alewis commented on #844
Done!

[2020-10-11 17:39] MikeMerz commented on #841
@alewis Hey, I unintentionally pushed the changes of this Issue to the ones_like and zero_like Pull request

[2020-10-11 19:29] alewis commented on #841
Hmm, do you think you can revert it and split them up?

On Sun, Oct 11, 2020, 13:39 MikeMerz <notifications@github.com> wrote:

[2020-10-12 12:17] virajone commented on #844
@alewis , Added a PR #850 for adding PINV to abstract_backend. Your feedback would be really appreciated! I shall also start working on adding it to the other backends and eventually the tensor, per your approval.

[2020-10-12 14:45] MikeMerz commented on #841
@alewis after much tries, I re-uploaded the changes for the ones_like & zero_like issue , had to close the last request

[2020-10-12 15:38] alewis opened #852 "Add cholesky decomposition"
We should support the Cholesky decomposition per https://numpy.org/doc/stable/reference/generated/numpy.linalg.cholesky.html#numpy.linalg.cholesky, adding a pivot argument in the same way as qr and svd.

[2020-10-12 16:10] mganahl opened #853 "Add Cholesky to symmetric backend"

[2020-10-13 04:27] Sanchayan-Bhowal commented on #845
Actually I am new to GitHub. I have forked the issue and cloned it to my pc. Can u please guide me how to edit the code?

[2020-10-13 04:27] Sanchayan-Bhowal commented on #845
@alewis

[2020-10-13 10:05] mganahl commented on #845
Hey @Sanchayan-Bhowal, thanks for your contribution!

The workflow is as follows:

1. create a fork of the TensorNetwork repository
2. locally clone the fork to your computer:
    *  `$ git clone <your fork>`
3. create a new branch for your PR: `$ git checkout -b <my PR branch> master`
4. fetch latest changes:
    * `$ git fetch upstream`
    * `$ git merge upstream/master`
5. add your changes to

[2020-10-14 05:29] Sanchayan-Bhowal commented on #845
@mganahl  Thank you so much I will try to fix this issue as soon as possible

[2020-10-14 06:58] Sanchayan-Bhowal commented on #845
@alewis I have generated a pull request and added a function please check it out

[2020-10-14 13:45] MikeMerz commented on #843
@alewis Hey, I tried running the snippet in the last comment and it seems to work fine, did someone already write this?

[2020-10-15 17:11] virajone commented on #844
@alewis I have made the requested changes. In case you will be approving  the #850 , shall I proceed to adding PINV to other backends ?

[2020-10-16 12:53] #842 closed

[2020-10-16 12:53] alewis commented on #842
Addressed successfully by @MikeMerz!

[2020-10-25 11:25] Dbhasin1 commented on #852
Hello, can this issue be assigned to me?

[2020-10-25 11:51] mganahl commented on #852
Sure thing!

[2020-10-25 12:50] Dbhasin1 commented on #852
Hello,
what exactly do you mean by the last line, "adding a pivot argument in the same way as qr and svd."
Thanks

[2020-10-25 13:20] Dbhasin1 commented on #852
Could you please tell me exactly where I need to add this function?

[2020-10-25 15:15] alewis commented on #852
Hi @Dbhasin1,

The function and tests first need to be added to the various backends, which live in tensornetwork/backends/blah. The first is the AbstractBackend, a base class that just throws NotImplementedError. The others all wrap functions from other numerical packages, the idea being to provide a means to quickly switch between these.

Inside the backend files you will see many other function

[2020-10-25 15:51] Dbhasin1 commented on #852
I don't see the svd or qr functions, however, in the tn.Tensor interface you mentioned. Is there some reason for that?

[2020-10-26 21:57] repst opened #858 "Make Node a subclass of Tensor?"
Having not followed the recent PRs, our group became aware of the new `Tensor` class with the release of 0.4.2. We found that `tensornetwork.ncon`, `tensornetwork.conj` and `tensornetwork.node` take `Tensor` objects and throw errors when passed `Node` objects.  If `Node` inherited from `Tensor` they could share such functionality. I think of a node as a tensor with extra ability to connect to othe

[2020-10-27 07:15] mganahl commented on #858
Hi Ryan, great suggestion! I think that would make sense. @Thenerdstation  @alewis, what are your thoughts?

[2020-10-27 12:56] alewis commented on #858
It seems fine to me. I don't know how Node works well enough to decide how
hard it would be.

On Tue, Oct 27, 2020 at 3:15 AM Martin Ganahl <notifications@github.com>
wrote:

[2020-10-27 15:02] mganahl commented on #858
Hey @repst to give you some perspective: we added `Tensor` specifically for use in traditional tensor network calculations where the `Node` API  becomes cumbersome to use. We are currently working to move the DMRG implementation towards a consistent use of `Tensor`.

[2020-10-27 15:31] alewis commented on #858
Nevertheless, it would be a nice simplification to the interface if all the
tn. functions worked on Node

On Tue, Oct 27, 2020 at 11:02 AM Martin Ganahl <notifications@github.com>
wrote:

[2020-10-27 16:04] skothegh opened #860 "Groundstate and GS energy from DMRG"
Dear Sir or Madam,

Currently I try to understand your library as I need it for work and I have some issues understanding some parts of it. I was advised to post my questions on your GitHub page and the "issues" tab is the closest thing to a forum I found.

My current problem is to understand how your DMRG class works exactly. I could not find a function that allows me to simply extract the ground

[2020-10-27 18:52] mganahl commented on #860
Hi @skothegh, thanks for the issue. Yes, this is indeed the right place to ask such questions.
The energy can be obtained using the `FiniteDMRG.compute_energy()` method.

Unfortunately, the code above is incomplete, so I can't test it. Please post a complete, self-contained working example, and I will have a look.

[2020-10-27 18:54] skothegh commented on #860
Hi mganahl,

sorry, I thought that was sufficient.

[2020-10-27 18:57] skothegh commented on #860
Sorry mganahl,

I thought that was sufficient. This here should do the trick. I did use compute_energy() but it spit out the same value before and after running run_two_site(), so I thought it was either something different or I made another mistake.

Best,
sk

[code]

[2020-10-27 20:07] mganahl commented on #860
Thanks! It seems this is an overcomplete example, but fair enough :).
Looking at your MPO, what model would you actually like to implement?

[2020-10-27 20:54] mganahl commented on #860
Hi @skothegh, I had a look at the code! First, there is a bug in the definition of `op1`:
[code]
You are overwriting the first assignment in the second line there. Also, your definition of `op2` is strange. Are you simulating the Ising model? If so, the MPO should look different.
That said, the above doesn't affect the `h=0` case you are considering here.

The reason the simulation is going nowher

[2020-10-27 20:54] #860 closed

[2020-10-28 09:13] skothegh commented on #860
Hi mganahl,

you are right in all points. God knows where my head was yesterday and I am sorry to have bothered you with such a bad code and stupid questions. The first bug completely slipped past me and of course its an eigenstate. I even thought about that just to have it slip out of my mind a second later. And yes, it is supposed to be the MPO of the TFI model. And yes, its wrong. I faultily ad

[2020-10-28 18:06] Thenerdstation commented on #858
Yeah, as long as all of the nodes created by these methods always return with dangling legs, i think that would be fine.

[2020-10-29 23:08] repst opened #863 "Giving ncon a pythonic makeover"
The function `ncon` is powerful and beloved by veteran tensor networkers. Yet despite its prowess, it hasn't shed its matlabian exterior which prevents it from feeling like a natural python function. First, edge indices that start at 1 don't mesh well with python nor with TN in general where tensor axes that start at index 0. Second, python has a nice alternative to passing in two lists of associa

[2020-10-29 23:12] mganahl commented on #863
Hey @repst thanks for the proposal. Sounds very interesting to me! Let me think a bit about this. Also roping in @gevenbly on this one!

[2020-10-29 23:58] Thenerdstation commented on #863
This seams very much in the spirit of the "functional node" design we discussed months prior.

The idea was very similar to what you are describing, only instead of wrapping everything in a single ncon function, you would build the contraction like

[code]

[2020-10-30 00:25] alewis commented on #863
oh no

[2020-10-30 00:38] alewis commented on #863
wait didn't Martin and Glen implement the string thing as "fancy ncon"? what happened to that?

anyway so basically the concern is how to handle contractions involving, say, 10 or more tensors with 15 legs each or something. in addition one needs a means to specify the contraction order, ideally without having to rewrite the whole thing

it's felt by some that ncon improves this situation compactl

[2020-10-30 00:44] alewis commented on #863
anyway ncon probably needs to exist roughly as is because the old tn guard will otherwise flatly refuse to use the library. however alternative interfaces useful to others are welcome, at least to my mind.

[2020-10-30 01:21] Thenerdstation commented on #863
Ultimately, it seems like it would essentially be a shim to just calling ncon outright with a different user facing API. I welcome PRs for desired interfaces! No reason we can't evolve things.

[2020-10-30 02:38] gevenbly commented on #863
I have a couple of issues with the syntax @repst has suggested.
(i) It is a relatively common occurrence to contract networks containing many copies of the same tensor. I don't see how this would work using a dictionary, unless each tensor copy was first given a distinct name (which is something that should be avoided).
(ii) It is also a relatively common occurrence to evaluate the same network ge

[2020-10-30 07:30] mganahl commented on #863
As Glen has pointed out, using a single input tensor many times within `ncon` would not be possible with a `dict` without introducing additional steps for the user. I agree that this is something that we want to avoid (calls to `ncon` should remain as compact as they are now).

As @alewis mentioned, the current version of `ncon` supports strings for labelling tensor legs. The idea of using imagina

[2020-10-30 07:50] mganahl opened #864 "remove `jit` from backends"
We should switch to using the `jit` decorator.

[2020-10-30 13:58] alewis commented on #863
I actually like the interface Chase suggested in this thread, to be clear. In many (not all) cases I think it will lead to more
comprehensible code, for example by allowing a complicated tensor network with a recursive structure to be built as a recursion. Mostly I think we dropped the matter because we decided the numerics took a higher priority.