[2020-10-30 13:59] alewis commented on #864
Like the tn.jit thing I wrote some time ago or jax.jit? The former calls the backend jit

[2020-10-30 14:09] mganahl commented on #864
i noticed, closing this

[2020-10-30 14:09] #864 closed

[2020-10-30 15:24] Thenerdstation commented on #863
I would generally agree, but in this case I think we'll be ok. Like you said we only have 2 APIs at the moment (the all-in-one ncon and the node/edge object oriented design), and each have some pretty strong weaknesses. Ncon becomes unmanageable beyond a handful of tensors, and the node/edge design is really cumbersome when you want to do anything beyond basic contractions.

I think I can build a

[2020-10-30 15:44] repst commented on #863
Thanks for indulging the new guy stirring up trouble. This is very helpful discussion. Let me stuff some of the worms back in the can for the moment and focus on the most important part (to me): mixed use of 1-based and 0-based indexing in the TN library. This is a bit of a sore subject as my coworker has spent many hours tracking down a bug in our code due to iTensor's 1-based indexing in 0-based

[2020-10-30 15:55] alewis commented on #863
Does base Python support imaginary `int` types? I think it would be sorta bad to make the labels floats.

[2020-10-30 15:58] repst commented on #863
@mganahl's point about keeping the dangling flag similar for string types is important as well.

[2020-10-30 16:04] gevenbly commented on #863
@repst, I think that `ncon` could be written to simultaneously accommodate 0-based and 1-based indexing, and it is a good idea to do so. This could be done using the existing syntax, where one could either label the dangling indices `[-0,-1,-2,...]` or `[-1,-2,-3,...]`. The only restriction would be, in the former case, that `0` could not be used as a label over the internal (contracted) indices.

[2020-10-30 16:09] Thenerdstation commented on #863
Yeah Glen's answer might be the correct one. We currently disallow 0, so reallowing it and always making it a dangling leg might be ok.

[2020-10-30 16:10] Thenerdstation commented on #863
@alewis @mganahl Didn't 0 have a special meaning in the original matlab ncon?

[2020-10-30 20:15] repst commented on #863
I assume we'll still want open batch labels.

[2020-10-30 20:17] mganahl commented on #863
That's right, multiple free labels are fine.

[2020-11-02 16:56] Thenerdstation opened #871 "Renaming NconBuilder and related"
We should consider renaming the methods around NconBuilder.

Current changes proposed:
NconBuilder -> ContractionBuilder
tn.contract -> tn.contract_edge
tn.finalize -> tn.contract

[2020-11-02 16:56] Thenerdstation commented on #871
#869

[2020-11-03 14:19] alewis commented on #871
Well, I think it's a good idea. I personally think I would prefer this API in my own work, which is admittedly fairly MPS-centric.

I also like the opportunity it gives to abstract contractions so they can be manipulated and so on independently of the concrete tensors. I wonder if we can invent convenient functions to generate e.g. reflections of contractions:

given
|----
A-B-
|----

return
   --

[2020-11-03 14:20] alewis commented on #871
Ok well I can't get the bottom one to come out right but hopefully you get the idea. Not sure if it's feasible.

[2020-11-03 14:47] Thenerdstation commented on #871
`tn.conj`?

[2020-11-03 14:52] mganahl commented on #871
I would stick to `conj` and `transpose` for that.

[2020-11-03 16:20] alewis commented on #871
Sorry, what I mean is that the *function* would be transpose, not the output tensor

[2020-11-03 17:27] Thenerdstation commented on #871
I don't understand what you mean.

[2020-11-03 19:54] alewis commented on #871
Well that's cause the idea is a bit half-baked:

-eventually we could use Contraction/NconBuilder to create "Contraction"
objects which do the specified ncon call
-having done that one could also imagine functions acting on the
tn.Contraction before it is actually used. For example, reflecting the
specified tensor network about an axis, permuting the output, removing one
of the tensors or adding a

[2020-11-03 21:35] mganahl commented on #871
I really like this idea. We could use `NconBuilder` as a "shell" tensor network class that Glen was proposing a few months back. The `NconBuilder` could for example store metadata about contraction orders and the like. In that case it would be useful to be able to replace the current tensors in the builder with new ones. For complicated algorithms, reusing the network structure with different tens

[2020-11-03 21:42] Thenerdstation commented on #871
-- The TensorNetwork class

[2020-11-03 21:54] Thenerdstation commented on #871
And I like all these ideas. My only request is that the NconBuilder remains functional. (Immutable, functions have no side effects)

[2020-11-03 22:04] mganahl commented on #871
absolutely agree

[2020-11-03 22:05] mganahl commented on #871
lol

[2020-11-05 08:32] mganahl opened #873 "get_path not giving optimal path for "optimal" algorithm"
`get_path` is not giving the optimal path for  `algorithm=opt_einsum.paths.dynamic_programming`.
The result is optimal in leading order, but for cases with degenerate leading order but differing subleading order it is not always giving the lowest cost result. I think this is an issue in `opt_einsum`, but I'm posting it here so we can keep track of it internally as well.

[code]

[2020-11-05 08:51] mganahl commented on #873
turns out there's a bug in the test

[2020-11-05 08:51] #873 closed

[2020-11-10 22:02] mganahl opened #877 "expm for symmetric backend"

[2020-11-10 22:19] mganahl opened #878 "improve testing of symmetric backend"
testing of the symmetric backend is currently done independently of the other backends. We should pull all these tests together. A good way would be to build a custom test suite with testing routines like assert_allclose or assert_almost_equal a.s.o. that can handle all backend arrays.

[2020-11-11 14:06] alewis commented on #878
Do you think the current suite of backends will stay relatively stable?

On Tue, Nov 10, 2020 at 5:19 PM Martin Ganahl <notifications@github.com>
wrote:

[2020-11-11 15:33] mganahl commented on #878
I would think so. The main problem right now is that the `Tensor` class doesn't test the symmetric backend at all, and any new feature will not do that either. If we build testing routines that can handle all backend arrays, and initialize test accordingly, then all tests can be run on all backends. The "Tensor svd" PR shows a simple example of how it's done

[2020-11-12 01:05] matthewweippert opened #879 "Serialization and storage of Tensor Network objects"
I'd love to see some methods for serialization and storage of matrix product operators and states. In the short term, I was hoping to use pickle and/or [dill](https://pypi.org/project/dill/), but both are giving me problem:

[code]

I expected to see True and True and the same name for the numpy (default) backend twice. Python's pickle gets hung up on svd (maybe the first jitted function?): `Attri

[2020-11-12 01:09] matthewweippert commented on #879
This may be related to #206 and #214 .

[2020-11-12 07:18] mganahl commented on #879
Hi @matthewweippert! The issue with `pickle` here is that the `FiniteMPS` class has a bunch  members which are inline-defined functions, and `svd` is one of them. The reason for this is indeed related to `jit`ing. Let me see if I can fix this.

[2020-11-20 20:48] anjugopinath opened #881 "TypeError: __init__() takes 2 positional arguments but 4 were given"
I am getting the same error.
I use TF version 1.15.0 on Ubuntu in conda environment. How can one fix it?

[2020-11-20 21:59] anjugopinath commented on #121
Hi , I am getting this error. My conda environment has TF 1.15.0. How can I fix this? Thank You.

[2020-11-20 22:55] mganahl commented on #121
thanks @anjugopinath for the issue. In fact, using the `tn.TensorNetwork` object is deprecated for a while now and is no longer supported. Which version of `tensornetwork` are you using?
Could you provide a minimal working code example that reproduces the error? Thanks!

[2020-11-20 23:23] anjugopinath commented on #121
hi @mganahl Thank You so much for replying.
Line number 35 of this code is throwing the error : https://github.com/shreyashampali/HOnnotate/blob/master/optimization/object/batch_object.py
This code has been tested on tensorflow 1.12. My conda environment has tensorflow 1.15

[2020-11-23 16:44] skothegh opened #882 "Disabling initial Normalization of MPS tensors"
Hello,

is it somehow possible to disable the automatic normalization of the tensors of the MPS?

I require the MPS to be initialized with tensors whose first and last element sum to 1, and the initial normalization messes with that.

What I have is the following:

[code]
I would like to get
 array([[[0.5], [0],[ 0. ],[0.5]]])
Is that somehow possible?

Best regards,
Sk

[2020-11-23 20:03] mganahl commented on #882
you can use `canonicalize=False` in the initialization:
[code]

[2020-11-23 20:12] mganahl commented on #121
It seems that this code is not using `tensornetwork`. Are you perhaps confusing it with `tensorflow`?

[2020-11-23 20:29] skothegh commented on #882
Thank you kindly! That is exactly what I have been looking for. I must have overlooked that option a good dozen times.

Best regards!

[2020-12-01 20:49] LuiGiovanni commented on #840
Hello there @alewis! I would like to help with this, this is my first time contributing.

[2020-12-01 23:24] alewis commented on #840
Alright, maybe you could do the Jax version?

@wkostuch

[2020-12-02 10:16] mganahl opened #883 "get rid of Travis"
the travis build gets stuck quite often. We should move it to somewhere else

[2020-12-02 15:33] alewis commented on #883
What do you mean, somewhere else?

[2020-12-02 15:34] alewis commented on #883
I mean, we need a build system. What would we do instead?

[2020-12-02 15:47] mganahl commented on #883
Git actions for example
Adam Lewis <notifications@github.com> schrieb am Mi. 2. Dez. 2020 um 16:34:

[2020-12-02 15:53] mganahl commented on #883
I will setup a workflow using Actions. We can keep the Travis build as well for now, and phase it our later.

[2020-12-02 21:01] aeekayy commented on #800
@alewis @mganahl is this issue still relevant? If so, any details to share that may be helpful for me?

[2020-12-03 10:29] #883 closed

[2020-12-03 10:29] #882 closed

[2020-12-03 10:30] #881 closed

[2020-12-04 00:26] LuiGiovanni commented on #840
Sure thing! @alewis I'm sorry but this is the first time of me working on this project just to confirm I will work on the files in the Jax folder found inside the back end folder right?

TensorNetwork/tensornetwork/backends/jax

[2020-12-04 07:40] mganahl commented on #840
That's correct

[2020-12-04 18:16] LuiGiovanni commented on #840
Perfect, I'll get on it right away thank you! btw is there a place where we can communicate? Like matrix, slack, discord, or something? @mganahl @alewis

[2020-12-04 18:25] mganahl commented on #840
Thanks. I think github should be sufficient.

[2020-12-04 18:45] LuiGiovanni commented on #840
Perfect, I just want to confirm what I'm going to do, which is basically to implement the power function that wkostuch added to the abstract files, but implement them in the Jax files right? each file would be its own PR? @mganahl @alewis

[2020-12-04 18:51] mganahl commented on #840
that's right. There is only jax_backend.py that needs to be updated.

[2020-12-04 19:14] LuiGiovanni commented on #840
Perfect! Thanks so much for the help!

[2020-12-04 23:07] LuiGiovanni commented on #840
@mganahl I also need to update the jax_backend_test.py right?

[2020-12-05 17:01] LuiGiovanni commented on #840
Hi there! I believe that the power function has been implemented, is there anywhere else where this function needs to be implemented?

[2020-12-05 22:40] LuiGiovanni commented on #852
Hello there @alewis I'm interested in working on this issue has a PR been done? If not I would like to work on this.

[2020-12-06 08:01] LuiGiovanni commented on #852
Hello, please ignore this PR I made a mistake, the changes implemented for the Cholesky decomposition will be from a different PR.

[2020-12-06 18:40] LuiGiovanni commented on #852
Hello, I am sorry for the mess but #886 is the correct PR I was working on disregard #885 thank you.

[2020-12-06 22:44] LuiGiovanni commented on #852
@alewis @mganahl I have added the NotImplementedError function and it's respective test and made a PR for you to review.

[2020-12-07 17:32] alewis commented on #852
Looks good! Just a small fix.

[2020-12-07 19:33] LuiGiovanni commented on #852
@alewis Alright and what would that fix be? Also I will start implementing the Cholesky decomposition, quick question, why does Jax not have it's own decompositions file?

[2020-12-07 21:13] mganahl commented on #852
it uses the numpy decompositions.py file

[2020-12-07 21:54] LuiGiovanni commented on #852
Ok, I see, then I will start adding the function to that file and work my way from there, thank you!

[2020-12-08 19:08] LuiGiovanni commented on #840
Hello @alewis @mganahl After viewing all files in the backend, I notice the power method is missing in both the Pytorch and Symmetric backends, should I implement them there as well?

[2020-12-10 16:01] alewis opened #887 "Replace GMRES with a wrapper to the Jax version"
Jax proper now supports GMRES, and the version there should be better than ours in several ways. If we are willing to enforce that one have the latest Jax version we should replace our code with a wrapper.

[2020-12-12 07:46] vijaymocherla commented on #887
I was wondering if I could contribute to this? But, this my first time contributing to repository. Can anyone walk me through what needs to be done?

[2020-12-14 16:06] alewis commented on #887
Hey there,
Sounds great! But first we need to clarify if we are ready to drop support for earlier Jax versions. @mganahl  what do you think

[2020-12-14 16:36] mganahl commented on #887
SGTM

[2020-12-14 19:45] vijaymocherla commented on #887
Ok, then. @alewis if you don't mind, I would you be interested in walking though what needs to be done. I would be really helpful if you could point me to a place where I could start.

[2020-12-15 23:05] LuiGiovanni commented on #840
Hello @mganahl @alewis I was running pytest for pytorch_backend_test.py and I am receiving this error message at line 16, this is the output I get:

[2020-12-16 14:06] sr33dhar opened #888 "Obtaining Different results for the same code and data for different runs"
Hey Team TN,

I am using the tensornetwork package to create an MPS based Quantum Circuit Simulator and analysing the effect of truncated bond-dimensions on the circuits I am studying. Everything looked to be working fine except that in many instances, I get different results for different runs.

I cannot see where this source of randomness is coming from and would really appreciate any insight in

[2020-12-16 14:12] mganahl commented on #888
Hi @sr33dhar, it is unfortunately almost impossible to diagnose such a problem without any specific code example. How big are the differences that you are seeing? Is there any random initialization in your code? Did you try to set the seed of all random intializations?

[2020-12-16 14:30] sr33dhar commented on #888
Hi Martin, Thank you for your prompt response!

Let me try to find a code snippet that I can post publicly.
Also, no, there are no random initialisations.

Meanwhile, do you have any understanding of how "random" SVD operations are with numpy backend?
There have been multiple instances for me in the past where during one run, the SVD does not converge, but running the same code again without any c

[2020-12-16 16:55] alewis commented on #888
As Martin says it's not possible to diagnose a bug without an example that produces it.

The SVD with the NumPy backend just calls the NumPy SVD code. This should be deterministic.

[2020-12-16 16:59] alewis commented on #887
Hi,

Ok so the relevant code is in backends/jax/jax_backend.py. Basically you need to change lines 693-694 so that they call the gmres code in base Jax instead of the one we wrote in backends/jax/jitted_functions.py.

[2020-12-16 17:04] alewis commented on #840
Hard to say from this error message except that the call to torch.tensordot is for some reason failing. Did you change anything about either pytorch_backend.tensordot, the tensordot test, or the test file?

[2020-12-17 17:44] sr33dhar commented on #888
Hi @alewis,

I am quite new to this, so can you please elaborate on the NumPy SVD code being deterministic?
Also, there have been instances where I have had NumPy does not converge errors, but rerunning the same code with the same data sometimes resolves the issue. I found a similar thread here:
https://stackoverflow.com/questions/63761366/numpy-linalg-linalgerror-svd-did-not-converge-in-linear-le

[2020-12-17 18:06] mganahl commented on #888
Now that's a useful bit of information. The most likely reason the numpy SVD to throw this error is that the matrix contains NaN values. Sometimes you can also get it in single precision arithmetic for regular matrices, but I have only encountered this case once. Are you using single precision or double precision? Are you explicitly taking matrix inverses somewhere, or dividing by singular values

[2020-12-17 19:53] sr33dhar commented on #888
Thanks, Martin!

About the precision, all the numbers are float64. I tried increasing it to float128, but then got an error that complex256 is not supported by numpy linalg.

Also, I am not taking any explicit matrix inversions or dividing by singular values.
However, in the method, I am not normalising my states after truncation and hence the numbers can grow very small at times.

[2020-12-17 20:57] LuiGiovanni commented on #840
The only changes I had made to the PyTorch backend was the power function and the test for it, I just reverted those changes, and the error persists, something else is the culprit since I also compared the master file from GitHub to my own from my branch and they are the same.

[2020-12-17 22:14] mganahl commented on #840
can you open a pull request with the changes? I'll can have look tommorw

[2020-12-17 22:39] LuiGiovanni commented on #840
Sure thing, thanks!

[2021-01-01 04:01] 8bitmp3 commented on #529
@Thenerdstation @stavros11 @mganahl @sleichen Hi and HNY 🥳 Thanks for working on this awesome library and keeping the basic classifier example in https://github.com/Thenerdstation/TensorNetsForML and in the [Colab](https://colab.research.google.com/drive/107RZdET7OGIqpq_Ag9IHhGDHeecLHSwe). Can you help find some ML examples in JAX with TN? I think @Thenerdstation mentioned at NeurIPS 2019 and the

[2021-01-09 02:22] Papageno2 opened #896 "numpy.linalg.LinAlgError: SVD did not converge"
Thx for the current repo.

 I want to use `TensorNetwork` package to simulate time evolution of transverse ising model with itebd algorithm.
but it seems svd throws out error like this,  can anyone give answers or any hints?

- does the `split_node_full_svd` used in `apply_two_site_gate()` has parameter like `max_iter` or something else?
- are there demo code snippets for using `tn.InfiniteMPS` or

[2021-01-11 15:38] alewis commented on #896
I think there is a NaN or an Inf somewhere in imps_state

On Fri, Jan 8, 2021, 21:22 Papageno2 <notifications@github.com> wrote:

[2021-01-12 03:39] jemisjoky opened #897 "tn.reachable breaks when given tuples containing edges"
Here's a minimal working example to show what goes wrong:

[code]

Everything works fine when I use a list for edges, and it appears the issue is `tn.reachable` assuming that any list-like collection of edges is necessarily a list. Should be an easy fix, thanks :)

[2021-01-12 07:56] mganahl commented on #897
thanks @jemisjoky, should be fixed by today

[2021-01-12 12:36] mganahl opened #900 "jaxlib 0.1.58 breakes build"
Freezing to 0.1.57 for now. Opening issue to keep track of this

[2021-01-12 14:20] mganahl commented on #896
thanks for issue @Papageno2. I submitted a fix for the error. I'm not sure if the iTEBD actually converges to the right state (some quick tests indicate it always converges to a product state), so there could still be a bug somewhere. Let me know if there are any more issues

[2021-01-12 15:23] Papageno2 commented on #896
I think so, but I don't know how to check it out and why it occurs.

[2021-01-12 15:57] mganahl commented on #896
it was a precision issue

[2021-01-14 10:36] sr33dhar commented on #896
Hi @mganahl,
Sorry for the long absence again, but I believe this is related to the issue #888 I had raised too some time ago.
Has there been a resolution to this? Thanks again, Martin!

[2021-01-14 12:14] mganahl commented on #896
I submitted a fix, hopefully we'll pull it in today!

[2021-01-14 12:25] sr33dhar commented on #896
Can you please elaborate on what the issue was?
Thanks!

[2021-01-14 12:40] mganahl commented on #896
a precision problem. Canonicalize takes the sqrt of eigenvalues of left and right reduced density matrices. EVs of the rdm's grew small (order of precision), and due to finite precision arithmetic actually negative. np.sqrt of a negative float gives nan, producing the issue.

[2021-01-14 12:44] mganahl commented on #896
@sr33dhar I can't really tell though if this will solve your problem. Best you try it and let us know

[2021-01-14 21:24] #897 closed

[2021-01-21 18:31] sr33dhar commented on #888
Hi @mganahl and @alewis
Sorry again for the delay in producing reproducible code of this issue and thanks for your patience!

[2021-01-21 23:16] mganahl commented on #888
Hey @sr33dhar I just merged a patch for the infinite MPS, can you check if this fixes your issue? thanks!

[2021-01-22 19:36] alewis opened #904 "Documentation ~~~megathread~~~"
This is a ~~~megathread~~~ for tracking the various subtasks of finally repairing our documentation.

[2021-01-22 19:37] alewis opened #905 "Examples ~~~megathread~~~"
This is a ~~~megathread~~~ for tracking the addition of examples.

[2021-01-22 19:39] alewis commented on #904
- [ ] Update splash page documentation to include a tn.Tensor demonstration.

[2021-01-22 19:42] alewis commented on #905
Tasks will be listed here:

- [ ] Exact diagonalization
- [ ] vuMPS
- [ ] TEBD (MPS)
- [ ] TEBD (iPEPS)
- [ ] MERA
- [ ] Boundary MERA
- [ ] TRG
- [ ] TNR

[2021-01-25 20:28] mganahl opened #906 "fix krylov module imports"

[2021-01-26 21:40] mganahl opened #907 "add eigsh to linalg.krylov"

[2021-02-18 21:37] mganahl opened #908 "fix docstrings of krylov functions"
e.g. `eigs`

[2021-02-26 11:22] skothegh opened #910 "Module not found"
Hello,
I just installed TN on a second laptop using "pip3 install tensornetwork". It seemed to have installed everything fine, but when I import tensornetwork, it tells me "module not found".
As for my python installations: I first installed pip3, Anaconda, and then TN. Am I missing some libraries? I cannot remember doing anything else on the old machine.

[2021-02-26 11:26] mganahl commented on #910
it works on my laptop. Seems like an issue with your python installation. did you install inside a venv? If so maybe restart it.

[2021-02-26 11:30] skothegh commented on #910
Haven't tried the trusty old restart method, yet! What is a venv?

[2021-02-26 11:33] skothegh commented on #910
Haven't tried the trusty old restart method, yet! What is a venv?

[2021-02-26 11:40] mganahl commented on #910
it's a virtual environment. venvs help you separating different python setups from each other by generating encapsulated environments that do not know of each other (conda also uses virtual environments as well). This way you can't e.g. mess up your systemwide python installation by installing conflicting packages.

maybe try this in your terminal

[code]
now if you fire up an interpreter it shoul

[2021-02-26 12:01] skothegh commented on #910
Oof. I will look into that.

[2021-02-26 12:05] skothegh commented on #910
The problem was that I used pip3 install python. For some reason it works when I use pip.

[2021-02-26 12:57] #910 closed

[2021-03-16 15:25] shun-lin opened #911 "Question: How do I use TensorNetworkLayer to replace Dense Layers on Trained Model w/o re-train?"
Hi!

I have a `saved_model` with a few fully-connected layers (`fc_layers`), is it possible to transform the `weights` already learned from those `fc_layers` to the weights of `tn_layers`? Or do I have to retrain those tn_layers while freezing other layers? Thanks!

Sincerely,
Shun Lin

[2021-03-24 07:38] sr33dhar commented on #896
Hey @mganahl,

For smaller instances, this had fixed the problem,
but when I am now trying out simulations of 20 qubit MPS states, the same SVD issue arises.

I am trying to create a parametrised state with two parameters.

When applying no ways to limit the bond-dimension, I am getting SVD errors while using the apply_two_site_gate() function

This error arises only when the bond-dimension is hig

[2021-03-24 12:08] mganahl commented on #896
Hi @sr33dhar I looked at the code, and there is indeed something going on in numpy. The issue I believe arises because the singular values of the matrices you are creating are highly degenerate. I think that if you were to enforce a canonical form on the MPS, this would fix your problem, but I haven't tried it. Instead, I submitted a PR (similar to your PR, which is still open (sorry!)) that defau

[2021-03-24 12:11] mganahl commented on #896
Apart from the above, I noticed that the code you sent uses inconsistent dtypes, i.e. you are setting some dtypes to complex64, but others are float64 or complex128. In order to avoid any suprises there just set all types of all arrays to be the same

[2021-03-24 17:01] sr33dhar commented on #896
Thanks, @mganahl! :)

The code snippet I've provided is only part of what I'm trying to do, and for the method, I'm developing:

1.) I have to reduce the bond-dimension and make sure that all bond-dimensions do not cross a set threshold D_max

2.) After truncation, my states have to remain non-normalised.

So given these, are you suggesting that using the tn.FiniteMPS.canonicalize(normalize: bool

[2021-03-25 05:57] sr33dhar commented on #896
Also, @mganahl, in a more complete version of the code, I am also doing implicit truncations to the MPS state using a self-defined truncate_mps() function that takes an MPS state and returns a truncated state with all bond-dimensions <= a set limit, D_max.

I am doing this through SVD operations too and have never observed the "SVD did not converge" error there.
Not really sure if this is a coinci

[2021-03-25 06:20] sr33dhar commented on #896
Also, @mganahl, in a more complete version of the code, I am also doing implicit truncations to the MPS state using a self-defined truncate_mps() function that takes an MPS state and returns a truncated state with all bond-dimensions <= a set limit, D_max.

Attaching that code too here as a .txt file.
[Test_code2.txt](https://github.com/google/TensorNetwork/files/6202387/Test_code2.txt)

The same

[2021-03-25 09:35] mganahl commented on #896
Hi @sr33dhar, had a very quick look at your code. The truncation there will in many cases lead to non-optimal truncations, something that you definitely want to avoid. I submitted a PR that adds truncation to the MPS class via the `position` function. You can use that for truncating your MPS

[2021-03-26 19:41] mganahl commented on #911
Hi @shun-lin sorry for the late reply! Let me rope in @jacksonwb on this!

[2021-03-26 19:42] #900 closed

[2021-03-29 19:45] jacksonwb commented on #911
Hi @shun-lin you can extract the `weights` from a `fc_layer` in your `saved_model`, perform a decomposition and apply the properly decomposed weights to a `tn_layer` with the standard keras `set_weights` method. From there you can perform inference or fine tuning.  However we do not currently have an implementation of decomposition methods to each layer kernel from a dense layer so you would have

[2021-03-31 07:57] tanlin2013 opened #916 "Question: Is there a way to save tensors?"
In numpy, this can be acheived with *.npy or *.npz extension. Just wonder, given all supported backends in TensorNetwork, is there a unified way to save a bunch of tensors in a compressed and binary format file?

I have read the documentation for a while, but still couldn't find the saving functionality. Or perhaps I miss it somewhere :)

thanks!

[2021-03-31 12:08] mganahl commented on #916
Hi @tanlin2013 , unfortunately this is currently not supported. The `Node` class supports serialization to HDF5 format using h5py. You could initialize a `Node` using the data-array in `Tensor` and save that, if this helps.

[2021-03-31 15:16] mganahl commented on #916
If you are interested in contributing, PRs are always welcome!!

[2021-03-31 19:27] shun-lin commented on #911
Hi @jacksonwb,

Thanks for the quick response! I have a few follow-up questions:

1) Where can I find some references to apply the decomposed weights? Do you think setting decomposed weights on the converted `tn_layer` from the original `fc_layer` can coverage faster for fine-tuning than freeze other layers than train from scratch?
2) I think i'm interested in knowing the answer to this in the len

[2021-04-01 11:01] tanlin2013 commented on #916
Sounds nice! I would love to.

I have a small repo [tnpy](https://github.com/tanlin2013/tnpy) that is built on top of [TensorNetwork](https://github.com/google/TensorNetwork). I'm actaully about to implement TDVP and DMT for real-time evo. That's why I need to store MPS generated by DMRG.

[2021-04-01 12:51] raunakbhupal commented on #844
Hi. I'm new over here.
If this issue is still open then can I add PINV to other backends?

[2021-04-01 14:15] alewis commented on #844
That’d be great!

On Thu, Apr 1, 2021 at 8:51 AM Raunak Bhupal ***@***.***>
wrote:

[2021-04-01 14:18] raunakbhupal commented on #844
Since I'm new and this is my first time
Could you please direct me to which other backends shall I make those changes?

[2021-04-01 21:04] jacksonwb commented on #911
If the `fc_layer` in question is really large decomposing into a `tn_layer` may very well be faster than training that layer from scratch. Particularly for more complex tn structures where the backprop gets more expensive. Decomposing the weights can be done using the TensorNetwork Library, but the details about bond dimension to use, and how to efficiently do the decomposition for a particular to

[2021-04-03 05:50] tanlin2013 opened #919 "PEP 8: E111 indentation is not a multiple of four"
This is just a minor coding style issue, as PEP 8 recommends indentation in Python to be a multiple of 4.

[2021-04-04 19:23] sr33dhar commented on #896
Hey @mganahl, are these changes accessible by just re-installing the latest version? Sorry, I'm still very new to Git.

[2021-04-05 07:40] mganahl commented on #896
it's not released yet. You can clone the PR to your local machine and install it there

[2021-04-06 06:49] mganahl commented on #919
that's right, though many google projects use 2 spaces as indents (not sure why, @jacksonwb ?) . I'd say we keep 2 for now for consistency.

[2021-04-06 06:52] mganahl commented on #916
nice! Let us know of any additional missing functionality, and we'll try to add it.

[2021-04-06 16:43] jacksonwb commented on #916
There is serialization support that exports networks to json, with array formats stored in their backend specified format. Currently the only backend that currently implements the the `serialize/deserialize_tensor` methods is the numpy backend, but this can be very easily added to other backends.

#824

[2021-04-22 08:20] #919 closed

[2021-04-23 21:10] timechild666 opened #921 "Tensorized GRU/LSTM for tensorflow"
Any plans for adding tensorized rnn architectures here? Such as Tensor-Train GRU/LSTM.

Basically like this here https://github.com/onucharles/tensorized-rnn but for tensorflow/tensornetwork.

Thanks for advance
Martin

[2021-04-30 19:49] sr33dhar commented on #896
Hey @mganahl,

After the new update (version 0.4.5), the number of SVD not converging errors have definitely reduced, but they still seem to be happening. I've stopped using my self-defined truncation function, and am now using the built-in truncation option from the apply_two_site_gate() function.

Yet for the code snippet attached, I am getting an 'SVD did not converge' error after ~30 iteration

[2021-04-30 19:59] sr33dhar commented on #896
Hey @mganahl,

After the new update (version 0.4.5), the number of SVD not converging errors have definitely reduced, but they still seem to be happening. I've stopped using my self-defined truncation function, and am now using the built-in truncation option from the apply_two_site_gate() function.

Yet for the code snippet attached, I am getting an 'SVD did not converge' error after ~30 iteration

[2021-04-30 20:16] mganahl commented on #896
thanks for the message! Could you isolate parameter values for which the code breaks, so that I don't have to wait for 30 iterations to finish until the error appears? Thanks!

[2021-05-01 17:38] sr33dhar commented on #896
Hey @mganahl,

Thanks again for your prompt response!

1.) Previously, for me, the SVD error was very random and running the same code with the same parameter values sometimes solved the issue. This is why in the code attached above [Test_code_III.txt], I was initialising the parameters with a random number each time.

2.) But now, the error looks to be more deterministic. From the few times, I ra

[2021-05-01 17:56] sr33dhar commented on #896
2.) The error does not look to be so deterministic anymore.
Re-running the same code resulted in no error for the first 5 parameter sets. Not really sure why though.

[2021-05-03 06:45] mganahl commented on #896
Hi @sr33dhar, I had a look at it. This is indeed a bug, but with the numpy package. The problem is caused by the matrix you are trying to sv decompose. The matrix essentially is highly singular, i.e. it has very many singular values at or very close to machine epsilon. lapack (the underlying fortran library that numpy is using) apparently has some trouble if the singular value spectrum has this ki

[2021-05-09 17:18] nquesada opened #922 "How to cite"
Is there a standard way to cite this project? Would it be possible for you to provide a standard `bibtex` entry?

[2021-05-09 20:29] 8bitmp3 commented on #922
Best guess:

- TensorNetwork: A Library for Physics and Machine Learning  https://arxiv.org/abs/1905.01330:

[code]

The following are related, since they're listed on TN's README:

- TensorNetwork on TensorFlow: A Spin Chain Application Using Tree Tensor Networks https://arxiv.org/abs/1905.01331

[code]

- TensorNetwork on TensorFlow: Entanglement Renormalization for quantum critical lattice mode

[2021-05-31 20:44] mganahl opened #925 "broken build on master"
new releases of tensorflow and h5py break the build.

[2021-06-01 21:13] mganahl commented on #921
Hi @timechild666, sorry for the very late reply! The work above is very interesting, but adding this to the repository seems a bit out of scope. If you plan to use tensornetwork to build something along these lines we'd be curious to hear about it tho!

[2021-06-01 21:16] #896 closed

[2021-07-04 11:06] rajpratyush commented on #906
can i take up this issue??

[2021-07-05 06:06] mganahl commented on #906
Certainly @rajpratyush!, let me know if you have any questions!

[2021-07-05 08:30] rajpratyush commented on #906
@mganahl could you guide me on how to get strted

[2021-07-06 09:02] mganahl commented on #906
This is mostly about exposing functions from the linalg/krylov.py module at the linalg-level, i.e. add these functions to `linalg/__init__.py`

[2021-08-17 19:42] kaushikroychowdhury commented on #795
I want to work on this. How to start can you guide. I am new to contribution.
Thank you .

[2021-08-17 19:46] kaushikroychowdhury commented on #795
What is contractors level ?

[2021-08-18 05:57] AditiThirdEye commented on #203
If this issue is still needed to be solved I would like to work it.

[2021-08-18 10:27] AditiThirdEye commented on #852
Hello, can this issue be assigned to me if the PR not done yet?

[2021-08-19 06:42] #925 closed

[2021-08-19 12:31] parthduggal commented on #293
Hello, I would like to contribute here as well. Is there any more work that I can do or is this issue closed ?

[2021-08-20 07:36] NoobMaster1999 commented on #904
II want to solve this issue. Can anyone please assign me the issue..???

[2021-08-20 11:23] Shashwatpandey4 commented on #907
Hi, can you please elaborate

[2021-08-20 18:25] Shashwatpandey4 commented on #907
Hi, i would be happy to take this issue

[2021-08-20 18:44] Shashwatpandey4 commented on #853
Hi, i would love to work on this issue

[2021-08-21 13:50] GouravWadhwa commented on #844
Hi @alewis, I am new to Open-source and would love to contribute.
Please let me know which other backends do we need to add the PINV function

[2021-08-21 13:52] GouravWadhwa commented on #800
Hi @alewis, I am new to open source and since this is a good first issue, I would like to contribute. Please let me know the details and relevance of this issue

[2021-08-22 19:54] DefUs3r commented on #354
Hi @Thenerdstation can I work on this enhancement? Please let me know where I can start from.

[2021-08-23 06:17] Alfa-Shashank commented on #800
Hi @alewis @mganahl, I am new to open source, I would like to contribute too. Can you please share the relevant details?

[2021-08-24 03:39] pragyasrivastava0805 commented on #800
Hi @alewis @mganahl ,I am very new to open source.This issue seems interesting to me,please  share the details.I would like to work on it

[2021-08-24 15:45] #922 closed

[2021-08-24 15:45] #921 closed

[2021-08-24 15:48] alewis commented on #800
Maybe you guys can work together? Basically an initializer must be added so that when a tensor is contracted about a given pivot index, the result is orthogonal. That is, the initializer should create a random tensor, construct its QR decomposition with a given pivot argument, and then return the Q factor.

[2021-08-24 15:51] alewis commented on #844
I believe it has only been added to the abstract backend (the base class). It needs to be added to all the other ones. Maybe you guys can divide the work?

[2021-08-24 15:54] alewis commented on #293
This would require significant physics knowledge, but if you'd like to add tutorials on anything described above please go ahead. What did you have in mind?

[2021-08-24 15:57] alewis commented on #795
I think this is fixed? I see ncon_solver in the contractors __init__.py

[2021-08-24 16:14] garvitgupta08 commented on #840
If this issue is still open, could it be assigned to me?

[2021-08-24 16:15] parthduggal commented on #293
okay i'll try and add tutorials as mentioned above

[2021-08-25 03:37] themnvrao76 commented on #852
hey is this still open? can I work on this?

[2021-08-25 13:57] prat1999 commented on #852
Is this issue still open? Can I work on it?

[2021-08-25 15:43] pragyasrivastava0805 commented on #800
@alewis do the changes need to be done here https://github.com/google/TensorNetwork/blob/master/tensornetwork/linalg/initialization.py
I am very new to open source.Pls help

[2021-08-28 22:53] priorigratia commented on #852
Can I work on this issue?

[2021-08-29 13:47] ankitasankars commented on #852
Hello, Can I use this issue as my first contribution? I'm new so please can someone guide me?

[2021-08-30 02:35] adarshiremath commented on #744
Hi Guys I see the issue is still open, can I work on it, but I'm actually new to open source. It would be really grateful if someone could help me out with it.

[2021-08-30 06:51] pragyasrivastava0805 commented on #800
@alewis could you please review my PR.I need it as a part of MSR recruiting

[2021-08-30 06:53] pragyasrivastava0805 commented on #800
also please give me an intuitive explanation for doing such an initialization

[2021-08-30 06:54] pragyasrivastava0805 commented on #800
@alewis @mganahl

[2021-08-30 09:58] pragyasrivastava0805 opened #933 "How to run the existing unit tests in the project to verify that my changes are not breaking anything in the existing codebase?"

[2021-08-31 04:51] krbhanushali commented on #844
@alewis I added a PR https://github.com/google/TensorNetwork/pull/935. I ran the pytests but am not sure how to run the workflow checks. Please suggest any improvements which can be made in this pr.

[2021-08-31 07:14] thanujkumar1999 commented on #916
tf.io.serialize_tensor(
    tensor, name=None
)

[2021-09-07 10:07] mganahl commented on #933
you can run pytest and pylint locally on your computer. Once you submit a PR it will also trigger a series of checks on github

[2021-09-07 10:27] mganahl commented on #744
Hi, and sorry for the late reply! Basically, we need a tutorial that explains how to use the different methods for finding a contraction path of a network. You can either write a small colab notebook, and we'll link to it on the main page, or you can write a `.rst` file and we'll add it to the documentation.

[2021-09-07 10:32] mganahl commented on #852
@prat1999 already opened a PR on this (maybe you guys can work together on this)

[2021-09-07 10:43] mganahl commented on #907
hey @tre3x sure thing! Feel free to open a PR. Do you need any help to get started?

[2021-09-07 10:50] mganahl commented on #795
yes it is! thanks!

[2021-09-07 10:50] #795 closed

[2021-09-24 06:42] refraction-ray opened #940 "Buggy interplay between ``tf.vectorized_map`` and ``tn.contractors.*``"
When a function ``f`` has, say ``tn.contractors.optimal()`` inside, the results of the function is of course right, but the results for ``tf.vectorized_map(f, batched_input)`` might be wrong.
See a full demo script at  https://gist.github.com/refraction-ray/3a24e1ca09d9c2850d62b40cbf57946c.
The results are always correct for individual input (jitted or not) and for ``jax.vmap`` interface but becom

[2021-09-24 06:50] mganahl commented on #940
Thanks, I'll take a look!

[2021-09-24 06:52] refraction-ray commented on #940
Actually the bug is not necessarily related to ``tn.contractors.*``. I found the same issue persists, even we only use ``contract_between`` in the function:

[code]

[2021-09-24 07:04] mganahl commented on #940
I had a look at the script you linked. The following things would be helpful in order to analyse the problem:
1. Could you try to reduce the program to a minimal reproducing program (change to explicitly use tensorflow backend, remove unneeded code, aso)?
2. Explicitly state what the input to the program is (e.g. what types, what dimensions of arrays, aso)
3.  Explicitly state what the program is

[2021-09-24 07:16] refraction-ray commented on #940
@mganahl , thanks for your help.

1. Actually I have try my best to keep the script a minimal to reproduce the bug (smaller network contraction could have no bug), and the more compact script can be found below with only tf backend support:

[code]

2. the program we use is ``u0``, whose input  is a shape [1] complex64 array,
3. and it computes a tensor contraction with the digram shown in u0's do

[2021-09-24 09:24] mganahl commented on #940
thanks! I have tracked down the problem to our tensordot2.py module, a wrapper around tf.tensordot which is a bit more efficient than tensorflow's tensordot function. Since the this module is relatively old, I think we may be able to actually remove it, and simply use tf.tensordot, which fixes the bug. I've prepared a PR with the fix, should be in soon! Thanks again for pointing this out!

[2021-09-24 09:36] refraction-ray commented on #940
wow, thanks so much for the quick response!
``tensordot2`` indeed is the source of the problem, with plain ``tf.tensordot``, the demo script works as expected!

[2021-09-27 08:13] mganahl commented on #940
digging deeper, this is in fact a tensorflow bug. Filed a bug report here https://github.com/tensorflow/tensorflow/issues/52148.

[2021-09-27 19:36] mganahl opened #942 "revert to `tensordot2` once https://github.com/tensorflow/tensorflow/issues/52148 is fixed"

[2021-09-30 21:02] crawlingcub opened #943 "Flaky Test when seed not used"
The test `test_max_truncation_error` in `tensornetwork/backends/symmetric/decompositions_test.py` [link](https://github.com/google/TensorNetwork/blob/edf3f345640c64595b4ad1002bebf4a008988b3e/tensornetwork/backends/symmetric/decompositions_test.py#L90) almost always fails when the seed [here](https://github.com/google/TensorNetwork/blob/edf3f345640c64595b4ad1002bebf4a008988b3e/tensornetwork/backend

[2021-10-01 08:07] mganahl commented on #943
@crawlingcub thanks for the message!

The reason the tests fail is because thesymmetric  svd decomposition behaves a bit strangely: if max_truncation_error is chosen so large that all singular values would be truncated  then instead of truncating all of them it leaves the largest one.

I'll change it to actually perform the full truncation.

You are mentioning that this happens for test-parameters

[2021-10-01 08:08] #940 closed

[2021-10-01 08:24] crawlingcub commented on #943
I see. Would you then call this a bug in the implementation?

My bad, it should be `[3-float64]` and `[3-complex128]`.

Also, do you think that the seed setting can now be removed?

[2021-10-01 08:28] crawlingcub commented on #943
I also found some other tests which have similar behavior. I can send them, if you are interested! Thanks!

[2021-10-01 08:45] mganahl commented on #943
I wouldn't call it a bug, since this was intentional behaviour.
In general we prefer to seed tests for ease of reproducability. I changed the test though to run a bunch of different seed values, just to make sure

[2021-10-01 08:46] mganahl commented on #943
Feel free to post any other tests or use-cases with similar issues. We can look at them and decide if they need to be updated.

[2021-10-01 16:52] crawlingcub opened #945 "Flaky test (always fails) when seeds are removed"
Hi,

The test `test_randn_non_zero_imag` in `tensornetwork/backends/symmetric/symmetric_backend_test.py` [link](https://github.com/google/TensorNetwork/blob/d87ee43b0b9fe589e15d53795f102aa8e7370eb5/tensornetwork/backends/symmetric/symmetric_backend_test.py#L480) always fails when the seeds are removed. The test only fails for parameters: `[2-complex64-2]` and `[2-complex128-2]`, but passes for all

[2021-10-01 16:57] crawlingcub commented on #945
Adding @mganahl

[2021-10-01 17:29] crawlingcub opened #946 "Test `test_gmres_on_larger_random_problem` fails without seeds"
Hi,

The test `test_gmres_on_larger_random_problem` in `tensornetwork/backends/numpy/numpy_backend_test.py` [link](https://github.com/google/TensorNetwork/blob/d87ee43b0b9fe589e15d53795f102aa8e7370eb5/tensornetwork/backends/numpy/numpy_backend_test.py#L481) always fails (500 fails out of 500 runs) for `[float16]` parameter.

The interesting part here is that the  `err` and `max(rtol, atol)` are al

[2021-10-03 11:54] saeedjahromi opened #947 "symmetric backend very slow for PEPS tensors"
Hey dev team.
I have been working on a PEPS algorithms for simulating 2D fermionic systems with the symmetric backend and it turned out the symmetric backend is very slow for PEPS tensors. I did some profiling and found that the bottleneck is the slow performance of the functions in the blocksparse_utils.py file which mainly contributes to the _find_diagonal_sparse_blocks() and _find_transposed_di

[2021-10-04 06:53] mganahl commented on #947
Hi @saeedjahromi, thank you for the message! Great to hear that you are using the library for PEPS.

You are saying that the code is very slow. What is the baseline you are comparing it to (plain numpy, other symmetric tensor code)?  Also, are you doing variational optimization, CTM, or something else? How large are your bond dimensions?

The functions you are mentioning are computing the symmetry

[2021-10-05 06:31] #943 closed

[2021-10-06 08:42] saeedjahromi commented on #947
Hi @mganahl Thanks for your response and helpful remarks. I have designed a fermionic (symmetric) iPEPS code which currently uses simple update based on local SVD for updating the PEPS tensors and later on a CTMRG algorithm for approximating the contraction of the whole network and variational calculation of the expectation values.

The bottleneck in the simple update is that since it is an iterat

[2021-10-06 14:19] mganahl commented on #947
Hi Saeed, thanks for the explanations. Would it be possible for you to
prepare a small script which runs benchmarks for the cases you were
mentioning? You can include mhaurus code as well, I am familiar with it.
This would help us pin down the issue and find a solution.

Thanks!

Saeed S. Jahromi ***@***.***> schrieb am Mi. 6. Okt. 2021 um
10:42:

[2021-10-07 08:57] saeedjahromi commented on #947
Sure I will prepare a script to benchmark both codes against each other say for CTMRG algorithm.

[2021-10-17 19:43] MzNyza40 opened #948 "Home Network"
Help troubleshooting

[2021-10-21 09:01] refraction-ray commented on #940
Even after replacing `tensordot2` with `tensordot`, the buggy interplay between `tf.vectorized_map` and possibly `tf.matmul` remains for gradient evaluation (forward evaluation is ok). See the demo below

[code]

I guess the reason behind it is that the backward evaluation on `tf.contract_between(outer_product=True)` still involves `tf.matmul` op? Can we have a workaround to get correct gradient e

[2021-10-21 09:05] refraction-ray commented on #942
Even without ``tensordot2``,  bad interplay between ``tf.vectorized_map`` and complex valued ops (maybe still ``tf.matmul``) can still emerge for gradient evaluations, see https://github.com/google/TensorNetwork/issues/940#issuecomment-948405655

[2021-10-21 09:16] mganahl commented on #940
Thanks @refraction-ray, I'll take a look.

[2021-10-21 12:03] refraction-ray commented on #940
The reason may be that the grad of `matmul` involves the `transpose_a` and `transpose_b` attr, see https://github.com/tensorflow/tensorflow/blob/3fbcdd010b4290c05f0c72a9b23d97664fbb595e/tensorflow/python/ops/math_grad.py#L1721-L1751.

And by directly hacking the tensorflow source from https://github.com/tensorflow/tensorflow/blob/3fbcdd010b4290c05f0c72a9b23d97664fbb595e/tensorflow/python/ops/math_

[2021-10-27 19:07] veya2ztn opened #949 "lack sqrt operation in tensornetwork/matrixproductstates/infinite_mps.py"
the code location:
tensornetwork/matrixproductstates/infinite_mps.py
line 287 to 298

[code]
The `lam` is the singular value after SVD.
When it contracte into the first tensor (i.e. `self.tensor[0]`) and the last tensor (i.e. `self.tensor[1]`), it should be `sqrt(lam)` not `lam` to keep the whole MPS invariant. or as the commend said, only absorb connector to left or right tensor.

so the right co

[2021-10-28 15:59] AGaliciaMartinez opened #950 "TensorNetwork backend for QuTiP."
I'm currently implementing a TensorNetwork backend for QuTiP [1, 2]. I'd like to use the QuOperator included in TensorNetwork [3], but I see it is not included in the main documentation page and it is not importable because its package folder is lacking an `__init__` file.

What is the status of QuOperator?

If the intention is to support it, I can offer some help maintaining it if there is a core

[2021-10-29 07:10] mganahl commented on #950
Hi @AGaliciaMartinez thanks for the message.  We added `QuOperator`  a while ago and it hasn't evolved since then. We are not planning to remove it, but at this point there are no plans to develop it further either. Using tensor networks for simulating quantum systems is certainly very interesting, and it would be great if our package can help you with that.

Regarding PR reviews I can certainly d

[2021-10-29 16:50] AGaliciaMartinez commented on #950
What extra functionalities we will require is not clear yet as we are on the early stages of the project and we are figuring out which changes we need to in our side to accommodate a tensor network backed. But example of those could be the conjugation or the addition of two `QuOperator`'s. These are by no means critical to be on your side as our dispatching does not necessarily rely on the native

[2021-11-05 08:37] refraction-ray opened #952 "Bug for numpy backend ``sum`` method"
See source in https://github.com/google/TensorNetwork/blob/master/tensornetwork/backends/numpy/numpy_backend.py#L607.
[code]
Therefore, ``sum(tensor)`` raises error for ``tuple(None)``

[2021-11-05 11:44] mganahl commented on #952
thanks! Could you add a few lines regarding expected behaviour?

[2021-11-05 12:04] refraction-ray commented on #952
I guess ``return np.sum(tensor, axis=axis, keepdims=keepdims)`` is enough? Actually no idea why there is a ``tuple``

[2021-11-18 01:10] refraction-ray opened #953 "SVD on jax backend and thus ``split_node`` cannot be jitted when ``max_truncation_err`` is set"
SVD and ``split_node`` are ok on tensorflow backend with tensorflow jit:

[code]

But it fails on jax backend as:

[code]

The error is raised from svd operation in ``backends/numpy/decompositions.py``: ``num_sing_vals_keep = min(max_singular_values, num_sing_vals_err)`` as ``ConcretizationTypeError: Abstract tracer value encountered where concrete value is expected:``.

This error is actually as

[2021-11-21 07:30] SUSYUSTC opened #954 "Bug of setting `center_position` in `apply_two_site_gate` when there's no truncation"
In source file matrixproductstates/base_mps.py
function `apply_two_site_gate`
line 583-592:
[code]
This code block corresponds to the case that no truncation is performed when applying a two site gate.
Since `site1` is left to `site2`, and that all nodes except the center one should be unitary after the operations, one should use `rq` if `center_position == site1` and `qr` if `center_position == s

[2021-12-04 16:50] JustinS6626 opened #955 "Quantum hardware system integration with TensorNetwork"
Is it possible to use quantum hardware systems, such as IBM quantum and Rigetti, as backends for TensorNetwork?

[2021-12-22 20:10] JustinS6626 opened #957 "Missing code for TensorNetwork Machine Learning"
I've been looking for the code that goes with the article "TensorNetwork for Machine Learning" by Efthymiou, Hidary, and Leichenauer (2019), but I haven't been able to find it in any of the TensorNetwork versions. Is there any chance that it could be posted again? Thank you very much!

[2022-01-17 14:11] mganahl commented on #957
Hi!
Sorry for the late reply. See issue https://github.com/google/TensorNetwork/issues/529 for details

[2022-01-21 06:28] SUSYUSTC opened #959 "`backend.item` in MPS calculation is incompatible with autograd in jax"
In file https://github.com/google/TensorNetwork/blob/master/tensornetwork/matrixproductstates/base_mps.py,
line 319: `res.append(self.backend.item(result.tensor))`
and line 479 `return [self.backend.item(o) for o in c]`,
the using of `self.backend.item` is incompatible with autograd in jax (and maybe also other backends).
I haven't checked with other files so those files might have similar issues.

[2022-01-21 19:59] mganahl commented on #959
hi, and thanks for the message!
Can you post the full error message as well? thanks!

[2022-01-23 22:08] SUSYUSTC commented on #959
The full output is
[code]

[2022-03-31 16:02] timechild666 opened #960 "The lack of tensor-train RNNs for latest tf/keras"
Hey, pardon for posting a similar issue twice, but I think this matter needs to some attention.
There are no proper working tensor-train RNNs for the latest tf/keras which is very odd to me. It would  be fantastic to process sequences with this kind of power and speed.

As this is the most popular and active tensor library maybe you guys could give some serious thought on this matter?

Best regard

[2022-05-02 07:31] ronf6co commented on #203
was it fixed in the main package? how do I use the fixed version?

[2022-05-10 11:30] gefux commented on #896
Hi all!
I believe my recent PR #962 might be of help here. With the fallback to the _gesvd LAPACK routine all examples in the [Test_code_IV.txt ](https://github.com/google/TensorNetwork/files/6410047/Test_code_IV.txt) worked reliably,  at least for me. I've run them all 5 times now. Is that also true for you, @sr33dhar?

[2022-07-01 12:27] HenryJaQiu commented on #960
I agree with that. Tensor-train RNNs perform well on several tasks.

[2022-07-06 08:59] gmagnifico opened #963 "Parallelism Contractors"
Hi, I have a code in which the most computationally expensive part is the contraction of the whole network, that is composed by a number of tensors usually larger than 15/20. I am using the functions "contractors.auto" and the jax backend, but I notice that there is no parallelism. The code sees the GPU but its usage is always at 0%. On CPU the code uses just one core.

What are the best ways to s

[2022-07-07 05:58] mganahl commented on #963
hi @gmagnifico. Can you post a minimal example code here? Did you set up jax properly to use the GPU?

[2022-07-23 15:07] sr33dhar opened #965 "Question: Vector to FiniteMPS?"
Hi,

Does there exist a function that takes a finite-dimensional quantum state expressed as a 2^n x 1 vector and returns the same state in a FiniteMPS form?

Thank you!

[2022-08-25 15:39] BitGeek29 commented on #744
Hi, I see the issue is still open, can I work on it.